<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="social-icons">
          <li class="social-icon">
            <a href="https://www.facebook.com/airbitz">
              <i class="fa fa-facebook-square"></i> <span class="social-text">Facebook</span>
            </a>
          </li>
          <li class="social-icon">
            <a href="https://twitter.com/airbitz">
              <i class="fa fa-twitter-square"></i> <span class="social-text">Twitter</span>
            </a>
          </li>
          <li class="social-icon">
            <a href="https://plus.google.com/118173667510609425617" rel="publisher">
              <i class="fa fa-google-plus-square"></i> <span class="social-text">Google</span>
            </a>
          </li>
        </ul>
        <div class="site-copy-info">
          &copy; {% now "Y" %} AirBitz Inc |
          <a href="{% url 'page_bitcoin_wallet' %}" title="Bitcoin Wallet">Bitcoin Wallet</a> |
          <a href="https://weusecoins.com">About Bitcoin</a>
          <a href="https://airbitz.co/go/about/" class="">About Us</a> |
          <a href="#" data-uv-trigger>Contact Us</a> |

          <div class="schema-markup" itemscope itemtype="http://schema.org/LocalBusiness">
            <span itemprop="name"><strong>Airbitz</strong></span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">311 4th Ave #413</span>
              <span itemprop="addressLocality">San Diego</span> <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92101</span><br>
              <span itemprop="telephone">+1 619-800-0540</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>