<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="site-copy-info">
          <div class="schema-markup" itemscope itemtype="http://schema.org/LocalBusiness">
            <span itemprop="name"><strong>Airbitz</strong></span> |
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">311 4th Ave #413</span>
              <span itemprop="addressLocality">San Diego</span> <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">92101</span> |
              <span itemprop="telephone">+1 619-800-0540</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>