{% block head_seo_social %}

    {% block seo_meta %}
        <title>{% block title %}Bitcoin Wallet and Business Directory{% endblock title %} | Airbitz</title>
        <meta name="description" content="{% block meta_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory{% endblock meta_description %}">
        <meta name="news_keywords" content="{% block meta_news_keywords %}Local Bitcoin Business,Bitcoin Food,Bitcoin Friendly Business{% endblock meta_news_keywords %}">
    {% endblock seo_meta %}

    {% block og_meta %}
        <meta property="og:title" content="{% block og_title %}Airbitz Bitcoin Wallet and Directory{% endblock og_title %}">
        <meta property="og:description" content="{% block og_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory{% endblock og_description %}">
        <meta property="og:type" content="{% block og_type %}Article{% endblock og_type %}">
        <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{% endblock og_url %}">
        <meta property="og:image" content="{% block og_image %}{{ request.build_absolute_uri }}/static/img/og-home.jpg{% endblock og_image %}">
        <meta property="og:site_name" content="{% block og_site_name %}Airbitz{% endblock og_site_name %}">
        <meta property="fb:admins" content="{% block og_fb_admins %}{% endblock og_fb_admins %}">
    {% endblock og_meta %}

    {% block twitter_meta %}
        <meta name="twitter:card" content="{% block twitter_summary %}The mobile wallet and business directory bringing Bitcoin to the masses{% endblock twitter_summary %}">
        <meta name="twitter:url" content="{% block twitter_url %}{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{% endblock twitter_url %}">
        <meta name="twitter:title" content="{% block twitter_title %}Airbitz Bitcoin Wallet and Directory{% endblock twitter_title %}">
        <meta name="twitter:description" content="{% block twitter_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory{% endblock twitter_description %}">
        <meta name="twitter:image" content="{% block twitter_image %}{{ request.build_absolute_uri }}/static/img/og-home.jpg{% endblock twitter_image %}">
    {% endblock twitter_meta %}

{% endblock head_seo_social %}