{% load compressed %}
{% load google_analytics %}

<!doctype html>
<html>
    <head>
        <meta name="google-site-verification" content="KKMUdX_TFC0dy0XA-Tb_HPjaiGLu8OJbOqdDXcCgV48" />
        {% block head %}
            <meta name="csrf-token" content="{{csrf_token}}">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            <title>{% block title %}Airbitz | Bitcoin Business Directory{% endblock title %}</title>
            <meta name="viewport" content="width=device-width">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

            <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
            {% compressed_css 'global' %}
        {% endblock head %}
    </head>
    <body>
        <div id="wrap">
            {% block top_bg %}{% endblock %}

            {% block topbar %}

                {% include '_top_navbar.html' %}

            {% endblock topbar %}


        {% if user.is_superuser %}

        <nav class="navbar navbar-admin navbar-ab navbar-fixed-bottom" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="close btn btn-link" aria-hidden="true" title="Hide Admin Bar"><i class="fa fa-times-circle-o"></i></button>
                        <a class="btn btn-default" href="{% url 'mgmt_dashboard' %}"><i class="fa fa-th-large"></i> Dashboard</a>
                        {% block admin_buttons %}{% endblock admin_buttons %}
                    </div>
                </div>
            </div>
        </nav>

        {% endif %}


            <div class="main-content container">
                {% block message %}
                    {% if messages %}
                        <div class="row">
                            {% for message in messages %}
                                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock message %}

                {% block body %}
                {% endblock body %}
            </div><!-- /.container -->


        </div><!-- /#wrap -->

        {% block footer %}
            <div id="footer">
                <div class="container">
                    <p class="text-center">&copy; {% now "Y" %} - AirBitz</p>
                </div>
            </div>
        {% endblock footer %}

        {% block javascript_headers %}
            {% compressed_js 'core' %}
        {% endblock javascript_headers %}
        {% block javascript %}
            <script type="text/javascript">
                $(function() {
                    AB.setup();
                    AB.addLocationSearch($('input.location'));
                    AB.addPlaceSearch($('input.term'));
                });
            </script>

            <script>
            // Include the UserVoice JavaScript SDK (only needed once on a page)
            UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/sf1HfQGz9aR6JlwkmTvKbQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

            //
            // UserVoice Javascript SDK developer documentation:
            // https://www.uservoice.com/o/javascript-sdk
            //

            // Set colors
            UserVoice.push(['set', {
              accent_color: '#448dd6',
              trigger_color: 'white',
              trigger_background_color: '#6aba2e'
            }]);

            // Identify the user and pass traits
            // To enable, replace sample data with actual user traits and uncomment the line
            UserVoice.push(['identify', {
              //email:      'john.doe@example.com', // User’s email address
              //name:       'John Doe', // User’s real name
              //created_at: 1364406966, // Unix timestamp for the date the user signed up
              //id:         123, // Optional: Unique id of the user (if set, this should not change)
              //type:       'Owner', // Optional: segment your users by type
              //account: {
              //  id:           123, // Optional: associate multiple users with a single account
              //  name:         'Acme, Co.', // Account name
              //  created_at:   1364406966, // Unix timestamp for the date the account was created
              //  monthly_rate: 9.99, // Decimal; monthly rate of the account
              //  ltv:          1495.00, // Decimal; lifetime value of the account
              //  plan:         'Enhanced' // Plan name for the account
              //}
            }]);

            // Add default trigger to the bottom-right corner of the window:
            UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

            // Or, use your own custom trigger:
            //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

            // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
            UserVoice.push(['autoprompt', {}]);
            </script>

            {% google_analytics %}
        {% endblock javascript %}
    </body>
</html>

