{% load compressed %}
{% load google_analytics %}
{% load absolute %}

<!doctype html>
<html {% block html_open_tag %}{% endblock html_open_tag %}>
    <head>
        <meta name="google-site-verification" content="KKMUdX_TFC0dy0XA-Tb_HPjaiGLu8OJbOqdDXcCgV48" />
        {% block head %}
            <meta name="csrf-token" content="{{csrf_token}}">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            {% block head_seo_social %}

                {% block seo_meta %}
                    <title>{% block title %}Bitcoin Wallet and Business Directory{% endblock title %} | Airbitz</title>
                    <meta name="description" content="{% block meta_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock meta_description %}">
                    <meta name="news_keywords" content="{% block meta_news_keywords %}Local Bitcoin Business,Bitcoin Food,Bitcoin Friendly Business{% endblock meta_news_keywords %}">
                {% endblock seo_meta %}

                {% block og_meta %}
                    <meta property="og:title" content="{% block og_title %}Airbitz Bitcoin Wallet and Directory{% endblock og_title %}">
                    <meta property="og:description" content="{% block og_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock og_description %}">
                    <meta property="og:type" content="{% block og_type %}Article{% endblock og_type %}">
                    <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock og_url %}">
                    <meta property="og:image" content="{% block og_image %}{{ ABSOLUTE_ROOT_URL }}static/img/og-home.jpg{% endblock og_image %}">
                    <meta property="og:site_name" content="{% block og_site_name %}Airbitz Bitcoin Wallet & Directory{% endblock og_site_name %}">
            {#        <meta property="fb:admins" content="{% block og_fb_admins %}{% endblock og_fb_admins %}">#}
                {% endblock og_meta %}

                {% block twitter_meta %}
                    <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock twitter_card %}">
                    <meta name="twitter:site" content="{% block twitter_site %}@airbitz{% endblock twitter_site %}">
                    <meta name="twitter:title" content="{% block twitter_title %}Airbitz Bitcoin Wallet & Directory{% endblock twitter_title %}">
                    <meta name="twitter:description" content="{% block twitter_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock twitter_description %}">
                    <meta name="twitter:creator" content="{% block twitter_creator %}@airbitz{% endblock twitter_creator %}">
                    <meta name="twitter:image:src" content="{% block twitter_image_src %}{{ ABSOLUTE_ROOT_URL }}static/img/og-home.jpg{% endblock twitter_image_src %}">
                    <meta name="twitter:domain" content="{% block twitter_domain %}{{ request.META.HTTP_HOST }}{% endblock twitter_domain %}">
                    <meta name="twitter:url" content="{% block twitter_url %}{{ request.build_absolute_uri }}{% endblock twitter_url %}">
                    <meta name="twitter:author" content="{% block twitter_author %}@airbitz{% endblock twitter_author %}">
                    <meta name="twitter:app:id:iphone" content="{% block twitter_app_id_iphone %}id843536046{% endblock twitter_app_id_iphone %}">
                    <meta name="twitter:app:id:ipad" content="{% block twitter_app_id_ipad %}id843536046{% endblock twitter_app_id_ipad %}">
                {% endblock twitter_meta %}

            {% endblock head_seo_social %}

            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="mobile-web-app-capable" content="yes">
            <link rel="canonical" href="{% block canonical_url %}{{ canonical }}{% endblock canonical_url %}">
            <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">
            {% compressed_css 'global' %}
        {% endblock head %}
    </head>
    <body {% block body_tag %}{% endblock body_tag %}>

        <div id="wrap">
            {% block top_bg %}{% endblock %}

            {% block topbar %}

                {% include '_top_navbar_simple.html' %}

            {% endblock topbar %}

            <div class="main-content {% block main_content_container %}container{% endblock main_content_container %}">
                {% block message %}
                    {% if messages %}
                        <div class="row">
                            {% for message in messages %}
                                <li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endblock message %}

                {% block main_content %}
                {% endblock main_content %}
            </div><!-- /.container -->


        </div><!-- /#wrap -->

        {% block footer %}
            {% include '_footer_simple.html' %}
        {% endblock footer %}


        {% block javascript %}


          {#  RETARGETING CODE FROM BRETT STAPPER #}
          <script type="text/javascript">
            (function() {
              window._pa = window._pa || {};
              // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
              // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
              // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
              var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
              pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55a936c7993b1d3295000184.js";
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
            })();
          </script>

          {% google_analytics %}

          {% block addthis_sharing %}
            <!-- AddThis Smart Layers BEGIN -->
            <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53347e5a6a7094df"></script>
            <script type="text/javascript">
              addthis.layers({
                'theme' : 'light',
                'share' : {
                  'position' : 'left',
                  'numPreferredServices' : 4
                }
              });
            </script>
            <!-- AddThis Smart Layers END -->
          {% endblock addthis_sharing %}

          <script src="https://apis.google.com/js/platform.js" async defer></script>
        {% endblock javascript %}
    </body>
</html>

