{% verbatim %}

<div ng-animate="slideInLeft" class="animated slideInLeft">
  <h3><a href="#"><i class="fa fa-chevron-circle-left"></i></a> Back to Countries</h3>

  <div class="list-container">
    <ul class="list-group">
      <li ng-repeat="item in regionDetails" class="subRegion list-group-item" ng-click="subRegionClicked(item.region_label, item.country_label)">
        {{ item.region_label }} <span class="pull-right">({{ item.biz_count }})</span>
        {{ regionLookup(item.region) }}
      </li>
    </ul>
  </div>

</div>
{% endverbatim %}

