{% verbatim %}

<div ng-animate="slideInLeft" class="animated slideInRight">

  <div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
    <div class="spinner-text">Finding Bitcoin Businesses</div>
  </div>

  <h3><span class="label-primary label">{{ bizCount() }}</span> Businesses<br/>Accepting Bitcoin in <span class="label-primary label">{{ country }}</span></h3>

  <div class="list-container">
    <ul class="list-group">
      <li class="header list-group-item">
        <a href="#"><i class="back-button fa fa-chevron-circle-left" style="color: white;"></i></a> State/Province <span class="pull-right">Count</span>
      </li>
    </ul>
  </div>

  <div class="list-container">
    <ul class="list-group">
      <li ng-repeat="item in regionDetails" class="subRegion list-group-item" ng-click="subRegionClicked(item.region_label, item.country_label)">
        {{ item.region_label }} <span class="label label-default pull-right">{{ item.biz_count }}</span>
        {{ regionLookup(item.region) }}
      </li>
    </ul>
  </div>

</div>
{% endverbatim %}

