{% verbatim %}

<h3 class="heading-text animated flipInX">
  <span class="label-primary label">{{ bizCount() }}</span> Businesses<br/>
  Accepting Bitcoin in <span class="label-primary label">{{ country }}</span>
</h3>

<div class="module animated fadeInRight">

  <div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
    <div class="spinner-text">Finding Bitcoin Businesses</div>
  </div>

  <div class="list-container">
    <ul class="list-group">
      <li class="header list-group-item">Search Area</li>
    </ul>
    <ul class="list-group">
      <li ng-repeat="item in regionDetails" class="subRegion list-group-item" ng-click="subRegionClicked(item.region_label, item.country_label)">
        {{ item.region_label }} <span class="label label-default pull-right">{{ item.biz_count }}</span>
        {{ regionLookup(item.region) }}
      </li>
    </ul>
  </div>

  <a href="#" class="back-button btn btn-sm btn-warning"><i class="fa fa-chevron-circle-left"></i>&nbsp; Back to Countries</a>
</div>
{% endverbatim %}

