@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";


// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";

@import "navbar.less";
@import "typeahead.less";

@import "bootstrap-overrides.less";

// TEMP FONTAWESOME IMPORT UNTIL INCLUDED LOCALLY
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


@import "home-landing.less";
@import "business-info.less";
@import "results-map-list.less";
@import "results-grid.less";
@import "footer.less";


html {
    height: 100%;
}
body {
    height: 100%;   /* required for sticky footer */
    margin: 0;
    padding-top: 75px;
    font: 14px/24px "Open Sans", Helvetica, Arial, sans-serif;

    .heading-clean {
        color: @ab-blue-dark;
        font-weight: 400;
    }
    .jvectormap-label {
        z-index: 2;
        padding-bottom: 0;
    }

    .top-bg {
        z-index: -1;
        -webkit-animation: fadein 3s; /* Safari and Chrome */
           -moz-animation: fadein 3s; /* Firefox */
            -ms-animation: fadein 3s; /* Internet Explorer */
             -o-animation: fadein 3s; /* Opera */
                animation: fadein 3s;

        @media(min-width: @screen-md) {
            position: absolute;
            top: 0;
            width: 100%;
            height: 700px;
            background: @brand-primary;
            background-size: cover !important;
        }
        @media(min-width: @screen-sm) {
            display: none;
        }
    }
    #wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;   /* Negative indent footer by its height */
        padding: 0 0 100px;  /* Pad bottom by footer height */
    }
    .main-content {
        background: rgba(255,255,255,.7);
        .box-shadow(0 0 0 2px white);
        .border-top-radius(5px);
        -webkit-animation: fadein 2s; /* Safari and Chrome */
           -moz-animation: fadein 2s; /* Firefox */
            -ms-animation: fadein 2s; /* Internet Explorer */
             -o-animation: fadein 2s; /* Opera */
                animation: fadein 2s;
    }
} // body





// SEARCH NOT FOUND
.hidden-temp {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}
.temp-placeholder {
    h2 {
        color: white;
        position: absolute;
        left: 60px;
    }
}
.regions-covered {
    margin-top: 20px;

    .panel-body {
        padding: 0;
    }
}
.hover-region-name {
    color: white;
}
.hover-click-text {
    color: @brand-primary;
}
.hover-request-text {
    color: @ab-green;
}


// JVECORMAP
.jvectormap-zoomin, .jvectormap-zoomout {
    width: 16px;
    height: 16px;
    background: @brand-primary;
    font-size: 14px;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; visibility: visible; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; visibility: visible; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; visibility: visible; }
}




// EXTRA LIBRARIES
.uv-popover-tail {
    display: none;
}












