@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";


// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";

@import "navbar.less";
@import "typeahead.less";


// TEMP FONTAWESOME IMPORT UNTIL INCLUDED LOCALLY
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");



// TEMP BOOTSTRAP CHANGES
.tooltip-inner, .popover {

    .primary {
        color: @brand-primary;
    }
    .success {
        color: @brand-success;
    }
    .warning {
        color: @brand-warning;
    }
    .danger {
        color: @brand-danger;
    }
    .info {
        color: @brand-info;
    }
}

.label {
    font-weight: normal;
}


body {
    margin: 0;
    padding-top: 0px;
    font: 14px/24px "Open Sans", Helvetica, Arial, sans-serif;


    .top-bg {
        display: none;
        @media(min-width: @screen-md) {
            display: block;
            position: absolute;
            width: 100%;
            height: 390px;
            border-bottom: 2px solid #F8F8F0;
            background: #F5F5F0;
        }
    }


} // body









.main-content {
//    padding-top: 50px;



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      height: 500px;
      margin-bottom: 0;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
      height: 500px;
      background-color: #777;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 500px;
    }
    .container-full {
      margin: 0 auto;
      width: 100%;
    }


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Pad the edges of the mobile views a bit */
    .marketing {
      padding-left: 15px;
      padding-right: 15px;
    }

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
      text-align: center;
      margin-bottom: 20px;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .col-lg-4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* FEATURETTES
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

    .text-muted {
      font-weight: 300;
    }


    /* LANDING PAGE RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 768px) {
      /* Remove the edge padding needed for mobile */
      .marketing {
        padding-left: 0;
        padding-right: 0;
      }

      /* Bump up size of carousel content */
      .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
      }

      .featurette-heading {
        font-size: 50px;
      }

    }

    @media (min-width: 992px) {
      .featurette-heading {
        margin-top: 120px;
      }
    }






    // DIRECTORY BUSINESS INFO
    .biz-info-header {

        .admin-edit {
            position: absolute;
            right: 15px;
            top: 25px;
            z-index: 9999;
        }
    }

    .biz-info-one {
        margin-bottom: 30px;

        @media(min-width: @screen-md){
            margin-bottom: 0;
        }
    }

    .biz-social-buttons {

        @media(min-width: @screen-md) {
            text-align: right
        }
        .btn {
            margin-bottom: 5px;
        }
    }

    .biz-info-two {

        .panel {

            .panel-image {
                overflow: hidden;

                .biz-img {
                    .border-top-radius(5px);
                }

                #map {
                    position: relative;

                    img {
                        position: relative;
                        top: 62px;
                        left: 50%;
                        margin: -320px;
                    }

                    .get-directions {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                    }
                }
            }
        }
        .biz-details {
            .biz-type {
                margin-bottom: 5px;
            }

            .biz-address-street {
            }

            .biz-address-city-state {
                padding-left: 10px;
            }

            .biz-phone {
            }

            .biz-website {
            }

            .dl-horizontal {
                clear: both;
                margin: 15px 0;

                dt {
                    width: 75px;
                }
                dd {

                    @media(min-width: @screen-sm-min) {
                        margin-left: 85px;
                    }
                }
            }
        }
    }

    .biz-info-three {

        .biz-hours {
            td {
                width: 100px;
            }
        }

        .biz-gallery {

            .biz-gallery-item {

                img {
                    margin-top: 15px;

                    @media(min-width: @screen-md-min){
                        &.col-md-4:nth-child(n+4) {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}







// SEARCH STUFF
.map-container {

    #map {

        @media(min-width: @screen-sm-min) {
            width: 360px;
            height: 400px;
        }
        @media(min-width: @screen-md-min) {
            width: 470px;
            height: 400px;
        }
        @media(min-width: @screen-lg-min) {
            width: 570px;
            height: 600px;
        }
    }
}


.results-map-list {
    min-height: 600px;

    &.row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .search-title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .result-list-item {
        padding: 20px 0;
        border-top: 1px solid #ddd;
    }

    .biz-discount {
        position: absolute;
        cursor: pointer;
    }

    .biz-img {
        float: left;
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: white;
        .box-shadow(0 0px 10px rgba(0,0,0,.5));

        &:hover {
            .transition(.3s ease);
            box-shadow: 0 0px 10px rgba(0,0,0,.1);
        }
        @media(max-width: @screen-md-min) {
            width: 110px;
            height: 110px;
        }
    }

    .biz-name {
        font-weight: 300;
        letter-spacing: -1.25px;
        margin: 0;

        a {
            color: #333;

            &:hover {
                text-decoration: none;
                color: @brand-primary;
                .transition();
            }
        }
        @media(max-width: @screen-md-min) {
            margin-bottom: 10px;
            letter-spacing: 0px;
            font-size: 20px;
        }
    }

    .biz-meta {
        margin: 7px 0;

        .biz-categories {

            @media(min-width: @screen-md-min) {
            }
            @media(min-width: @screen-sm-min) {
            }
        }
        .biz-location {

            .biz-address-street {
                display: inline-block;
                width: 300px;
                letter-spacing: -1px;
                margin-left: 0px;
                color: @gray;
            }
            .biz-distance {
                display: inline-block;
                position: absolute;
                right: 0;
                color: @alert-danger-text;
            }
        }
    }

    .biz-description {
        line-height: 18px;
        
        @media(max-width: @screen-md-min) {
            clear: both;
        }
    }

}






.results-grid {
    position: relative;     // TEMP for map to go behind the results at bottom
    background: #fff;       // TEMP

    .item.list-group-item {
        .make-row();
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;

        &:nth-of-type(odd):hover,&:hover {
            background: #eee;
        }
        .thumbnail {
            background: none;
        }
        .list-group-image {
            margin-right: 10px;

            .thumbnail {
                margin-bottom: 0px;
            }
        }

        .caption {
            padding: 9px 9px 0px 9px;
        }

        &:before, &:after {
            display: table;
            content: " ";
        }

        img {
            float: left;
        }
        &:after {
            clear: both;
        }
    }
}

.biz-result {

    .glyphicon { margin-right:5px; }
    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        .border-radius();
    }

    .biz-name {
        font-weight: 300;
        letter-spacing: -1px;
    }
    .biz-img {
        min-height: 224px;
        .border-top-radius(5px);
    }

    .biz-categories {
        height: 25px;
        line-height: 20px;
    }

    .list-group-item-text {
        height: 90px;
        margin: 0 0 4px;
    }
}








// REQUIRED FOR STICKY FOOTER
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;

}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f0;
    border-top: 2px solid #eee;

    p {
        margin-top: 20px;
    }
}



















