@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";


// STATIC HOME PAGE WORDPRESS CONVERSION OVERRIDES

body.home {

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }

    padding-top: 0 !important;
    @media (min-width: @screen-sm) {
        margin-top: -60px !important;
    }

    @media (min-width: @screen-md) {
        margin-top: -120px !important;
    }

    header {
        display: none;
    }

    .navbar {
        .logo {
            max-width: none;
        }
    }



    // APP DOWNLOAD CALL TO ACTION
    .ab-app-cta {
        height: 550px;
        margin-bottom: 60px;

        .app-slide {
            width: 50%;
            float: left;
            margin: 0 auto;
            text-align: center;

            .app-features.col-md-5 {
                padding-left: 0;
                padding-right: 0;
            }
            .app-features {
                text-align: left;
                color: black;

                h3 {
                    margin-top: 0;
                    font-weight: 600;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-bottom: 15px;
                        font-size: 16px;
                        letter-spacing: .5px;
                    }
                }
                @media(max-width: @screen-sm) {
                    text-align: center;
                }
            }

            .app-install {

                .app-store {
                    margin-bottom: 20px;
                    text-align: left;
                }
                .app-screenshot {
                    max-height: 500px;
                    
                    @media(max-width: @screen-md) {
                        max-height: 375px;
                    }
                }
            }

            @media(max-width: @screen-sm) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }





    #bottom-slider {

        .et_pb_slide_content {
            padding: 15px 0px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);

        }
        .et_pb_slide_description {
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
        }
    }



    #footer {
        color: @gray-darker;
        a {
            color: @brand-primary;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }

        .social-icons {
            margin-top: 5px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: @screen-lg) {
        margin-top: -80px;
    }
}


.frosted-container() {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid #FFF;
}


.landing-module {
    height: 900px;
    margin-top: 120px;
    padding: 65px 0;
//    background: url('../img/landing/landing-module-bg-1.jpg') no-repeat center center fixed;
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;

    @media (max-width: @screen-md) {
        height: auto;
        margin-top: 0;
        padding: 140px 0 50px 0;
    }

    @media (max-width: @screen-sm) {
        padding-top: 100px;
    }

    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
//        height: 500px;
    }

    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        height: 1200px;
    }


    .container {

        @media (max-width: @screen-sm) {
            width: auto;
        }
    }

    .label {
        padding: .1em .3em .1em;
        line-height: 1.5;
    }

    h2 {
        margin-top: 0px;
        font-size: 26px;

        @media (min-width: @screen-lg-min) {
            font-size: 30px;
        }
    }

    .column1 {
        margin-top: 60px;
        .frosted-container;

        @media (max-width: @screen-sm-max) {
            width: 400px;
            margin: 0px auto;
        }
        /* iPads (portrait) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
            margin-top: 40px;
        }

        .airbitz-logo {
            display: block;
            width: 175px;
            margin: 20px auto;
            text-align: center;

            @media (min-width: @screen-lg-min) {
                width: 250px;
            }
        }

        .directory-link {
            color: @ab-blue;
        }

        #app-store-links {
            visibility: hidden;

            .app-store {
                width: 140px;
                margin-bottom: 10px;
                text-align: left;

                @media (min-width: @screen-lg-min) {
                    width: auto;
                }
            }
        }

        hr {
            border-color: #999;
        }

        .bitcoin-directory-wallet {
            margin-top: 10px;
            text-align: center;

            .slide-text {
                text-align: center;
                color: #003E61;
            }

        }


        .signup-area {
            max-width: 360px;
            margin: 0 auto;

            .form-group {

                .control-label {
                    display: block !important;
                    margin: 5px auto;
                    text-align: center;
                }
                .form-control {
                    text-align: center;
                }
            }
        }
    }

    .column2 {
        padding: 25px;
        text-align: center;

        #see-app-in-action {
            visibility: hidden;
            position: absolute;
            top: 230px;
            margin: 0 auto;
            z-index: 1;
            left: 84px;
            -webkit-box-shadow: 0 0 35px 10px black;
            -moz-box-shadow: 0 0 35px 10px black;
            box-shadow: 0 0 35px 10px black;
        }

        .iphone-slider {
            visibility: hidden;
            position: relative;
            width: 236px;
            height: 500px;
            margin: 30px auto 0;
            padding: 70px 0 0 0;
            background: url('../img/landing/iphone-slider/iphone5s_1up.png');
            border-radius: 40px;

            #app-demo-slides {

                .slide {
                    width: 200px;
                    height: 360px;
                    background: black;
                    text-align: center;
                    color: white;
                }
            }
        }
    }


    .searchStarter {
        padding: 0;
    }
    h3 {
        margin-top: 0;
    }
    .column3 {
        margin-top: 60px;

        /* iPads (portrait) ----------- */
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
            width: 330px !important;
        }

        #who-accepts-bitcoin {
            visibility: hidden;
//            margin-top: 100px;
            text-align: center;
            padding: 15px;
            .frosted-container;

            /* iPads (portrait) ----------- */
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
                margin-top: 60px;
            }            

            img {
                width: 150px;
                margin-left: 25px;
            }
        }
        
        #accepting-bitcoin {
            visibility: hidden;

            @media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {
                padding-right: 50px;
            }

            h3.heading-text {
                padding: 15px;
                font-size: 18px;
                .frosted-container;

                @media (min-width: @screen-lg-min) {
                    font-size: 24px;
                }
            }
        }

        .loading-spinner {
            z-index: 1;
            position: absolute;
            top: calc(~'50% - 70px');
            left: calc(~'50% - 80px');
            width: 160px;
            height: 140px;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            background: rgba(255,255,255,0.9);
            border-radius: 10px;

            .fa-spinner {
                display: block;
                margin: 0 auto 5px;
                width: 100%;
                height: 70px;
                font-size: 70px;
                color: @ab-blue;
            }
            .spinner-text {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .list-container {
            max-height: 380px !important;
            overflow-y: auto;
            cursor: pointer;
            border-radius: 0;

            @media (min-width: @screen-lg-min) {
                max-height: 430px !important;
            }
            
            .list-group {
                margin: 0;
                border-radius: 0;

                .list-group-item.header {
                    background: @gray;
                    color: white;
                    cursor: inherit;

                    &:hover {
                        margin-left: 0;
                        padding-left: 15px;
                        border-left: none;
                        background: @gray;
                        color: white;
                    }

                }

                .list-group-item {
                    border-radius: 0;
                    border: none;
                    padding: 5px 15px;
                    background: rgba(255, 255, 255, .9);
                    -webkit-transition: all .15s;
                    -moz-transition: all .15s;
                    -ms-transition: all .15s;
                    -o-transition: all .15s;
                    transition: all .15s;

                    &:hover {
                        background: rgba(255, 255, 255, 1);
                        border-left: 5px solid @ab-blue;
                        padding-left: 10px;
                        color: @ab-blue;

                        .label {
                            background: @ab-blue;
                        }
                    }
                }
            }
        }

        .back-button {
            margin-top: 10px;
        }
    }
}
