@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";


// STATIC HOME PAGE WORDPRESS CONVERSION OVERRIDES

body.home {

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }

    padding-top: 0 !important;
    @media (min-width: @screen-sm) {
        margin-top: -60px !important;
    }

    @media (min-width: @screen-md) {
        margin-top: -120px !important;
    }

    header {
        display: none;
    }

    .navbar {
        .logo {
            max-width: none;
        }
    }



    // APP DOWNLOAD CALL TO ACTION
    .ab-app-cta {
        height: 550px;
        margin-bottom: 60px;

        .app-slide {
            width: 50%;
            float: left;
            margin: 0 auto;
            text-align: center;

            .app-features.col-md-5 {
                padding-left: 0;
                padding-right: 0;
            }
            .app-features {
                text-align: left;
                color: black;

                h3 {
                    margin-top: 0;
                    font-weight: 600;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-bottom: 15px;
                        font-size: 16px;
                        letter-spacing: .5px;
                    }
                }
                @media(max-width: @screen-sm) {
                    text-align: center;
                }
            }

            .app-install {

                .app-store {
                    margin-bottom: 20px;
                    text-align: left;
                }
                .app-screenshot {
                    max-height: 500px;
                    
                    @media(max-width: @screen-md) {
                        max-height: 375px;
                    }
                }
            }

            @media(max-width: @screen-sm) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }





    #bottom-slider {

        .et_pb_slide_content {
            padding: 15px 0px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);

        }
        .et_pb_slide_description {
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
        }
    }



    #footer {
        color: @gray-darker;
        a {
            color: @brand-primary;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }

        .social-icons {
            margin-top: 5px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: @screen-lg) {
        margin-top: -80px;
    }
}


.frosted-container() {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px solid #FFF;
}


.landing-module {
    min-height: 700px;
    margin-top: 172px;
    padding: 25px 0;
//    background: url('https://airbitz.co/media/business_images/8466_kglu65My1LlIq3c_HVUXCnsRWPMiTGoAN2FleH9sgS8.jpg') no-repeat center;
//    background: url('https://airbitz.co/media/business_images/775628_10151449781721320_1875629856_o.jpg') no-repeat center;
//    background: url('https://airbitz.co/media/business_images/1496207_10152173480693841_1452893426_o_1_1_1.jpg') no-repeat center;
//    background: url('http://38.media.tumblr.com/5c0a918c9f6b05db6002fb50cc0eacb8/tumblr_naj3mgttxL1st5lhmo1_1280.jpg') no-repeat center;
//    background: url('http://38.media.tumblr.com/48b91f8ac34b6c31d817f65ad9402015/tumblr_n8zm0d48Jx1st5lhmo1_1280.jpg') no-repeat center;
//    background: url('http://38.media.tumblr.com/19a1925ae010acf1628c081bdb5d5597/tumblr_naj3gayWkL1st5lhmo1_1280.jpg') no-repeat center;
//    background: url('http://38.media.tumblr.com/2c1a9d53169f1eca25b2a0b8238744c9/tumblr_n9hxdqatsK1st5lhmo1_1280.jpg') no-repeat center;
//    background: url('http://31.media.tumblr.com/17b062d8170b0cd6e1b4a63db7e20df1/tumblr_n8zm9idM4J1st5lhmo1_1280.jpg') no-repeat center;
//    background: url('http://31.media.tumblr.com/1f4b6f2234572bbffe8cb3b889e7f756/tumblr_n8gxy7HNfy1st5lhmo1_1280.jpg') no-repeat center;
    background: url('../img/landing/landing-module-bg.jpg') no-repeat center fixed;
    background-size: cover;

    @media (max-width: @screen-md) {
        height: auto;
        margin-top: 118px;
        padding: 50px 0;
    }

    @media (max-width: @screen-sm) {
        margin-top: 55px;
    }

    .container {

        @media (max-width: @screen-sm) {
            width: auto;
        }
    }

    .label {
        padding: .1em .3em .1em;
        line-height: 1.5;
    }

    .column1 {
        margin-top: 60px;
        .frosted-container;

        .airbitz-logo {
            display: block;
            width: 250px;
            margin: 20px auto;
            text-align: center;
        }

        .directory-link {
            color: @ab-blue;
        }

        #app-store-links {
            visibility: hidden;

            .app-store {
                margin-bottom: 10px;
                text-align: left;
            }
        }

        .bitcoin-directory-wallet {
            margin-top: 10px;
            text-align: center;

            h2 {
                margin-top: 0px;
                font-size: 30px;
            }
            .slide-text {
                text-align: center;
                color: #003E61;
            }

        }


        .signup-area {
            max-width: 360px;
            margin: 0 auto;

            .form-group {

                .control-label {
                    display: block !important;
                    margin: 5px auto;
                    text-align: center;
                }
                .form-control {
                    text-align: center;
                }
            }
        }
    }

    .column2 {
        padding: 25px;
        text-align: center;

        #see-app-in-action {
            visibility: hidden;
            position: absolute;
            top: 230px;
            margin: 0 auto;
            z-index: 1;
            left: 84px;
            -webkit-box-shadow: 0 0 35px 10px black;
            -moz-box-shadow: 0 0 35px 10px black;
            box-shadow: 0 0 35px 10px black;
        }

        .iphone-slider {
            visibility: hidden;
            position: relative;
            width: 236px;
            height: 500px;
            margin: 30px auto 0;
            padding: 70px 0 0 0;
            background: url('../img/landing/iphone-slider/iphone5s_1up.png');
            border-radius: 40px;

            #app-demo-slides {

                .slide {
                    width: 200px;
                    height: 360px;
                    background: black;
                    text-align: center;
                    color: white;
                }
            }
        }
    }


    .searchStarter {
//        margin: 0 15px;
    }

    h3 {
        margin-top: 0;
    }
    .column3 {
        #who-accepts-bitcoin {
            visibility: hidden;
            margin-top: 100px;
            text-align: center;
            padding: 15px;
            .frosted-container;

            img {
                width: 150px;
                margin-left: 25px;
            }
        }
        
        #accepting-bitcoin {
            visibility: hidden;

            .heading-text {
                padding: 15px;
                .frosted-container
            }
        }

        .loading-spinner {
            z-index: 1;
            position: absolute;
            top: calc(~'50% - 70px');
            left: calc(~'50% - 80px');
            width: 160px;
            height: 140px;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            background: rgba(255,255,255,0.9);
            border-radius: 10px;

            .fa-spinner {
                display: block;
                margin: 0 auto 5px;
                width: 100%;
                height: 70px;
                font-size: 70px;
                color: @ab-blue;
            }
            .spinner-text {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .list-container {
            max-height: 500px;
            overflow-y: auto;
            cursor: pointer;
            border-radius: 0;

            .list-group {
                margin: 0;
                border-radius: 0;

                .list-group-item.header {
                    background: @gray;
                    color: white;
                    cursor: inherit;

                    &:hover {
                        margin-left: 0;
                        padding-left: 15px;
                        border-left: none;
                        background: @gray;
                        color: white;
                    }

                }

                .list-group-item {
                    border-radius: 0;
                    border: none;
                    padding: 5px 15px;
                    background: rgba(255, 255, 255, .8);
                    -webkit-transition: all .15s;
                    -moz-transition: all .15s;
                    -ms-transition: all .15s;
                    -o-transition: all .15s;
                    transition: all .15s;

                    &:hover {
                        background: rgba(255, 255, 255, 1);
                        border-left: 5px solid @ab-blue;
                        padding-left: 10px;
                        color: @ab-blue;

                        .label {
                            background: @ab-blue;
                        }
                    }
                }
            }
        }

        .back-button {
            margin-top: 10px;
        }
    }
}
