@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";


// STATIC HOME PAGE WORDPRESS CONVERSION OVERRIDES

body.home {

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
    }

    padding-top: 0 !important;
    @media (min-width: @screen-sm) {
        margin-top: -60px !important;
    }

    @media (min-width: @screen-md) {
        margin-top: -120px !important;
    }

    header {
        display: none;
    }

    .navbar {
        .logo {
            max-width: none;
        }
    }


    // APP DOWNLOAD CALL TO ACTION
    .ab-app-cta {
        height: 550px;
        margin-bottom: 60px;

        .app-slide {
            width: 50%;
            float: left;
            margin: 0 auto;
            text-align: center;

            .app-features.col-md-5 {
                padding-left: 0;
                padding-right: 0;
            }
            .app-features {
                text-align: left;
                color: black;

                h3 {
                    margin-top: 0;
                    font-weight: 600;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-bottom: 15px;
                        font-size: 16px;
                        letter-spacing: .5px;
                    }
                }
                @media(max-width: @screen-sm) {
                    text-align: center;
                }
            }

            .app-install {

                .app-store {
                    margin-bottom: 20px;
                    text-align: left;
                }
                .app-screenshot {
                    max-height: 500px;
                    
                    @media(max-width: @screen-md) {
                        max-height: 375px;
                    }
                }
            }

            @media(max-width: @screen-sm) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }

    // CONTENT AREA

    #general-signup {

        .app-install {
            margin-bottom: 15px;
            
            img:first-child {
                margin: 0 10px;

                @media (max-width: @screen-md) {
                    margin: 0;
                }
            }
        }
    }



    .region-areas {
        text-align: left;

        .area-heading {
            margin-top: 0;

            @media (min-width: @screen-sm) {
                font-size: 20px;
            }
            @media (min-width: @screen-md) {
                font-size: 28px;
            }
        }
        .region-tabs {
            margin-left: 0;
            padding: 0;
            border: none;

            .active a {
                color: #ffffff;
                background: @brand-primary;
                border-color: @brand-primary;
            }
            li {
                margin-right: 5px;
                margin-bottom: 5px;
                a {
                    padding: 5px 9px;
                    background: #eee;
                    border-color: #eee;
                }
            }
        }
        .region-coverage {
            position: absolute;
            top: 10px;
            left: 35px;
            h3 {
                margin: 0;
                padding: 3px 10px;
                border-radius: 5px;
                background: @ab-green;
                color: #FFF;
                font-weight: 600;
                text-shadow: 0 0 4px;
            }
        }
        #other-area-form.row {
            padding: 15px 0;
            margin: 0;
        }
        #other-area-form {
            padding: 0;
            background: rgba(255, 255, 255, .7);

            h3 {
                margin-top: 0px;
            }
        }
    }

    #area-form {
        display: none;
        margin-top: 15px;
        margin: 0 10px;
        padding: 10px;
        background: rgba(255, 255, 255, .7);
        border-radius: 5px;

        h3 {
            margin-top: 0px;
        }
    }


    #top-slider {

        .et_pb_slide_with_image .et_pb_slide_description {
            padding-bottom: 0;
        }

        .et_pb_container {
            min-height: 1000px;

            .et_pb_slide_image {
                display: none;
                top: 240px;

                @media (max-width: @screen-md) {
                    top: 140px;
                }
            }

            .vmap {
                width: 510px;
                height: 500px;
                
                @media (max-width: @screen-md) {
                    width: 360px;
                    height: 360px;
                }
            }
            .et_pb_slide_with_image
            .et_pb_slide_description,
            .et_pb_slide_video {
                width: 46%;
            }
            @media (max-width: @screen-md ) {
                width: 90%;
            }
        }

        .et_pb_slide_content {

            .airbitz-slide-logo {
                margin-bottom: 20px;
            }
            .bitcoin-directory-wallet {
                width: 500px;
                margin: 0 auto;

                h2 {
                    margin: 0;
                    font-size: 36px;

                    @media (max-width: @screen-lg) {
                        font-size: 30px;
                    }
                    @media (max-width: @screen-md) {
                        font-size: 20px;
                    }
                }
                @media (max-width: @screen-sm) {
                    width: 400px;
                }
            }
            .slide-text {
                margin-bottom: 20px;

                @media (max-width: 767px) {
                    text-align: center !important;
                }
                @media (max-width: @screen-md) {
                    font-size: 16px;
                }
            }
            .currently-available {
                margin: 0;
                font-weight: normal;
                color: @brand-primary;
            }
            .available-regions {
                overflow: hidden;

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                .label {
                    line-height: 42px;

                    &:hover {
                        color: @brand-primary;
                        background: white;
                        text-decoration: none;
                    }
                }
            }

            #email-signup-form {
                margin: 0 25px;

                .form-group {
                    margin-bottom: 5px;

                    label {
                        text-align: center;
                        width: 100%;
                        padding: 3px 7px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 400;
                        border-radius: 5px;
                        background: rgba(255, 255, 255, 0.9);
                        text-transform: capitalize;
                    }
                    #inputEmailWallet {
                        text-align: center;
                    }
                }
            }
        }
    }

    #bottom-slider {

        .et_pb_slide_content {
            padding: 15px 0px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);

        }
        .et_pb_slide_description {
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
        }
    }



    #footer {
        color: @gray-darker;
        a {
            color: @brand-primary;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }

        .social-icons {
            margin-top: 5px;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @media (min-width: @screen-lg) {
        margin-top: -80px;
    }
}


.landing-module {
    height: 700px;
    margin-top: 172px;
    padding-top: 50px;
    background: url('/static/img/skyline-airbitz.jpg') no-repeat center;
    background-size: cover;

    .column1 {
        
        .list-container {
            max-height: 500px;
            overflow-y: scroll;

            .list-group {
                margin: 0;

                .list-group-item {
                    background: rgba(255, 255, 255, .5);
                    -webkit-transition: all .15s;
                    -moz-transition: all .15s;
                    -ms-transition: all .15s;
                    -o-transition: all .15s;
                    transition: all .15s;

                    &:hover {
                        background: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    .column2 {
        text-align: center;
    }
    .column3 {

        .airbitz-slide-logo {}
        #bitcoin-logo {
            float: left;
            width: 75px;
            margin-right: 10px;
        }

        .bitcoin-directory-wallet {
            margin-top: 10px;

            h2 {
                margin-top: 0px;
                font-size: 22px;
            }
            .slide-text {
                text-align: center;
                color: #003E61;
            }
            
        }

        #app-store-links {
            margin: 15px 0;
        }
        
        .signup-area {

            .form-group {

                .control-label,
                .form-control {
                    text-align: center;
                }
            }
        }
    }

}