//
// Customize Navbar
// --------------------------------------------------

.navbar-admin {

    .btn {
        position: relative;
        top: 10px;
        margin: 0 15px;

        &.close {
            top: -2px;
            right: -15px;
        }
    }
}


#nav-mobile {
    background-color: white;
    border: #eee;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    .logo {
        height: 20px;
    }
    .navbar-header {
        width: 60px;
        float: left;
        
        #mobile-nav-close {
            display: none;
            position: relative;
            top: 0px;
            left: 18px;
            padding: 2px 6px;
        }
    }
    .navbar-form {
        float: right;
        padding: 0;
        border-bottom: none;

        #mobile-submit {
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 1px;
            opacity: 0;
        }
        .form-group {
            .twitter-typeahead {
                .term, .location {
                    width: 275px;
                }
            }
            @media (min-width: @screen-sm) {
                margin-bottom: 5px !important;
            }
        }
        .form-group.term {

        }
        .form-group.location {
            display: none;
        }
        @media (max-width: @screen-sm) {
            padding-right: 15px;
        }
    }

}


.navbar-ab {
    background-color: white;
    border: #eee;
    box-shadow: 0 0 10px rgba(0,0,0,.5);

    .navbar-brand {
        padding: 0;

        .logo {
            height: 40px;
            margin-top: 5px;
            margin-left: 15px;
        }
    }

    .navbar-nav > .active a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
//        background-color: rgba(0,0,0,.7);
    }
    .navbar-nav > li > a {
        color: @ab-blue;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background: @ab-green;
        color: white;
    }
}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}


// SEARCH
#navbar-search {

    #help-search {
        position: relative;
        top: 7px;
        left: -5px;
        color: @gray-light;
    }
    .popover {
        left: 327.5;
        font-size: 12px;
        max-width: 500px;
        
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}