@import url(variables.less);


body {
    padding-top: 65px;
}


ul {
    padding-left: 15px;

    li {
        margin-bottom: 5px;
    }
}

.main-content {

    .landing-module {
        .slides {
            padding: 50px 0;
            .slide-image {
                img {
                    max-height: 400px;
                }
            }
            .slide-text {
                h1,h2,h3,h4 {
                    letter-spacing: -1px;
                }
                h1 {
                    font-size: 46px;
                    font-weight: 700;
                }
                ul {
                    padding-left: 0;

                    li {
                        margin-bottom: 15px;
                        font-size: 28px;
                        font-weight: 600;
                        list-style: none;
                        letter-spacing: -1px;
//                        text-shadow: 1px 1px 2px #fff;
                        color: #fff;
                        text-shadow: 1px 1px 2px #000;

                        i {
                            width: 35px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .feature-major {
        margin-bottom: 30px;
//        padding-left: 45px;
    }

    .feature-media-right {
        margin-top: 25px;
        border-left: 3px solid #eee;
    }

    .feature-media-left {
        margin-top: 25px;
        border-right: 3px solid #eee;
    }

    .section-bitcoin-wallet {
        min-height: 500px;

        .container {
            position: absolute;
        }
    }

    #section-bitcoin-wallet-header {}

    #section-bitcoin-wallet-details {
        h2 {
            margin: 40px 0;
            font-size: 42px;
            font-weight: 500;
            color: @ab-blue-dark;
        }
    }

    #section-bitcoin-wallet-platform-header {}

    #section-bitcoin-wallet-platform-details {
        h1 {
            margin: 40px 0;
            font-size: 42px;
            font-weight: 500;
            color: @ab-blue-dark;
        }
    }


}