@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

// BELOW OVERWRITES IS IN ADDITION TO BOOTSTRAP LESS
@import "variables.less";
@import "mixins.less";

.biz-result {

    .glyphicon { margin-right:5px; }
    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        .border-radius();

        .thumb-bg {
            height: 224px;
            max-height: 650px;
            background: white;
            position: relative;
            overflow: hidden;

            .biz-img {
                width: 100%;
                margin: 0 auto;
                .border-top-radius(5px);

                &:hover {
                    .transition(.3s ease);
                }
            }
        }
    }

    .biz-name {
        font-weight: 700;
        letter-spacing: -1.25px;

        a {
            color: @gray-dark;

            &:hover {
                text-decoration: none;
                color: @brand-primary;
                .transition();
            }
        }
    }

    .biz-categories {
        line-height: 20px;
    }

    .biz-description {
        opacity: 0;
        height: 90px;
        margin: 5px 0 4px;
    }
}



// MASONRY VERSION
.biz-result {

    .thumbnail {
        margin-bottom: 40px;

        .thumb-bg {
            height: auto;
        }
    }
    .biz-description {
        height: auto;
    }
}