@import "../bootstrap/less/variables.less";

//
// Custom Variables
// --------------------------------------------------

@ab-green: #80c342;
@ab-green-dark: #55af00;
@ab-blue: #2291cf;
@ab-blue-dark: #003E61;
@ab-blue-light: #02A4E2;



@brand-primary: @ab-blue;
@brand-success: @ab-green;