dl dt {
  float: left;
  margin-right: 5px;
}
dl dd {
  clear: both;
}
#collapse-2 .panel-body {
  padding-top: 0;
}
.location-lookup {
  background: #428bca;
  padding: 15px;
  color: white;
  border: 1px solid #DDD;
}
.business-info.form-horizontal h4 {
  margin: 20px 0;
  padding-bottom: 8px;
  color: #2291cf;
  border-bottom: 1px solid #dedede;
}
.business-info.form-horizontal .input-group-lg > .form-control {
  padding-left: 8px;
  padding-right: 8px;
}
.business-info.form-horizontal .radio {
  padding-top: 0;
}
.business-info.form-horizontal .checkbox {
  padding-top: 0;
}
.business-info.form-horizontal textarea {
  resize: vertical;
  overflow: auto;
}
.biz-hours .button-add-hours {
  margin-top: 15px;
}
.biz-hours .module-add-hours {
  position: relative;
  width: 100%;
  height: 130px;
  clear: both;
  text-align: left;
  margin: 10px auto;
  background: white;
  border: 1px solid #ddd;
}
.biz-hours .module-add-hours .input-hours {
  padding: 10px;
}
.biz-hours .module-add-hours .input-hours label {
  padding-right: 5px;
}
.biz-hours .module-add-hours .input-hours input {
  margin-right: 10px;
}
.biz-hours .module-add-hours .input-hours .hours-open,
.biz-hours .module-add-hours .input-hours .hours-close {
  width: 80px;
  padding: 0 4px;
  font-size: 14px;
  background: white;
  border: 1px solid #ddd;
  color: #777;
}
.biz-hours .module-add-hours .input-days {
  padding: 0 10px;
}
.biz-hours .module-add-hours .input-days .btn-group-xs > .btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
.biz-hours .module-add-hours .input-days .btn-group-xs > .btn.active {
  background: #428bca;
  color: white;
  border: 1px solid #428bca;
}
.biz-hours .module-add-hours .module-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  background: #eee;
}
.biz-hours .module-add-hours .module-footer .checkbox label {
  font-size: 12px;
}
.biz-hours .module-add-hours .module-footer .checkbox input[type="checkbox"] {
  margin-top: 5px;
}
