* {
  font: 14px Verdana, Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
body {
  background: #eee;
}
a {
  color: #2291cf;
  text-decoration: none;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.green {
  color: #80c341;
}
.blue {
  color: #2291cf;
}
#header-table {
  margin-top: 40px;
  background: #2291cf;
  border: 1px solid #ccc;
  border-bottom: none;
  line-height: 135%;
  box-shadow: 0 0 10px #AAA;
}
#header-table .Logo {
  padding: 15px 5px;
  text-align: center;
}
#header-table .Logo .logo-white {
  width: 100px;
  height: 55px;
}
#body-table {
  border: 1px solid #ccc;
  border-top: none;
  line-height: 135%;
  background: #fcfcfc;
  font-size: 18px;
  box-shadow: 0 0 10px #AAA;
}
#body-table .transaction-details {
  width: 98% !important;
  font-size: 14px;
  border: 1px solid #eee;
}
#body-table .transaction-details td {
  padding: 5px 10px;
  border: 1px solid #efefef;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  #body-table .transaction-details td {
    padding: 2px 5px;
    font-size: 10px !important;
  }
}
#body-table .transaction-details .label {
  width: 90px;
  font-weight: bold;
}
#body-table .payment-instructions {
  width: 98% !important;
  background: #80c341;
  color: #fff;
  border: 1px dashed #80c341;
  font-size: 14px;
}
#body-table .payment-instructions td {
  padding: 10px 0;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  #body-table .payment-instructions {
    font-size: 14px;
  }
}
#body-table .button-pay {
  width: 45% !important;
  line-height: 16px;
}
#body-table .button-pay em {
  font-size: 10px;
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  #body-table .button-pay {
    font-size: 14px;
  }
}
#body-table .app-store {
  width: 149px;
  height: 50px;
}
#body-table .bottom-section {
  padding-top: 30px;
  border-top: 1px solid #ddd;
}
#body-table .viewWebsite p {
  margin: 0;
  padding: 0;
  font: 14px Arial, Helvetica, sans-serif;
  color: #555555;
}
@media only screen and (max-width: 640px) {
  table[class="container"] {
    width: 98% !important;
  }
  [class="topDiv"] img {
    width: 95% !important;
  }
  td[class="spacer"] {
    display: none !important;
  }
  td[class="belowFeature"] {
    width: 95% !important;
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 20px;
  }
  td[class="belowFeature"] img {
    float: left;
    margin-right: 15px;
  }
  td[class="featuredImage"] {
    width: 95% !important;
  }
  td[class="featuredImage"] img {
    width: 100% !important;
  }
  [class="bottomImages"] img {
    width: 48% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 570px) {
  td[class="viewWebsite"] {
    width: 560px !important;
    height: inherit !important;
    text-align: center;
  }
  td[class="viewWebsite"] {
    display: none;
  }
}
@media only screen and (min-width: 250px) and (max-width: 480px) {
  td[class="viewWebsite"] {
    display: none;
  }
  td[class="topDiv"] {
    display: none;
  }
  td[class="bodyCopy"] p {
    padding: 0 15px !important;
    text-align: left !important;
  }
  td[class="bodyCopy"] h1 {
    padding: 0 10px !important;
  }
  h1,
  h2 {
    line-height: 120% !important;
  }
  [class="imageWrapper"] {
    display: inline-block;
  }
  td[class="belowFeature"] p,
  td[class="belowFeature"] h3 {
    padding-right: 15px;
  }
  [class="bottomImages"] {
    text-align: center !important;
  }
  [class="bottomImages"] img {
    width: 275px !important;
    margin-bottom: 15px;
    float: none;
  }
}
