.tooltip-inner .primary,
.popover .primary {
  color: #2291cf;
}
.tooltip-inner .success,
.popover .success {
  color: #80c341;
}
.tooltip-inner .warning,
.popover .warning {
  color: #f0ad4e;
}
.tooltip-inner .danger,
.popover .danger {
  color: #d9534f;
}
.tooltip-inner .info,
.popover .info {
  color: #5bc0de;
}
.label {
  font-weight: normal;
}
.pagination {
  margin-bottom: 0;
}
.admin-heads-up {
  margin-bottom: 40px;
}
.admin-heads-up .biz-name {
  margin: 0;
  font-weight: 900;
}
.panel label {
  width: 100%;
}
.admin-location .location-lookup {
  padding: 10px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  background: #2291cf;
  color: #ffffff;
}
.undo-field {
  box-shadow: 0 0 8px #d9534f;
}
.updated-field {
  box-shadow: 0 0 8px #2291cf;
}
