@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.navbar-inverse {
  background-color: #2291cf;
  border: #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-brand {
  padding: 0;
}
.navbar-inverse .navbar-brand .logo {
  height: 50px;
  margin-left: 15px;
}
.navbar-inverse .navbar-nav > .active a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #80c341;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 200px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}
.twitter-typeahead .typeahead {
  background-color: #fff;
}
.twitter-typeahead .typeahead:focus {
  border: 2px solid #0097cf;
}
.twitter-typeahead .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-dropdown-menu {
  width: 422px;
  margin-top: 1px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.twitter-typeahead .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.twitter-typeahead .tt-suggestion p {
  margin: 0;
  text-align: left;
}
body {
  margin: 0;
  padding-top: 0px;
  font: 14px/24px "Open Sans", Helvetica, Arial, sans-serif;
}
body .top-bg {
  display: none;
}
@media (min-width: 992px) {
  body .top-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 390px;
    border-bottom: 2px solid #F8F8F0;
    background: #F5F5F0;
  }
}
.main-content {
  /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
  /* Carousel base class */
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
  /* MARKETING CONTENT
    -------------------------------------------------- */
  /* Pad the edges of the mobile views a bit */
  /* Center align the text within the three columns below the carousel */
  /* FEATURETTES
    ------------------------- */
  /* Thin out the marketing headings */
  /* LANDING PAGE RESPONSIVE CSS
    -------------------------------------------------- */
}
.main-content .carousel {
  height: 500px;
  margin-bottom: 0;
}
.main-content .carousel-caption {
  z-index: 10;
}
.main-content .carousel .item {
  height: 500px;
  background-color: #777;
}
.main-content .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
}
.main-content .container-full {
  margin: 0 auto;
  width: 100%;
}
.main-content .marketing {
  padding-left: 15px;
  padding-right: 15px;
}
.main-content .marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.main-content .marketing h2 {
  font-weight: normal;
}
.main-content .marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
.main-content .featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
.main-content .featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.main-content .text-muted {
  font-weight: 300;
}
@media (min-width: 768px) {
  .main-content {
    /* Remove the edge padding needed for mobile */
    /* Bump up size of carousel content */
  }
  .main-content .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  .main-content .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .main-content .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .main-content .featurette-heading {
    margin-top: 120px;
  }
}
.main-content .business-info-one {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .main-content .business-info-one {
    margin-bottom: 0;
  }
}
.main-content .business-details .dl-horizontal dt {
  width: 75px;
}
@media (min-width: 768px) {
  .main-content .business-details .dl-horizontal dd {
    margin-left: 85px;
  }
}
.glyphicon {
  margin-right: 5px;
}
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.item.list-group-item {
  margin-left: -15px;
  margin-right: -15px;
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.item.list-group-item:before,
.item.list-group-item:after {
  content: " ";
  display: table;
}
.item.list-group-item:after {
  clear: both;
}
.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background: #eee;
}
.item.list-group-item .thumbnail {
  border: none;
  background: none;
}
.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}
.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}
.item.list-group-item img {
  float: left;
}
.item.list-group-item:after {
  clear: both;
}
.list-group-item-text {
  margin: 0 0 11px;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f0;
  border-top: 2px solid #eee;
}
#footer p {
  margin-top: 20px;
}
