.navbar {
  font-size: 14px;
}
.navbar .navbar-nav > li > a {
  color: white;
}
@media (min-width: 992px) {
  .navbar .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}
.navbar .typeahead,
.navbar .tt-query,
.navbar .tt-hint {
  padding: 8px 12px;
}
.navbar-admin .btn {
  position: relative;
  top: 10px;
  margin: 0 15px;
}
.navbar-admin .btn.close {
  top: -2px;
  right: -15px;
}
#nav-mobile {
  background-color: #2291cf;
  border-bottom: 1px solid #eee;
}
#nav-mobile #mobile-nav-close {
  position: absolute;
  top: 5px;
  left: -50px;
}
#nav-mobile .navbar-header {
  width: 60px;
  float: left;
}
#nav-mobile .navbar-header .navbar-brand {
  padding: 15px 0 5px 5px;
}
#nav-mobile .navbar-header .navbar-brand .logo {
  height: 30px;
  margin-right: 10px;
}
#nav-mobile .mobile-search-form {
  position: relative;
  float: left;
  width: auto;
  margin-left: 10px;
  padding: 0 15px;
}
#nav-mobile .mobile-search-form .navbar-form {
  float: right;
  margin-bottom: 5px;
  padding: 2px 0 0 0;
  border-bottom: none;
  border-top: none;
}
#nav-mobile .mobile-search-form .navbar-form #mobile-submit {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  opacity: 0;
}
#nav-mobile .mobile-search-form .navbar-form .form-group {
  position: relative;
}
#nav-mobile .mobile-search-form .navbar-form .form-group .twitter-typeahead .term,
#nav-mobile .mobile-search-form .navbar-form .form-group .twitter-typeahead .location {
  width: 180px;
}
@media (min-width: 768px) {
  #nav-mobile .mobile-search-form .navbar-form .form-group {
    margin-bottom: 5px !important;
  }
}
#nav-mobile .mobile-search-form .navbar-form .form-group.term .tt-dropdown-menu {
  margin-top: 40px !important;
}
#nav-mobile .mobile-search-form .navbar-form .form-group.location {
  display: none;
}
#nav-mobile .navbar-toggle {
  background: white;
}
#nav-mobile .navbar-toggle .icon-bar {
  background: #555;
}
@media (max-width: 767px) {
  #nav-mobile #navbar-collapse-1 {
    clear: both;
    width: 100%;
  }
}
#nav-mobile #navbar-collapse-1 .navbar-nav li > a:hover {
  color: white;
  background: #02a4e2;
}
#nav-mobile #navbar-collapse-1 .navbar-nav .dropdown-menu {
  background: white;
}
.navbar-ab {
  background-color: #2291cf;
  border-bottom: 1px solid #02a4e2;
}
.navbar-ab .navbar-brand {
  padding: 0;
}
.navbar-ab .navbar-brand .logo {
  width: 80px;
  margin: 12px 10px 5px 15px;
}
.navbar-ab #navbar-search {
  margin: 20px 0 5px 0;
}
.navbar-ab .navbar-nav > .active a,
.navbar-ab .navbar-nav > .active > a:hover,
.navbar-ab .navbar-nav > .active > a:focus {
  background-color: red;
}
.navbar-ab .navbar-nav > li > a {
  color: white;
  font-weight: 600;
}
.navbar-ab .navbar-nav > li > a:hover {
  background-color: #02a4e2;
}
.navbar-ab .navbar-nav > .open > a,
.navbar-ab .navbar-nav > .open > a:hover,
.navbar-ab .navbar-nav > .open > a:focus {
  background: #02a4e2;
  color: white;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}
#navbar-search #help-search {
  position: relative;
  top: 7px;
  left: -5px;
  color: #eeeeee;
}
@media (max-width: 1200px) {
  #navbar-search #help-search {
    display: none;
  }
}
#navbar-search .popover {
  left: 327.5;
  font-size: 12px;
  max-width: 500px;
}
#navbar-search .popover hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  #navbar-search #add-business-button {
    display: none;
  }
}
.dropdown-menu > li > a,
.dropdown-submenu span {
  transition: all .15s;
}
.dropdown-menu > li > a:hover,
.dropdown-submenu span:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu span:focus {
  padding-left: 15px;
  color: #2291cf;
  background-color: #fff;
  border-left: 5px solid #2291cf;
}
.dropdown-submenu.et-show-dropdown > span {
  padding-left: 15px;
  color: #2291cf;
  background-color: #fff;
  border-left: 5px solid #2291cf;
}
.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 12px;
  line-height: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}
.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #2291cf;
}
.tt-dataset-always {
  color: #2291cf;
}
.twitter-typeahead .tooltip-inner,
.twitter-typeahead .popover {
  white-space: pre;
  max-width: none;
  text-align: left;
}
@media (min-width: 992px) {
  .twitter-typeahead .term {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .twitter-typeahead .location {
    width: 200px;
  }
}
.twitter-typeahead .typeahead {
  background-color: #fff;
}
.twitter-typeahead .typeahead:focus {
  border: 2px solid #0097cf;
}
.twitter-typeahead .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-dropdown-menu {
  width: 422px;
  margin-top: 1px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .twitter-typeahead .tt-dropdown-menu {
    width: 275px;
    max-height: 175px;
    overflow: auto;
  }
}
.twitter-typeahead .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.twitter-typeahead .tt-suggestion p {
  margin: 0;
  text-align: left;
}
.tooltip-inner .primary,
.popover .primary {
  color: #2291cf;
}
.tooltip-inner .success,
.popover .success {
  color: #80c341;
}
.tooltip-inner .warning,
.popover .warning {
  color: #f0ad4e;
}
.tooltip-inner .danger,
.popover .danger {
  color: #d9534f;
}
.tooltip-inner .info,
.popover .info {
  color: #5bc0de;
}
.label {
  font-weight: normal;
}
.pagination {
  margin-bottom: 0;
}
.main-content {
  /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
  /* Carousel base class */
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
  /* MARKETING CONTENT
    -------------------------------------------------- */
  /* Pad the edges of the mobile views a bit */
  /* Center align the text within the three columns below the carousel */
  /* FEATURETTES
    ------------------------- */
  /* Thin out the marketing headings */
  /* LANDING PAGE RESPONSIVE CSS
    -------------------------------------------------- */
}
.main-content .carousel {
  height: 500px;
  margin-bottom: 0;
}
.main-content .carousel-caption {
  z-index: 10;
}
.main-content .carousel .item {
  height: 500px;
  background-color: #777;
}
.main-content .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
}
.main-content .container-full {
  margin: 0 auto;
  width: 100%;
}
.main-content .marketing {
  padding-left: 15px;
  padding-right: 15px;
}
.main-content .marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.main-content .marketing h2 {
  font-weight: normal;
}
.main-content .marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
.main-content .featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
.main-content .featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.main-content .text-muted {
  font-weight: 300;
}
@media (min-width: 768px) {
  .main-content {
    /* Remove the edge padding needed for mobile */
    /* Bump up size of carousel content */
  }
  .main-content .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  .main-content .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .main-content .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .main-content .featurette-heading {
    margin-top: 120px;
  }
}
.biz-info-header .biz-name {
  letter-spacing: -1.5px;
  font-size: 42px;
  font-weight: 900;
}
.biz-info-header .biz-region {
  font-weight: 300;
  color: #555555;
}
.biz-info-header .social-share {
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 1;
}
.biz-info-one {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .biz-info-one {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .biz-social-buttons {
    text-align: right;
  }
}
.biz-social-buttons .btn {
  margin-bottom: 5px;
}
.biz-info-two .panel {
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}
.biz-info-two .panel .panel-image {
  overflow: hidden;
}
.biz-info-two .panel .panel-image .biz-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.biz-info-two .panel .panel-image #map {
  position: relative;
}
.biz-info-two .panel .panel-image #map img {
  position: relative;
  left: 50%;
  top: 75px;
  margin: -315px;
}
.biz-info-two .panel .panel-image #map .get-directions {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.biz-info-two .biz-details .biz-type {
  margin-bottom: 5px;
}
.biz-info-two .biz-details .biz-address-marker-icon {
  margin-left: -13px;
}
.biz-info-two .biz-details .biz-address-street,
.biz-info-two .biz-details .biz-address-city-state,
.biz-info-two .biz-details .biz-address-country {
  padding-left: 15px;
}
.biz-info-two .biz-description {
  opacity: 0;
  overflow: hidden;
}
.biz-info-three .biz-hours {
  margin-bottom: 30px;
}
.biz-info-three .biz-hours table thead {
  background: #eee;
}
.biz-info-three .biz-hours table td {
  width: 100px;
  border-width: 1px;
  border-color: #eee;
  text-align: center;
}
@media (min-width: 992px) {
  .biz-info-three .biz-hours table td {
    border-color: white;
  }
}
.biz-info-three .biz-gallery .biz-gallery-item .biz-gallery-img {
  margin-bottom: 30px;
}
.biz-info-three .biz-gallery .biz-gallery-item .biz-gallery-img img {
  -webkit-box-shadow: 0 0 5px #333333;
  box-shadow: 0 0 5px #333333;
  width: 100%;
}
.biz-info-three .biz-gallery .biz-gallery-item .biz-gallery-img img:hover {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  outline: 5px solid #eeeeee;
  -webkit-box-shadow: 0 0 10px #333333;
  box-shadow: 0 0 10px #333333;
}
@media (min-width: 992px) {
  .biz-info-three .biz-gallery .biz-gallery-item .biz-gallery-img.col-md-4:nth-child(n+4) {
    margin-top: 15px;
  }
}
.results-header h2 {
  font-weight: 900;
  margin: 60px 0 30px 0;
}
.results-header .icon-bitcoin-map {
  width: 80px;
}
.results-area .search-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 900;
}
.location-search-info .map-container {
  top: 90px;
}
@media (min-width: 768px) {
  .location-search-info .map-container #map {
    width: 360px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  .location-search-info .map-container #map {
    width: 470px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .location-search-info .map-container #map {
    width: 570px;
    height: 525px;
  }
}
.location-search-info .map-container #map .map-marker-popup {
  max-width: 300px;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-image {
  float: left;
  max-width: 65px;
  max-height: 65px;
  margin-right: 10px;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-info {
  float: left;
  max-width: 215px;
  height: 65px;
  white-space: nowrap;
  overflow: hidden;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-name {
  font: "Open Sans";
  font-size: 18px;
  font-weight: 400;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-links a {
  margin-top: 0;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-address {
  line-height: 12px;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-categories {
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.location-search-info .map-container #map .map-marker-popup .map-marker-categories .map-marker-cat {
  float: left;
  margin-right: 4px;
  margin-top: 4px;
  font-size: 11px;
  line-height: 11px;
}
.location-search-info .pagination-container {
  top: 60px;
}
.location-search-info .pagination-container .pagination {
  margin-bottom: 0;
}
.results-map-list {
  min-height: 600px;
}
.results-map-list.row {
  margin-left: 0px;
  margin-right: 0px;
}
.results-map-list .search-title {
  margin-bottom: 10px;
  font-weight: 900;
  color: #333333;
}
.results-map-list .result-list-item {
  padding: 12px 0;
  border-top: 1px solid #ddd;
}
.results-map-list .item-container {
  height: 150px;
}
.results-map-list .item-container:hover {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 992px) {
  .results-map-list .item-container {
    height: auto;
  }
}
.results-map-list .biz-discount {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.results-map-list .biz-img {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  background: white;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .results-map-list .biz-img {
    width: 110px;
    height: 110px;
  }
}
.results-map-list .biz-name {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -1.25px;
  margin: 0;
}
.results-map-list .biz-name a {
  color: #333333;
}
.results-map-list .biz-name a:hover {
  text-decoration: none;
  color: #2291cf;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
@media (max-width: 992px) {
  .results-map-list .biz-name {
    margin-bottom: 10px;
    letter-spacing: 0px;
    font-size: 20px;
  }
}
.results-map-list .biz-meta {
  margin: 6px 0;
}
.results-map-list .biz-meta .biz-location {
  margin-top: 8px;
}
.results-map-list .biz-meta .biz-location .biz-address-street {
  display: inline-block;
  letter-spacing: -1px;
  margin-left: 0px;
  color: #555555;
}
.results-map-list .biz-meta .biz-location .biz-distance {
  display: inline-block;
  position: absolute;
  right: 0;
  color: #a94442;
}
.results-map-list .biz-description {
  opacity: 0;
  line-height: 18px;
}
@media (max-width: 992px) {
  .results-map-list .biz-description {
    clear: both;
    padding-top: 10px;
  }
}
.biz-result .glyphicon {
  margin-right: 5px;
}
.biz-result .thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.biz-result .thumbnail .thumb-bg {
  height: 224px;
  max-height: 650px;
  background: white;
  position: relative;
  overflow: hidden;
}
.biz-result .thumbnail .thumb-bg .biz-img {
  width: 100%;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.biz-result .thumbnail .thumb-bg .biz-img:hover {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.biz-result .biz-name {
  font-weight: 900;
  letter-spacing: -1px;
}
.biz-result .biz-name a {
  color: #333;
}
.biz-result .biz-name a:hover {
  text-decoration: none;
  color: #2291cf;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.biz-result .biz-categories {
  height: 25px;
  line-height: 20px;
}
.biz-result .biz-description {
  opacity: 0;
  height: 90px;
  margin: 0 0 4px;
}
.biz-result .thumbnail {
  margin-bottom: 40px;
}
.biz-result .thumbnail .thumb-bg {
  height: auto;
}
.biz-result .biz-description {
  height: auto;
}
/* Set the fixed height of the footer here */
#footer {
  height: 110px;
  margin-top: 0px;
  padding: 10px 0;
  background-color: #2291cf;
  color: #fff;
  border-top: 2px solid #eee;
  font-size: 18px;
  font-weight: 400;
}
#footer a {
  display: inline-block;
  position: relative;
  transition: color 300ms ease 0s;
  text-decoration: none;
  color: white;
}
#footer a:hover {
  color: #222222;
  text-decoration: none;
}
#footer ul.social-icons {
  float: right;
  padding: 0;
}
#footer ul.social-icons li.social-icon {
  display: inline-block;
  margin-left: 20px;
}
@media (max-width: 992px) {
  #footer ul.social-icons li.social-icon .social-text {
    display: none;
  }
}
@media (max-width: 480px) {
  #footer ul.social-icons {
    float: none;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #footer {
    height: auto;
  }
}
#footer .site-copy-info {
  float: left;
}
@media (max-width: 768px) {
  #footer .site-copy-info {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #footer .site-copy-info {
    float: none;
    text-align: center;
  }
}
#footer .schema-markup {
  font-weight: 300;
  font-size: 85%;
}
footer#main-footer {
  display: block;
  padding: 15px 0 5px;
  background-color: transparent;
}
footer#main-footer #footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99999;
  background-color: #2291cf;
}
footer#main-footer #footer-bottom #footer-info {
  color: #fff;
}
footer#main-footer #footer-bottom #footer-info a {
  color: #fff;
}
footer#main-footer #footer-bottom .et-social-icon a {
  color: #fff;
}
html {
  height: 100%;
}
body {
  height: 100%;
  /* required for sticky footer */
  margin: 0;
  padding-top: 85px;
  font: 14px/24px "Open Sans", Helvetica, Arial, sans-serif;
}
body .heading-clean {
  color: #003e61;
  font-weight: 400;
}
body .jvectormap-label {
  z-index: 2;
  padding-bottom: 0;
}
body .top-bg,
body .top-bg-noblur {
  z-index: -1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -moz-animation: fadein 2s;
  /* Firefox */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera */
  animation: fadein 2s;
}
@media (min-width: 992px) {
  body .top-bg,
  body .top-bg-noblur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2291cf;
    background-size: cover !important;
  }
}
@media (min-width: 768px) {
  body .top-bg,
  body .top-bg-noblur {
    display: none;
  }
}
body #wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  /* Negative indent footer by its height */
  padding: 0 0 100px;
  /* Pad bottom by footer height */
}
body .main-content {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -moz-animation: fadein 2s;
  /* Firefox */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera */
  animation: fadein 2s;
}
body a.biz-cat-link:hover {
  text-decoration: none;
}
body a.biz-cat-link .label:hover {
  background: #003e61;
}
.hidden-temp {
  opacity: 0;
  visibility: hidden;
  position: fixed;
}
.temp-placeholder h2 {
  color: white;
  position: absolute;
  left: 60px;
}
.regions-covered {
  margin-top: 20px;
}
.regions-covered .panel-body {
  padding: 0;
}
.hover-region-name {
  color: white;
}
.hover-click-text {
  color: #2291cf;
}
.hover-request-text {
  color: #80c341;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 16px;
  height: 16px;
  background: #2291cf;
  font-size: 14px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.uv-popover-tail {
  display: none;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  left: -100px;
  max-height: 350px;
  width: 200px;
  overflow-y: scroll;
  margin-top: 26px;
  margin-left: 175px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > span {
  display: block;
  padding: 3px 20px;
  cursor: pointer;
}
.dropdown-submenu > a:after,
.dropdown-submenu > span:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
