body.home {
  padding-top: 0 !important;
}
body.home h1,
body.home h2,
body.home h3,
body.home h4,
body.home h5,
body.home h6,
body.home .h1,
body.home .h2,
body.home .h3,
body.home .h4,
body.home .h5,
body.home .h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}
@media (min-width: 768px) {
  body.home {
    margin-top: -60px !important;
  }
}
@media (min-width: 992px) {
  body.home {
    margin-top: -120px !important;
  }
}
body.home header {
  display: none;
}
body.home .navbar .logo {
  max-width: none;
}
body.home #nav-desktop {
  visibility: hidden;
}
body.home #main-content .page .airbitz-feature-details .features-list,
body.home #main-content .page .airbitz-feature-details .wallet-beta-signup {
  margin: 15px 0 0 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .features-list,
  body.home #main-content .page .airbitz-feature-details .wallet-beta-signup {
    float: none;
    margin: 25px 0;
  }
}
body.home #main-content .page .airbitz-feature-details .airbitz-video {
  margin-left: 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .airbitz-video {
    margin: 20px 0 0 0;
  }
}
body.home #main-content .page .airbitz-feature-details .app-store {
  margin-left: 15px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .app-store {
    margin-left: 0;
  }
}
body.home #main-content .page .airbitz-feature-details #jump-who-accepts-bitcoin {
  margin-left: 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details #jump-who-accepts-bitcoin {
    margin-left: 0;
  }
}
body.home .ab-app-cta {
  height: 550px;
  margin-bottom: 60px;
}
body.home .ab-app-cta .app-slide {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
}
body.home .ab-app-cta .app-slide .app-features.col-md-5 {
  padding-left: 0;
  padding-right: 0;
}
body.home .ab-app-cta .app-slide .app-features {
  text-align: left;
  color: black;
}
body.home .ab-app-cta .app-slide .app-features h3 {
  margin-top: 0;
  font-weight: 600;
}
body.home .ab-app-cta .app-slide .app-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home .ab-app-cta .app-slide .app-features ul li {
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: .5px;
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide .app-features {
    text-align: center;
  }
}
body.home .ab-app-cta .app-slide .app-install .app-store {
  margin-bottom: 20px;
  text-align: left;
}
body.home .ab-app-cta .app-slide .app-install .app-screenshot {
  max-height: 500px;
}
@media (max-width: 992px) {
  body.home .ab-app-cta .app-slide .app-install .app-screenshot {
    max-height: 375px;
  }
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide {
    width: 100%;
    margin-bottom: 60px;
  }
}
body.home #bottom-slider .et_pb_slide_content {
  padding: 15px 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
}
body.home #bottom-slider .et_pb_slide_description h2 {
  font-size: 36px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  body.home {
    margin-top: -80px;
  }
}
.landing-module {
  height: 900px;
  margin-top: 50px;
  padding: 65px 0;
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
}
@media (max-width: 992px) {
  .landing-module {
    height: auto;
    margin-top: 0;
    padding: 140px 0 50px 0;
  }
}
@media (max-width: 768px) {
  .landing-module {
    padding-top: 100px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module {
    height: 1300px;
  }
}
@media (max-width: 768px) {
  .landing-module .container {
    width: auto;
  }
}
.landing-module .label {
  padding: .1em .3em .1em;
  line-height: 1.5;
}
.landing-module h2 {
  margin-top: 0px;
  font-size: 26px;
}
@media (min-width: 1200px) {
  .landing-module h2 {
    font-size: 30px;
  }
}
.landing-module .column1 {
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid #FFF;
  /* iPads (portrait) ----------- */
}
@media (max-width: 991px) {
  .landing-module .column1 {
    width: 90%;
    margin: 0px auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module .column1 {
    width: 400px;
    margin-top: 40px;
  }
}
.landing-module .column1 .airbitz-logo {
  display: block;
  width: 175px;
  margin: 20px auto;
  text-align: center;
}
@media (min-width: 1200px) {
  .landing-module .column1 .airbitz-logo {
    width: 250px;
  }
}
.landing-module .column1 .directory-link {
  color: #2291cf;
}
.landing-module .column1 #app-store-links {
  visibility: hidden;
}
.landing-module .column1 #app-store-links .app-store {
  width: 140px;
  margin-bottom: 10px;
  text-align: left;
}
@media (min-width: 1200px) {
  .landing-module .column1 #app-store-links .app-store {
    width: auto;
  }
}
.landing-module .column1 hr {
  border-color: #999;
}
.landing-module .column1 .bitcoin-directory-wallet {
  margin-top: 10px;
  text-align: center;
}
.landing-module .column1 .bitcoin-directory-wallet .slide-text {
  text-align: center;
  color: #003E61;
}
.landing-module .column1 .or-area {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.landing-module .column1 .or-area .left-line,
.landing-module .column1 .or-area .right-line {
  width: 100%;
  width: 35%;
  background: #aaa;
  margin: 15px 10px 0 10px;
  height: 2px;
}
.landing-module .column1 .or-area .left-line {
  float: left;
}
.landing-module .column1 .or-area .right-line {
  float: right;
}
.landing-module .column1 .or-area h2 {
  float: left;
  width: 16%;
  text-align: center;
  color: #aaa;
}
@media (max-width: 991px) and (min-width: 768px) {
  .landing-module .column1 .or-area h2 {
    width: 22%;
  }
}
.landing-module .column1 .signup-area {
  max-width: 360px;
  margin: 0 auto;
}
.landing-module .column1 .signup-area .form-group .control-label {
  display: block !important;
  margin: 5px auto;
  text-align: center;
}
.landing-module .column1 .signup-area .form-group .form-control {
  text-align: center;
}
@media (max-width: 767px) {
  .landing-module .column1 .signup-area .form-group .btn-lg.btn-block {
    font-size: 15px;
  }
}
.landing-module .column2 {
  position: relative;
  padding: 25px;
  text-align: center;
}
.landing-module .column2 .button-centerer {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}
.landing-module .column2 #see-app-in-action {
  visibility: hidden;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  -webkit-box-shadow: 0 0 35px 10px black;
  -moz-box-shadow: 0 0 35px 10px black;
  box-shadow: 0 0 35px 10px black;
}
.landing-module .column2 .iphone-slider {
  visibility: hidden;
  position: relative;
  width: 236px;
  height: 500px;
  margin: 30px auto 0;
  padding: 70px 0 0 0;
  background: url('../img/landing/iphone-slider/iphone5s_1up.png');
  border-radius: 40px;
}
.landing-module .column2 .iphone-slider #app-demo-slides .slide {
  width: 200px;
  height: 360px;
  background: black;
  text-align: center;
  color: white;
}
.landing-module .searchStarter {
  padding: 0;
}
.landing-module h3 {
  margin-top: 0;
}
.landing-module .column3 {
  width: 90%;
  margin: 60px auto;
  /* iPads (portrait) ----------- */
}
@media (max-width: 767px) {
  .landing-module .column3 {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-module .column3 {
    width: 330px;
    margin-top: 60px;
  }
}
@media (min-width: 991px) {
  .landing-module .column3 {
    width: 33.33333333%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module .column3 {
    width: 330px;
    margin-top: 0;
  }
}
.landing-module .column3 #who-accepts-bitcoin {
  visibility: hidden;
  text-align: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid #FFF;
  /* iPads (portrait) ----------- */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module .column3 #who-accepts-bitcoin {
    margin-top: 60px;
  }
}
.landing-module .column3 #who-accepts-bitcoin img {
  width: 150px;
  margin-left: 25px;
}
.landing-module .column3 #accepting-bitcoin {
  visibility: hidden;
  /* iPads (portrait) ----------- */
}
@media (min-width: 768px) and (max-width: 992px) {
  .landing-module .column3 #accepting-bitcoin {
    padding-right: 50px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module .column3 #accepting-bitcoin {
    margin-top: 60px;
  }
}
.landing-module .column3 #accepting-bitcoin h3.heading-text {
  padding: 15px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 1px solid #FFF;
}
@media (min-width: 1200px) {
  .landing-module .column3 #accepting-bitcoin h3.heading-text {
    font-size: 24px;
  }
}
.landing-module .column3 .loading-spinner {
  z-index: 1;
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 80px);
  width: 160px;
  height: 140px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
.landing-module .column3 .loading-spinner .fa-spinner {
  display: block;
  margin: 0 auto 5px;
  width: 100%;
  height: 70px;
  font-size: 70px;
  color: #2291cf;
}
.landing-module .column3 .loading-spinner .spinner-text {
  font-size: 16px;
  font-weight: 600;
}
.landing-module .column3 .list-container {
  max-height: 380px !important;
  overflow-y: auto;
  cursor: pointer;
  border-radius: 0;
}
@media (min-width: 1200px) {
  .landing-module .column3 .list-container {
    max-height: 430px !important;
  }
}
.landing-module .column3 .list-container .list-group {
  margin: 0;
  border-radius: 0;
}
.landing-module .column3 .list-container .list-group .list-group-item.header {
  background: #555555;
  color: white;
  cursor: inherit;
}
.landing-module .column3 .list-container .list-group .list-group-item.header:hover {
  margin-left: 0;
  padding-left: 15px;
  border-left: none;
  background: #555555;
  color: white;
}
.landing-module .column3 .list-container .list-group .list-group-item {
  border-radius: 0;
  border: none;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}
.landing-module .column3 .list-container .list-group .list-group-item:hover {
  background: #ffffff;
  border-left: 5px solid #2291cf;
  padding-left: 10px;
  color: #2291cf;
}
.landing-module .column3 .list-container .list-group .list-group-item:hover .label {
  background: #2291cf;
}
.landing-module .column3 .back-button {
  margin-top: 10px;
}
