body.home {
  padding-top: 0 !important;
}
body.home h1,
body.home h2,
body.home h3,
body.home h4,
body.home h5,
body.home h6,
body.home .h1,
body.home .h2,
body.home .h3,
body.home .h4,
body.home .h5,
body.home .h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}
@media (min-width: 768px) {
  body.home {
    margin-top: -60px !important;
  }
}
body.home header {
  display: none;
}
body.home .navbar .logo {
  max-width: none;
}
body.home #main-content .page .airbitz-feature-details .features-list,
body.home #main-content .page .airbitz-feature-details .wallet-beta-signup {
  margin: 15px 0 0 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .features-list,
  body.home #main-content .page .airbitz-feature-details .wallet-beta-signup {
    float: none;
    margin: 25px 0;
  }
}
body.home #main-content .page .airbitz-feature-details .airbitz-video {
  margin-left: 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .airbitz-video {
    margin: 20px 0 0 0;
  }
}
body.home #main-content .page .airbitz-feature-details .app-store {
  margin-left: 15px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details .app-store {
    margin-left: 0;
  }
}
body.home #main-content .page .airbitz-feature-details #jump-who-accepts-bitcoin {
  margin-left: 225px;
}
@media only screen and (max-width: 980px) {
  body.home #main-content .page .airbitz-feature-details #jump-who-accepts-bitcoin {
    margin-left: 0;
  }
}
body.home .ab-app-cta {
  height: 550px;
  margin-bottom: 60px;
}
body.home .ab-app-cta .app-slide {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
}
body.home .ab-app-cta .app-slide .app-features.col-md-5 {
  padding-left: 0;
  padding-right: 0;
}
body.home .ab-app-cta .app-slide .app-features {
  text-align: left;
  color: black;
}
body.home .ab-app-cta .app-slide .app-features h3 {
  margin-top: 0;
  font-weight: 600;
}
body.home .ab-app-cta .app-slide .app-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home .ab-app-cta .app-slide .app-features ul li {
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: .5px;
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide .app-features {
    text-align: center;
  }
}
body.home .ab-app-cta .app-slide .app-install .app-store {
  margin-bottom: 20px;
  text-align: left;
}
body.home .ab-app-cta .app-slide .app-install .app-screenshot {
  max-height: 500px;
}
@media (max-width: 992px) {
  body.home .ab-app-cta .app-slide .app-install .app-screenshot {
    max-height: 375px;
  }
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide {
    width: 100%;
    margin-bottom: 60px;
  }
}
body.home #bottom-slider .et_pb_slide_content {
  padding: 15px 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
}
body.home #bottom-slider .et_pb_slide_description h2 {
  font-size: 36px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  body.home {
    margin-top: -80px;
  }
}
.landing-module {
  height: 630px;
  margin-top: 125px;
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
}
@media (max-width: 992px) {
  .landing-module {
    height: auto;
    margin-top: 0;
    padding: 140px 0 50px 0;
  }
}
@media (max-width: 768px) {
  .landing-module {
    padding-top: 30px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .landing-module {
    height: 1300px;
  }
}
.landing-module h2 {
  margin-top: 0px;
  font-size: 26px;
}
@media (min-width: 1200px) {
  .landing-module h2 {
    font-size: 30px;
  }
}
.landing-module .container {
  height: 100%;
}
@media (max-width: 768px) {
  .landing-module .container {
    width: auto;
  }
}
.landing-module .label {
  padding: .1em .3em .1em;
  line-height: 1.5;
}
.landing-module .download-signup {
  margin-top: 60px;
}
.landing-module .download-signup .airbitz-logo {
  display: block;
  width: 250px;
  margin: 20px auto;
  text-align: center;
}
.landing-module .download-signup .directory-link {
  color: #2291cf;
}
.landing-module .download-signup #app-store-links {
  margin: 10px 0;
  visibility: hidden;
}
.landing-module .download-signup #app-store-links .app-store {
  width: 140px;
  margin-bottom: 10px;
  text-align: left;
  box-shadow: 0 0 19px #FFF;
  border-radius: 8px;
}
@media (min-width: 1200px) {
  .landing-module .download-signup #app-store-links .app-store {
    width: auto;
  }
}
.landing-module .download-signup hr {
  width: 60%;
  border-color: #999;
}
.landing-module .download-signup h2 {
  margin: 0;
  line-height: 26px;
  color: #fff;
  text-shadow: 1px 0 1px #000;
}
.landing-module .download-signup .and-heading {
  text-align: center;
}
.landing-module .download-signup .signup-area {
  max-width: 360px;
  margin: 0 auto;
}
.landing-module .download-signup .signup-area .form-group .control-label {
  display: block !important;
  margin: 5px auto;
  text-align: center;
}
.landing-module .download-signup .signup-area .form-group .form-control {
  text-align: center;
}
@media (max-width: 767px) {
  .landing-module .download-signup .signup-area .form-group .btn-lg.btn-block {
    font-size: 15px;
  }
}
.landing-module .iphone-app-slider {
  position: relative;
  padding: 25px;
  text-align: center;
}
.landing-module .iphone-app-slider .button-centerer {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
}
.landing-module .iphone-app-slider #see-app-in-action {
  visibility: hidden;
  position: relative;
  width: 80px;
  margin: 0 auto;
  z-index: 1;
}
.landing-module .iphone-app-slider .iphone-slider {
  visibility: hidden;
  position: relative;
  width: 241px;
  height: 500px;
  margin: 30px auto 0;
  padding: 60px 0 0 15px;
  background: url('../img/landing/ios-bitcoin-wallet.png');
  border-radius: 40px;
}
.landing-module .iphone-app-slider .iphone-slider #app-demo-slides .slide {
  position: relative;
  width: 214px;
  height: 380px;
  background: #333;
  text-align: center;
  color: white;
}
.landing-module .iphone-app-slider .iphone-slider #app-demo-slides .slide .slide-title {
  display: none;
  position: absolute;
}
