body.home {
  padding-top: 0 !important;
}
body.home h1,
body.home h2,
body.home h3,
body.home h4,
body.home h5,
body.home h6,
body.home .h1,
body.home .h2,
body.home .h3,
body.home .h4,
body.home .h5,
body.home .h6 {
  font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif;
}
@media (min-width: 768px) {
  body.home {
    margin-top: -60px !important;
  }
}
@media (min-width: 992px) {
  body.home {
    margin-top: -120px !important;
  }
}
body.home header {
  display: none;
}
body.home .navbar .logo {
  max-width: none;
}
body.home .landing-module .searchStarter h2 {
  margin-top: 0;
}
body.home .ab-app-cta {
  height: 550px;
  margin-bottom: 60px;
}
body.home .ab-app-cta .app-slide {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
}
body.home .ab-app-cta .app-slide .app-features.col-md-5 {
  padding-left: 0;
  padding-right: 0;
}
body.home .ab-app-cta .app-slide .app-features {
  text-align: left;
  color: black;
}
body.home .ab-app-cta .app-slide .app-features h3 {
  margin-top: 0;
  font-weight: 600;
}
body.home .ab-app-cta .app-slide .app-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.home .ab-app-cta .app-slide .app-features ul li {
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: .5px;
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide .app-features {
    text-align: center;
  }
}
body.home .ab-app-cta .app-slide .app-install .app-store {
  margin-bottom: 20px;
  text-align: left;
}
body.home .ab-app-cta .app-slide .app-install .app-screenshot {
  max-height: 500px;
}
@media (max-width: 992px) {
  body.home .ab-app-cta .app-slide .app-install .app-screenshot {
    max-height: 375px;
  }
}
@media (max-width: 768px) {
  body.home .ab-app-cta .app-slide {
    width: 100%;
    margin-bottom: 60px;
  }
}
body.home #top-slider .et_pb_slide_with_image .et_pb_slide_description {
  padding-bottom: 0;
}
body.home #top-slider .et_pb_container {
  min-height: 1000px;
}
body.home #top-slider .et_pb_container .et_pb_slide_image {
  display: none;
  top: 240px;
}
@media (max-width: 992px) {
  body.home #top-slider .et_pb_container .et_pb_slide_image {
    top: 140px;
  }
}
body.home #top-slider .et_pb_container .et_pb_slide_with_image .et_pb_slide_description,
body.home #top-slider .et_pb_container .et_pb_slide_video {
  width: 46%;
}
@media (max-width: 992px) {
  body.home #top-slider .et_pb_container {
    width: 90%;
  }
}
body.home #top-slider .et_pb_slide_content .airbitz-slide-logo {
  margin-bottom: 20px;
}
body.home #top-slider .et_pb_slide_content .bitcoin-directory-wallet {
  width: 500px;
  margin: 0 auto;
}
body.home #top-slider .et_pb_slide_content .bitcoin-directory-wallet h2 {
  margin: 0;
  font-size: 36px;
}
@media (max-width: 1200px) {
  body.home #top-slider .et_pb_slide_content .bitcoin-directory-wallet h2 {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  body.home #top-slider .et_pb_slide_content .bitcoin-directory-wallet h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  body.home #top-slider .et_pb_slide_content .bitcoin-directory-wallet {
    width: 400px;
  }
}
body.home #top-slider .et_pb_slide_content .slide-text {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  body.home #top-slider .et_pb_slide_content .slide-text {
    text-align: center !important;
  }
}
@media (max-width: 992px) {
  body.home #top-slider .et_pb_slide_content .slide-text {
    font-size: 16px;
  }
}
body.home #top-slider .et_pb_slide_content .currently-available {
  margin: 0;
  font-weight: normal;
  color: #2291cf;
}
body.home #top-slider .et_pb_slide_content #email-signup-form {
  margin: 0 25px;
}
body.home #top-slider .et_pb_slide_content #email-signup-form .form-group {
  margin-bottom: 5px;
}
body.home #top-slider .et_pb_slide_content #email-signup-form .form-group label {
  width: 100%;
  padding: 3px 7px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  text-transform: capitalize;
}
body.home #top-slider .et_pb_slide_content #email-signup-form .form-group #inputEmailWallet {
  text-align: center;
}
body.home #bottom-slider .et_pb_slide_content {
  padding: 15px 0px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
}
body.home #bottom-slider .et_pb_slide_description h2 {
  font-size: 36px;
  font-weight: 600;
}
body.home #footer {
  color: #222222;
}
body.home #footer a {
  color: #2291cf;
}
body.home #footer a:hover {
  color: black;
  text-decoration: underline;
}
body.home #footer .social-icons {
  margin-top: 5px;
}
body.home #footer .social-icons a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  body.home {
    margin-top: -80px;
  }
}
.landing-module {
  height: 700px;
  margin-top: 172px;
  padding-top: 25px;
  background: url('/static/img/skyline-airbitz.jpg') no-repeat center;
  background-size: cover;
}
.landing-module .label {
  padding: .1em .3em .1em;
  line-height: 1.5;
}
.landing-module .column1 #bitcoin-logo {
  float: left;
  width: 75px;
  margin-right: 10px;
}
.landing-module .column1 .bitcoin-directory-wallet {
  margin-top: 10px;
  text-align: center;
}
.landing-module .column1 .bitcoin-directory-wallet h2 {
  margin-top: 0px;
  font-size: 30px;
}
.landing-module .column1 .bitcoin-directory-wallet .airbitz-logo {
  width: 250px;
  margin-bottom: 20px;
}
.landing-module .column1 .bitcoin-directory-wallet .slide-text {
  text-align: center;
  color: #003E61;
}
.landing-module .column1 #app-store-links {
  visibility: hidden;
}
.landing-module .column1 .signup-area .form-group .control-label {
  display: block !important;
  margin: 5px auto;
  text-align: center;
}
.landing-module .column1 .signup-area .form-group .form-control {
  text-align: center;
}
.landing-module .column2 {
  padding: 25px;
  text-align: center;
}
.landing-module .column2 #app-in-action {
  visibility: hidden;
  position: absolute;
  top: 200px;
  margin: 0 auto;
  z-index: 1;
  left: 7px;
  -webkit-box-shadow: 0 0 35px 10px black;
  -moz-box-shadow: 0 0 35px 10px black;
  box-shadow: 0 0 35px 10px black;
}
.landing-module .column2 .iphone-slider {
  position: relative;
  width: 236px;
  height: 500px;
  margin: 30px auto 0;
  padding: 70px 0 0 0;
  background: url('../img/landing/iphone-slider/iphone5s_1up.png');
}
.landing-module .column2 .iphone-slider .slide {
  width: 200px;
  height: 360px;
  background: black;
  text-align: center;
  color: white;
}
.landing-module .column3 .list-container {
  max-height: 500px;
  overflow-y: scroll;
  cursor: pointer;
  border-radius: 0;
}
.landing-module .column3 .list-container .list-group {
  margin: 0;
  border-radius: 0;
}
.landing-module .column3 .list-container .list-group .list-group-item.header {
  background: #555555;
  color: white;
  cursor: inherit;
}
.landing-module .column3 .list-container .list-group .list-group-item.header:hover {
  background: #555555;
  margin-left: 0;
}
.landing-module .column3 .list-container .list-group .list-group-item.header .back-button:hover {
  color: #2291cf !important;
}
.landing-module .column3 .list-container .list-group .list-group-item {
  border-radius: 0;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -ms-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}
.landing-module .column3 .list-container .list-group .list-group-item:hover {
  background: #ffffff;
  margin-left: -2px;
}
