body {
  padding-top: 65px;
}
.main-content ul {
  padding-left: 15px;
}
.main-content ul li {
  margin-bottom: 5px;
}
.main-content .landing-module .slides {
  padding: 50px 0;
}
.main-content .landing-module .slides .slide-image img {
  max-height: 400px;
}
.main-content .landing-module .slides .slide-text h1,
.main-content .landing-module .slides .slide-text h2,
.main-content .landing-module .slides .slide-text h3,
.main-content .landing-module .slides .slide-text h4 {
  letter-spacing: -1px;
}
.main-content .landing-module .slides .slide-text h1 {
  font-size: 46px;
  font-weight: 700;
}
.main-content .landing-module .slides .slide-text ul {
  padding-left: 0;
}
.main-content .landing-module .slides .slide-text ul li {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
  list-style: none;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.main-content .landing-module .slides .slide-text ul li i {
  width: 35px;
  text-align: center;
}
.main-content .feature-section {
  margin-bottom: 30px;
}
.main-content .feature-media-right {
  margin-top: 25px;
  border-left: 3px solid #eee;
}
.main-content .feature-media-right .row {
  margin-bottom: 10px;
}
.main-content .feature-media-left {
  margin-top: 25px;
  border-right: 3px solid #eee;
}
.main-content .feature-media-left .row {
  margin-bottom: 10px;
}
.main-content .section-bitcoin-wallet {
  min-height: 500px;
}
.main-content .section-bitcoin-wallet .container {
  position: absolute;
}
.main-content #section-bitcoin-wallet-download {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.main-content #section-bitcoin-wallet-details hr {
  margin: 40px 0;
}
.main-content #section-bitcoin-wallet-details h2 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
.main-content #section-bitcoin-wallet-platform-details h1 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
