body {
  padding-top: 65px;
}
@media (max-width: 992px) {
  body {
    padding-top: 54px;
  }
}
.main-content p {
  margin-bottom: 15px;
}
.main-content ul,
.main-content ol {
  font-size: 16px;
  padding-left: 25px;
}
.main-content ul li,
.main-content ol li {
  margin-bottom: 15px;
}
.main-content h2 {
  margin-top: 50px;
}
.main-content .landing-module .slides {
  padding: 50px 0;
}
.main-content .landing-module .slides .slide-image img {
  max-height: 400px;
}
@media (max-width: 768px) {
  .main-content .landing-module .slides .slide-text {
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .main-content .landing-module .slides .slide-text {
    width: 360px;
  }
}
.main-content .landing-module .slides .slide-text h1,
.main-content .landing-module .slides .slide-text h2,
.main-content .landing-module .slides .slide-text h3,
.main-content .landing-module .slides .slide-text h4 {
  letter-spacing: -1px;
}
.main-content .landing-module .slides .slide-text h1 {
  width: auto;
  font-size: 46px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .main-content .landing-module .slides .slide-text h1 {
    zoom: 0.90;
  }
}
@media (max-width: 480px) {
  .main-content .landing-module .slides .slide-text h1 {
    zoom: 0.80;
  }
}
.main-content .landing-module .slides .slide-text ul {
  width: auto;
  padding-left: 0;
}
.main-content .landing-module .slides .slide-text ul li {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 600;
  list-style: none;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.main-content .landing-module .slides .slide-text ul li i {
  width: 35px;
  text-align: center;
}
@media (max-width: 1200px) {
  .main-content .landing-module .slides .slide-text ul li {
    font-size: 26px;
  }
}
@media (max-width: 992px) {
  .main-content .landing-module .slides .slide-text ul li {
    font-size: 21px;
  }
}
@media (max-width: 768px) {
  .main-content .landing-module .slides .slide-text ul li {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .main-content .landing-module .slides .slide-text ul li {
    font-size: 20px;
  }
}
.main-content .feature-section {
  margin-bottom: 30px;
}
.main-content .feature-media-right {
  margin-top: 25px;
}
.main-content .feature-media-right .row {
  margin-bottom: 10px;
}
.main-content .feature-media-left {
  margin-top: 25px;
}
.main-content .feature-media-left .row {
  margin-bottom: 10px;
}
.main-content #section-bitcoin-wallet-download {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.main-content #section-bitcoin-wallet-details hr {
  margin: 40px 0;
}
.main-content #section-bitcoin-wallet-details h2 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
.main-content #section-bitcoin-wallet-platform-details h1 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
