.main-content #section-bitcoin-wallet-download {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.main-content #section-bitcoin-wallet-details hr {
  margin: 40px 0;
}
.main-content #section-bitcoin-wallet-details h2 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
.main-content #section-bitcoin-wallet-platform-details h1 {
  margin: 40px 0;
  font-size: 42px;
  font-weight: 500;
  color: #003e61;
}
