{% extends 'base.html' %}
{% load compressed %}

{% block title %} Management Dashboard {% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'management' %}
    {% compressed_css 'dataTables' %}
    <style>
        .panel-tabbed {
            border-top: 0px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock head %}

{% block search %}
{% endblock search %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_biz_import' %}">Import Place</a>
            <a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_biz_add' %}">Add Place</a>
            <ul class="nav nav-tabs">
                <li><a href="{% url 'mgmt_dashboard' %}">Dashboard</a></li>
                <li class="active"><a href="{% url 'mgmt_map' %}">Map</a></li>
                <li><a href="{% url 'mgmt_category_list' %}">Categories</a></li>
                <li><a href="{% url 'mgmt_image_tag_list' %}">Image Tags</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-tabbed">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="pull-left">
                                <label for="status">Status</label>
                                <select id="status">
                                    <option value="ALL">All</option>
                                    {% for s in STATUS_CHOICES %}
                                        <option value="{{ s.0 }}">{{ s.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="pull-right">
                                <label for="status">Location</label>
                                <input id="location" type="text">
                                <button class="btn btn-default btn-sm" id="refresh">Refresh</button>
                            </div>

                            <table class="table dataTableCustom">
                                <thead>
                                    <th></th>
                                    <th>Status</th>
                                    <th>Name</th>
                                    <th>Categories</th>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_headers %}
    {{ block.super }}
    {% compressed_js 'management' %}
    {% compressed_js 'dataTables' %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&sensor=false"> </script>
{% endblock javascript_headers %}


{% block javascript %}
    {{ block.super }}
    <style>
        #map { 
            border: #CCC solid 1px;
            width: 100%; 
            height: 500px; 
        }
    </style>
    <script type="text/javascript">
    var map;
    var markers = [];
    $(function() {
        function clearOverlays() {
            for (var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }
            markers.length = 0;
        }
        function initializeMap() {
            var mapOptions = {
                zoom: 4,
                center: new google.maps.LatLng(32.827673,-117.255921)
            };
            map = new google.maps.Map($('#map')[0], mapOptions);
            // google.maps.event.addListener(map, 'bounds_changed', function() {
            //     oTable._fnAjaxUpdate();
            // });
            google.maps.event.addListener(map, 'idle', function() {
                oTable._fnAjaxUpdate();
            });
        }
        if (localStorage.getItem('mgmt_status')) {
            $('#status').val(localStorage.getItem('mgmt_status'));
        }
        if (localStorage.getItem('mgmt_location')) {
            $('#location').val(localStorage.getItem('mgmt_location'));
        }
        var tableUrl = "/mgmt/api/biz/";
        var oTable = $('.dataTableCustom').dataTable({
          "sPaginationType": "full_numbers",
          "iDisplayLength": 10,
          "aLengthMenu": [5, 10, 20, 50],
          "bStateSave": true,
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": tableUrl,
          "fnServerData": function (sSource, aoData, fnCallback) {
            var st = $('#status').val()
            if (st && st !== 'ALL') {
                aoData.push({ "name": "status", "value": st });
            }
            if (map) {
                var b = map.getBounds();
                var ne = b.getNorthEast();
                var sw = b.getSouthWest();
                var param = sw.d + ',' + sw.e + '|' + ne.d + ',' + ne.e;
                aoData.push({ "name": "bounds", "value": param });
            }
            aoData.push({ "name": "location", "value": $('#location').val() });
            var mappy = map;
            $.getJSON(sSource, aoData, function (json) { 
                clearOverlays();
                if (json.aaData) {
                    $.each(json.aaData, function(i, m) {
                        var loc = new google.maps.LatLng(m.center.latitude,
                                                         m.center.longitude);
                        var marker = new google.maps.Marker({
                            position: loc,
                            map: mappy
                        });
                        markers.push(marker);
                        google.maps.event.addListener(marker, 'click', function() {
                            map.setZoom(map.getZoom() + 1);
                            map.setCenter(marker.getPosition());
                        });
                    });
                }
                fnCallback(json)
            });
          },
          "aoColumns": [
            {"mData": "id"},
            {"mData": "status"},
            {"mData": "name"},
            {"mData": "categories"}
          ],
          "aoColumnDefs": [ {
            "aTargets":[0],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'center');
            },
            "mData": null,
            "mRender": function(data, type, full) {
                return '<td><a href="/mgmt/biz/view/' + data + '/main" class="add">' + 
                            '<span class="glyphicon glyphicon-pencil"></span>' + 
                       '</a></td>';
            }
          } , {
            "aTargets":[1],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'left');
            },
            "mData": null,
            "mRender": function(data, type, full) {
                if (data === "DR") {
                    return '<td>Draft</td>';
                } else if (data === "PUB") {
                    return '<td>Published</td>';
                } else if (data === "PEN") {
                    return '<td>Pending</td>';
                } else {
                    return '<td>Trashed</td>';
                }
            }
          } , {
            "aTargets":[3],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'center');
            },
            "mData": null,
            "mRender": function(data, type, full) {
              var html = '';
              for (var i = 0; i < data.length; ++i) {
                html += '<span class="btn btn-sm btn-default">' + data[i].name + '</span>';
              }
              return html;
            }
          }]
        });
        $('.panel select').select2({ 'width': '200px' });
        $('#status').change(function() {
            localStorage.setItem('mgmt_status', $(this).val());
            oTable._fnAjaxUpdate();
        });
        $('#location').keyup(function() {
            localStorage.setItem('mgmt_location', $(this).val());
            oTable._fnAjaxUpdate();
        });
        $('#refresh').click(function() {
            oTable._fnAjaxUpdate();
        });
        $('#status').select2({ 'width': '200px' });

        google.maps.event.addDomListener(window, 'load', initializeMap);
    });
    </script>
{% endblock javascript %}

