{% extends 'base.html' %}
{% load compressed %}

{% block title %} Category View {% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'dataTables' %}
    {% compressed_css 'management' %}
    <style>
        .panel-tabbed {
            border-top: 0px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock head %}

{% block search %}
    {{ block.super }}
{% endblock search %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_category_add' %}">Add Category</a>
            <ul class="nav nav-tabs">
                <li><a href="{% url 'mgmt_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'mgmt_map' %}">Map</a></li>
                <li class="active"><a href="{% url 'mgmt_category_list' %}">Categories</a></li>
                <li><a href="{% url 'mgmt_image_tag_list' %}">Image Tags</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-tabbed">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table dataTableCustom">
                                <thead>
                                    <th style="width: 30px"></th>
                                    <th>Name</th>
                                    <th>Level</th>
                                    <th>Description</th>
                                    <th style="width: 30px"></th>
                                </thead>
                                <tbody>
                                    {% for cat in cats %}
                                        <tr>
                                            <td><a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_category_edit' cat.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                                            <td>{{ cat.name }}</td>
                                            <td>{{ cat.level|default:'1000' }}</td>
                                            <td>{{ cat.description|default:'' }} </td>
                                            <td><a class="pull-right btn-sm btn btn-danger" href="{% url 'mgmt_category_delete' cat.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="3">No results found.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_headers %}
    {{ block.super }}
    {% compressed_js 'dataTables' %}
{% endblock javascript_headers %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        /* Initialise the DataTable */
        var oTable = $('.dataTableCustom').dataTable({
            "aLengthMenu": [[10, 25, 50, 100, 500, -1],
                            [10, 25, 50, 100, 500, "All"]],
            "iDisplayLength": 10,
            "aaSorting": [[ 2, "asc" ]],
            "aoColumns": [
                null,
                null,
                { "sType": 'numeric' },
                null,
                null
            ]
            // "bStateSave": true,
        });
    });
    </script>
{% endblock javascript %}
