{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%} {{ biz.name }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if img %}
                <a class="pull-left btn btn-default" href="{% url 'mgmt_biz_image_view' biz.id %}">Back to Business</a>
            {% elif biz and biz.id %}
                <a class="pull-left btn btn-default" href="{% url 'mgmt_biz_view' biz.id %}">Back to Business</a>
            {% else %}
                <a class="pull-left btn btn-default" href="{% url 'mgmt_dashboard' %}">Back to Dashboard</a>
            {% endif %}
        </div>
    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body" style="margin: 0 10px">
            {% if helper %}
                {% crispy form helper %}
            {% else %}
                {% crispy form %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        $(function() {
            $('.geocode-address').click(function() {
                var self = $(this);
                var origText = self.html();
                var address = $('input[name="address"]').val();
                var city = $('input[name="admin2_name"]').val();
                var state = $('input[name="admin1_code"]').val();
                var zip = $('input[name="postalcode"]').val();
                var self = jQuery(this);
                if (!address || !city || !state || !zip) {
                    return false;
                }
                var address = address + ',' + city + ',' + state + ',' + zip
                var geocoder = new google.maps.Geocoder();
                self.html('Fetching...');
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var loc = results[0].geometry;
                        latestResult = results[0];
                        console.log(latestResult);
                        var g = latestResult.geometry.location;
                        $('input[name=center_0]').val(g.d.toFixed(7));
                        $('input[name=center_1]').val(g.e.toFixed(7));
                    } else {
                        alert('Unable to find lat/lon from ' + address);
                    }
                    self.html(origText);
                });
                return false;
            });

        });
    </script>
{% endblock javascript %}
