{% extends 'base.html' %}

{% block admin_buttons %}
    {{ block.super }}
    <a class="btn btn-primary pull-right" href="{% url 'business_info' biz.id %}" style="margin-left: 5px;" title="View Business Listing">
        <i class="fa fa-file-o"></i> View</a>
    <a id="mgmt_biz_copy" class="btn btn-success pull-right" href="javascript:void(0)" title="Copy Business Listing">
        <i class="fa fa-copy"></i> Copy</a>

    <a class="btn btn-default pull-right" href="{% url 'mgmt_biz_image_view' biz.id %}">Images</a>
    <a class="btn btn-default pull-right" href="{% url 'mgmt_biz_view' biz.id %}">Data</a>
{% endblock admin_buttons %}

{% block body %}
    <div class="admin-heads-up row">
    {% if DEBUG %}
        <div class="col-sm-12">
            <span class="label label-danger">WARNING NOT PRODUCTION</span>
        </div>
    {% endif %}
        <h1 class="biz-name col-sm-12">{{ biz.name }}</h1>
    </div>
    {% block bizbody %}
    {% endblock bizbody %}
{% endblock body %}

{% block javascript %}
    <script type="text/javascript">
    $(function() {
        $('#mgmt_biz_copy').click(function() {
            if (confirm('Are you sure you want to copy this place?')) {
                location.href = '{% url 'mgmt_biz_copy' biz.id %}'
            }
        });
    });
    </script>
{% endblock javascript %}
