{% extends 'mgmt_biz_base.html' %}
{% load imagekit %}
{% load compressed %}

{% block title%} {{ biz.name }} - Images {% endblock %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'management' %}
{% endblock head %}

{% block search %}
{% endblock search %}

{% block bizbody %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">IMAGES
                    <div class="btn-group pull-right">
                        <a class="btn btn-default btn-sm" href="{% url 'mgmt_biz_image_link' biz.id %}">From Link</a>
                        <a class="btn btn-default btn-sm" href="{% url 'mgmt_biz_image_add' biz.id %}">From Desktop</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="thumbnails">
                    {% for i in images %}
                        <div class="col-xs-6 col-md-3">
                            {% thumbnail '380x250' i.image -- class="img-thumbnail" %}
                            <div class="bottom-overlay">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-default pull-left select-image" data-image-id="{{ i.id }}" >Select <i class="icon-ok"></i></button>
                                        &nbsp;
                                        <span class="image-delete btn btn-danger btn-link pull-right" data-image-id="{{ i.id }}"><span class="glyphicon glyphicon-trash"></span></span>
                                        &nbsp;
                                        <a class="btn btn-default btn-link pull-right" href="{% url 'mgmt_biz_image_edit' biz.id i.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Tags: 
                                        {% for t in i.tags.all %}
                                            <span class="btn btn-default">
                                                {{ t.name }}
                                            </span>
                                        {% empty %}
                                        None
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        Yikes! No images. 
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function() {
            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false,
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", $('meta[name="csrf-token"]').attr('content'));
                    }
                }
            });
            {% if biz.landing_image %}
                $('.select-image[data-image-id="{{ biz.landing_image.id }}"]')
                    .attr("disabled", "disabled");
            {% endif %}
            $('.select-image').click(function() {
                var self = $(this);
                var id = $(this).data('image-id');
                var url = "{% url 'mgmt_biz_set_landing_image' biz.id 0 %}";
                $.ajax({
                    url: url.replace(/\/0\//, '/' + id + '/'),
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    complete: function(result) {
                        $('.select-image').removeAttr("disabled");
                        self.attr("disabled", "disabled");
                    }
                });
            });
            $('.image-delete').click(function() {
                var id = $(this).data('image-id');
                var url = "{% url 'mgmt_image_delete' biz.id 0 %}";
                if (confirm('Are you sure you want to delete this image?')) {
                    $.ajax({
                        url: url.replace(/\/0\//, '/' + id + '/'),
                        type: "DELETE",
                        dataType: 'json',
                        contentType: 'application/json',
                        complete: function(result) {
                            location.href = '{% url "mgmt_biz_image_view" biz.id %}';
                        }
                    });
                }
            });
        });
    </script>

{% endblock javascript %}

