{% extends 'base.html' %}
{% load compressed %}

{% block title %} Management Dashboard {% endblock title %}

{% block head %}
    {{ block.super }}
    {% compressed_css 'management' %}
    {% compressed_css 'dataTables' %}
{% endblock head %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_biz_import' %}">Import Place</a>
            <a class="pull-right btn-sm btn btn-default" href="{% url 'mgmt_biz_add' %}">Add Place</a>
            <ul class="nav nav-tabs">
                <li class="active"><a href="{% url 'mgmt_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'mgmt_category_list' %}">Categories</a></li>
                <li><a href="{% url 'mgmt_image_tag_list' %}">Image Tags</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table dataTableCustom">
                                <thead>
                                    <th></th>
                                    <th>Status</th>
                                    <th>Name</th>
                                    <th>Categories</th>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_headers %}
    {{ block.super }}
    {% compressed_js 'management' %}
    {% compressed_js 'dataTables' %}
{% endblock javascript_headers %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        var oTable = $('.dataTableCustom').dataTable({
          "sPaginationType": "full_numbers",
          "iDisplayLength": 10,
          "aLengthMenu": [5, 10, 20, 50],
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": "/mgmt/api/biz/",
          "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "location", "value": $('#near').val() });
            $.getJSON(sSource, aoData, function (json) { 
                fnCallback(json)
            });
          },
          "aoColumns": [
            {"mData": "id"},
            {"mData": "status"},
            {"mData": "name"},
            {"mData": "categories"}
          ],
          "aoColumnDefs": [ {
            "aTargets":[0],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'center');
            },
            "mData": null,
            "mRender": function(data, type, full) {
                return '<td><a href="/mgmt/biz/view/' + data + '/main" class="add">' + 
                            '<span class="glyphicon glyphicon-pencil"></span>' + 
                       '</a></td>';
            }
          } , {
            "aTargets":[1],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'left');
            },
            "mData": null,
            "mRender": function(data, type, full) {
                if (data === "DR") {
                    return '<td>Draft</td>';
                } else if (data === "PUB") {
                    return '<td>Published</td>';
                } else if (data === "PEN") {
                    return '<td>Pending</td>';
                } else {
                    return '<td>Trashed</td>';
                }
            }
          } , {
            "aTargets":[3],
            "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
              $(nTd).css('text-align', 'center');
            },
            "mData": null,
            "mRender": function(data, type, full) {
              var html = '';
              for (var i = 0; i < data.length; ++i) {
                html += '<span class="btn btn-sm btn-default">' + data[i].name + '</span>';
              }
              return html;
            }
          }]
        });
        $('.panel select').select2({ 'width': '200px' });
    });
    </script>
{% endblock javascript %}

