{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <a class="pull-left btn btn-default" href="{% url 'mgmt_dashboard' %}">Back to Dashboard</a>
            <a class="pull-right btn btn-primary" href="{% url 'business_info' biz.id %}">Web View</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li {{ tab_main }}><a href="{% url 'mgmt_biz_view' biz.id %}">Data</a></li>
                <li {{ tab_images }}><a href="{% url 'mgmt_biz_image_view' biz.id %}">Images</a></li>
            </ul>
        </div>
    </div>
    <br />

    {% block bizbody %}
    {% endblock %}
{% endblock %}
