{% extends 'mgmt_biz_base.html' %}

{% block title%} {{ biz.name }} {% endblock %}

{% block bizbody %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">MAIN
                    <a class="pull-right" href="{% url 'mgmt_biz_edit' biz.id %}"><span class="glyphicon glyphicon-pencil" /></a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl>
                                <dt>Status:</dt>
                                <dd>
                                    <span id="status" class="editable" data-type="text" data-placeholder="Name" data-inputclass="select2"> {{ biz.lookupStatus }} </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Name:</dt>
                                <dd>
                                    <span id="name" class="editable" data-type="text" data-placeholder="Name" data-inputclass="input-large"> {{ biz.name }} </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Description:</dt>
                                <dd>
                                    <span id="description" class="editable" data-type="text" data-placeholder="Description" data-inputclass="input-large"> {{ biz.description }} </span>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl>
                                <dt>Phone:</dt>
                                <dd>
                                    <span id="phone" class="editable" data-type="text" data-placeholder="Website" data-inputclass="input-large"> {{ biz.phone }} </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Website:</dt>
                                <dd>
                                    <span id="website" class="editable" data-type="text" data-placeholder="Website" data-inputclass="input-large"> <a href="{{ biz.website }}">{{ biz.website }}</a>  </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Has Physical Business:</dt>
                                <dd>
                                    <span id="has_physical_business" class="editable" data-type="text" data-placeholder="Physical Business" data-inputclass="input-large"> {{ biz.has_physical_business|yesno }} </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Has Online Business:</dt>
                                <dd>
                                    <span id="has_online_business" class="editable" data-type="text" data-placeholder="Online Business" data-inputclass="input-large"> {{ biz.has_online_business|yesno }} </span>
                                </dd>
                            </dl>
                            <dl>
                                <dt>Bitcoin Discount:</dt>
                                <dd>
                                    <span id="has_bitcoin_discount" class="editable" data-type="text" data-placeholder="Bitcoin Discoint" data-inputclass="input-large"> {{ biz.has_bitcoin_discount }} </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">SOCIAL
                    <a class="pull-right" href="{% url 'mgmt_biz_social_edit' biz.id %}"><span class="glyphicon glyphicon-pencil" /></a>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">                    
                    {% for s in social %}
                        <tr>
                            <td> {{ s.lookupType }} </td>
                            <td> {{ s.social_id }} </td>
                            <td> <a href="{{ s.social_url }}">Link</a> </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="3">No social defined.</td></tr>
                    {% endfor %}
                    </table>                    
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">HOURS
                    <a class="pull-right" href="{% url 'mgmt_biz_hours_edit' biz.id %}"><span class="glyphicon glyphicon-pencil" /></a>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Day of Week</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    {% for h in hours %}
                        <tr>
                            <td>{{ h.lookupDayOfWeek }}</td>
                            <td>{{ h.hourStart }}</td>
                            <td>{{ h.hourEnd }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="3">No hours defined.</td></tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">LOCATION
                    <a class="pull-right" href="{% url 'mgmt_biz_loc_edit' biz.id %}"><span class="glyphicon glyphicon-pencil" /></a>
                    </div>
                <div class="panel-body">
                    <dl>
                        <dt>Address:</dt>
                        <dd>
                            <span id="address" class="editable" data-type="text" data-placeholder="Address" data-inputclass="input-large"> {{ biz.address }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>City:</dt>
                        <dd>
                            <span id="city" class="editable" data-type="text" data-placeholder="City" data-inputclass="input-large"> {{ biz.admin3_name }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>County:</dt>
                        <dd>
                            <span id="city" class="editable" data-type="text" data-placeholder="County" data-inputclass="input-large"> {{ biz.admin2_name }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>State:</dt>
                        <dd>
                            <span id="state" class="editable" data-type="text" data-placeholder="State" data-inputclass="input-large"> {{ biz.admin1_code }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Postal Code:</dt>
                        <dd>
                            <span id="postalcode" class="editable" data-type="text" data-placeholder="Postal Code" data-inputclass="input-large"> {{ biz.postalcode }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Country:</dt>
                        <dd>
                            <span id="country" class="editable" data-type="text" data-placeholder="Country" data-inputclass="input-large"> {{ biz.country }} </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Lat/Lon:</dt>
                        <dd>
                        <span id="latlon" class="editable" data-type="text" data-placeholder="Lat,Lon" data-inputclass="input-large"> {{ biz.center.y }}, {{ biz.center.x }} </span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
