*.pyc
logs
airbitz/media
*.db
*.swp
*.swo
.vagrant
.vagrant*


# pycharm
*.idea

# codekit
config.codekit
*-ck.js

# staging excludes
staging/media
staging/AIRBITZ_SSL

# Ignore postgres database dumps
*.dump

# Ignore .ssh keys
dev_keys
testing_keys
prod_keys