*.pyc
logs
airbitz/media
*.db
*.swp
*.swo
.vagrant
.vagrant*


# pycharm
*.idea

# codekit
config.codekit
*-ck.js
*-min.js
.sass-cache/

# staging excludes
staging/media
staging/AIRBITZ_SSL

# Ignore postgres database dumps
*.dump

# Ignore .ssh keys
/staging/.ssh
/airbitz/.env
