
  <div class="row">
    <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">
          <br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/>
        </div><!-- /.row -->

      </div>
    </div><!-- /.landing-module -->
  </div>


  <div id="section-bitcoin-wallet-platform-details" class="container">
    <div class="row">
      <h1 class="hidden-xs">
        <img src="{{ STATIC_URL }}img/icons/airbitz-platform-icon_64px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Bitcoin Wallet Server API
      </h1>
      <h1 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/genius_32px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Bitcoin Wallet Server API
      </h1>
      <p>The ABC architecture is inherently “client-strong” meaning nearly all wallet logic exists and operates on the client device. Servers exists only to assist in authentication, for encrypted backups, and as nodes on the bitcoin network. ABC leaves control of the private keys entirely in the hands of the user or application which controls the login and password of the account. Airbitz servers have no capability of spending funds on users’ behalf.</p>
    </div>

    <div class="row">
      <pre>
        <code class="language-markup">
          {{ gdoc_style }}
{#          {{ gdoc_body }}#}
        </code>
      </pre>
    </div>

    <div class="row googledoc">

      {{ gdoc_body|safe }}
    </div>

  </div>
