
<div class="row">
  <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

    <div class="container">

      <div class="slides row">
        <br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/>
      </div><!-- /.row -->

    </div>
  </div><!-- /.landing-module -->
</div>


<div id="section-bitcoin-wallet-platform-details" class="container">

  <h1 class="hidden-xs">
    {{ page_title|safe }}
  </h1>
  <h1 class="visible-xs-block">
    {{ page_title|safe }}
  </h1>

  <div class="row">

    <div class="col-xs-12">
      <p>You can find and claim Hiddenbits if you are in one of the cities below:</p>
      <ul>
        <li>Miami, Flordia</li>
        <li>San Diego, California</li>
      </ul>

      <h2><strong>Find and Claim Hiddenbits Instructions</strong></h2>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">1</div>
          <h3 class="step-description">Install</h3>
        </div>
        <div class="col-sm-10">

          <div class="download-preview row">
            <h2 style="margin-top: 0; font-size: 20px;"><i class="fa fa-download"></i> Download Airbitz for Android or iOS</h2>

        <div class="pull-left" style="margin-right: 10px;">
          <a style="display: inline-block; margin-bottom: 10px;" href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
            <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" title="Link to Bitcoin Wallet for Android" />
          </a>
          <br/>
          <a style="display: inline-block; margin-bottom: 10px;" href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
            <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store"  title="Link to Bitcoin Wallet for iOS" />
          </a>
        </div>
        <div class="pull-left">
          <a class="video" href="https://www.youtube.com/watch?v=E3Z7-ya-h5Y">
            <img src="{{ STATIC_URL }}img/landing/app-video-thumbnail.jpg" alt="See Airbitz in Action"/>
          </a>
        </div>
      </div>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">2</div>
          <h3 class="step-description">Follow</h3>
        </div>
        <div class="col-sm-10">
          <p><strong>Follow us and retweet this tweet.  The city with the most retweets will be the next chosen city.</strong></p>
          <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p>We are hiding <a href="https://twitter.com/hashtag/bitcoin?src=hash">#bitcoin</a> in cities near you. Use Airbitz wallet to find the <a href="https://twitter.com/hashtag/hiddenbits?src=hash">#hiddenbits</a>. Follow us for daily clues! <a href="http://t.co/2r2GNzfUTt">pic.twitter.com/2r2GNzfUTt</a></p>&mdash; Airbitz Inc (@Airbitz) <a href="https://twitter.com/Airbitz/status/555477093828415488">January 14, 2015</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">3</div>
          <h3 class="step-description">Listen</h3>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <p><strong>Listen for clues on Twitter then use the Airbitz directory to search for the clues.</strong></p>
              <blockquote class="twitter-tweet" data-conversation="none" data-cards="hidden" lang="en"><p><a href="https://twitter.com/Airbitz">@Airbitz</a> **EXAMPLE** DAILY CLUE: Search for &quot;Red Pill Smoothies&quot; in &quot;Cypherpunkville&quot; to find todays <a href="https://twitter.com/hashtag/hiddenbits?src=hash">#hiddenbits</a> <a href="http://t.co/23puESkMUH">pic.twitter.com/23puESkMUH</a></p>&mdash; Airbitz Inc (@Airbitz) <a href="https://twitter.com/Airbitz/status/555622063373697024">January 15, 2015</a></blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/hiddenbits/directory-clue-search.jpg" alt="Airbitz Clue Search" />
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/hiddenbits/directory-clue-result.jpg" alt="Airbitz Clue Search" />
            </div>
          </div>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">4</div>
          <h3 class="step-description">Go Visit</h3>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <p><strong>Physically visit the Hiddenbits location.</strong></p>
              <p><strong>When you arrive follow the instructions in the listing description carefully.</strong></p>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/hiddenbits/directory-listing-directions.jpg" alt="Airbitz Request Import"/>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/hiddenbits/directory-listing-instructions.jpg" alt="Airbitz QR Scan"/>
            </div>
          </div>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">5</div>
          <h3 class="step-description">Redeem</h3>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <a class="btn btn-lg btn-success" href="{% url 'page_card' %}">How to Redeem</a>
              <br/>
              <br/>
              <blockquote>
                <p><strong>Login to the Airbitz Wallet mobile app or create an account by tapping <code>Request</code> on the bottom bar.</strong></p>
                <p><strong>Then tap <code>Import</code>.</strong></p>
                <p><strong>Scan the QR code on the Airbitz Bitcoin Gift Card</strong></p>
              </blockquote>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-import-button.jpg" alt="Airbitz Request Import"/>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-request-import.jpg" alt="Airbitz QR Scan"/>
            </div>
          </div>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2 text-center">
          <div class="step">6</div>
          <h3 class="step-description">Share</h3>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <p><strong>Share your success via Twitter and we will boost your Hiddenbits reward!</strong></p>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/hiddenbits/twitter-hiddenbits-tweet.jpg" alt="Hiddenbits Tweet"/>
            </div>
          </div>

        </div>
      </div>

  </div>

  </div>

</div>
