
  <div class="row">
    <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">
          <br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/>
        </div><!-- /.row -->

      </div>
    </div><!-- /.landing-module -->
  </div>


  <div id="section-bitcoin-wallet-platform-details" class="container">
    <div class="row">
      <h2 class="hidden-xs">
        <img src="{{ STATIC_URL }}img/icons/genius_64px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Airbitz Core Platform
      </h2>
      <h3 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/wallet_32px.png" alt="Bitcoin Wallet" class="" />&nbsp;&nbsp;Airbitz Core Platform
      </h3>
      <p>The entire functionality and ease of use provided by the Airbitz wallet and directory is available as a powerful, cross platform library/API. The Airbitz Core (ABC) allows developers to quickly build products such as currency exchanges, ATMs, POS solutions, games, and payroll services and have them fully integrated with accounts & wallets from the Airbitz mobile app. The Airbitz mobile app is the first product utilizing this powerful platform, and the possible integration with other financial services is tremendous.</p>
      <p>The Airbitz wallet is built on the cross platform, C/C++ Airbitz Core library. This library alone implements the full functionality of the Airbitz wallet minus the graphical interface.  With the Airbitz Core library it is possible to quickly build applications where users to control their private keys safely and securely without compromising privacy, features, or ease of use.</p>
      <p>We envision an entire ecosystem of applications being built on the Airbitz platform with cross compatibility to access a user’s funds from within various apps. A user can create an account with the Airbitz mobile application. Then in one click, share a wallet with a multiplayer game to earn Bitcoin from within the game, share another wallet with a shopping mobile app to pay for goods, find a cafe using the Airbitz Directory and buy a coffee using the Airbitz mobile wallet, then link their wallet with financial planning software to help with budgeting and historical tracking, all from one account.</p>

      <div class="row">
        <div class="feature-major col-sm-6">
          <h3><img src="{{ STATIC_URL }}img/icons/layers_32px.png" alt="Security"/> Open Source</h3>
          <p>Airbitz had its open-source release on Oct 31, 2014.</p>
          <p>Open source code ensures that nothing can be hidden or not disclosed to the user and Airbitz has strong core values in being as transparent as possible.</p>
          <ul>
            <li><a href="https://github.com/Airbitz/airbitz-ios-gui" target="_blank" title="iPhone Bitcoin Wallet">Open Source iPhone Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Android Bitcoin Wallet">Open Source Android Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Library for Bitcoin Wallets">Open Source Bitcoin Wallet Core Library</a> (Library)</li>
          </ul>
        </div>

        <div class="feature-media-right col-sm-6">
          <img src="{{ STATIC_URL }}img/bitcoin-wallet/octocat.png" alt="Open Source via Github"/>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/circle-compass_32px.png" alt="Ease of Use"/> Decentralized and Private by Design</h3>
          <p>The Airbitz Core library can be utilized by other bitcoin companies and projects and significantly reduce their time to implement a bitcoin wallet backend system complete with user authentication, encryption, backup, and meta-data management. This library could be tremendously useful to bitcoin companies such as currency exchanges, ATMs, and payment processors.</p>
          <ul>
            <li>User authentication</li>
            <li>Encryption</li>
            <li>Backup</li>
            <li>Meta-data management</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/target_32px.png" alt="Use Cases"/> Use Cases</h3>
          <p>The Airbitz Core library is designed for Bitcoin projects and any financial service company with the need for Bitcoin wallet functionality while ensuring that users remains in control of their funds.
          <p>Below are a few categories for such Bitcoin projects or services and examples how the Airbitz Platform integrates:</p>
          <ul>
            <li>Currency Exchanges</li>
            <li>Web Applications</li>
            <li>Payment Processors</li>
            <li>Payroll Services</li>
            <li>POS Solutions</li>
            <li>ATMs</li>
            <li>Games</li>
          </ul>
        </div>
      </div>

    </div>
  </div>