
  <div class="row">
    <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">
          <br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/>
        </div><!-- /.row -->

      </div>
    </div><!-- /.landing-module -->
  </div>


  <div id="section-bitcoin-wallet-platform-details" class="container">
    <div class="row">
      <h1 class="hidden-xs">
        <img src="{{ STATIC_URL }}img/icons/airbitz-platform-icon_64px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Bitcoin Wallet API Library (Airbitz Core)
      </h1>
      <h1 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/genius_32px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Bitcoin Wallet API Library (Airbitz Core)
      </h1>
      <p>The <a href="{{ ABSOLUTE_ROOT_URL }}bitcoin-wallet/" title="Airbitz Bitcoin Wallet">Airbitz Bitcoin wallet and directory</a> is available as a powerful, cross platform API library which includes all the functionality and ease-of-use of the Airbitz mobile application. The Airbitz Core (ABC) gives developers the ability to build Bitcoin products such as currency exchanges, ATMs, POS solutions, games, and payroll services that are fully integrated with accounts and wallets from the Airbitz mobile app. The Airbitz mobile app is the first product utilizing this open platform, and the potential for future integrations with other financial and alternative services is vast.</p>
      <p>The <a href="{{ ABSOLUTE_ROOT_URL }}bitcoin-wallet/" title="Airbitz Bitcoin Wallet">Airbitz Bitcoin Wallet</a> is built on the cross platform, C/C++ Airbitz Core library. This library implements the Airbitz wallet functionality in its entirety, minus the graphical interface. The Airbitz Core library makes it possible to quickly build applications where users control their private keys safely and securely without compromising privacy, features, or usability.</p>
      <p>The Airbitz Core enables an ecosystem of applications built on the Airbitz platform with both the compatibility and capability to securely access a users’ funds from within various external applications. A wallet created on the Airbitz mobile application can be quickly shared with a multiplayer game to earn Bitcoin from within the app, a mobile shopping app to pay for goods, or financial planning software to help with budgeting and tracking, all from one account.</p>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/circle-compass_32px.png" alt="Ease of Use"/> Decentralized and Private by Design</h3>
          <p>The Airbitz Core library can be utilized by other Bitcoin companies and projects. Utilization of the Airbitz Core (ABC) can significantly reduce implementation time for a Bitcoin wallet backend system. ABC implements the following functionality of the Airbitz wallet:</p>
          <ul>
            <li>User authentication</li>
            <li>Account/Wallet Creation</li>
            <li>Client-side Encryption</li>
            <li>Multi-device synchronization & Backup</li>
            <li>Transaction Meta-data management</li>
            <li>Bitcoin Address generation / key management</li>
            <li>Transaction signing / broadcasting</li>
            <li>Decentralized access to bitcoin network</li>
            <li>Shared wallets w/multisig (Q1 2015)</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/target_32px.png" alt="Use Cases"/> Use Cases</h3>
          <p>The Airbitz Core library is designed for Bitcoin projects and any financial service company with the need for Bitcoin wallet functionality.</p>
          <p>Potential Airbitz Platform Integrations:</p>
          <ul>
            <li>Currency Exchanges</li>
            <li>Payment Processors</li>
            <li>Payroll Services</li>
            <li>POS Solutions</li>
            <li>ATMs</li>
            <li>Games</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-8">
          <h3><img src="{{ STATIC_URL }}img/icons/layers_32px.png" alt="Security"/> Open Source Platform</h3>
          <p>Airbitz was released open source on Oct 31, 2014.</p>
          <p><a href="http://en.wikipedia.org/wiki/Open-source_software" target="_blank">Open source software</a> provides the transparency required to verify the promised functionality of Bitcoin software. Airbitz strongly believes in the open source model and has contributed significantly to various open source projects, including our own.</p>
          <ul>
            <li><a href="https://github.com/Airbitz/airbitz-ios-gui" target="_blank" title="iPhone Bitcoin Wallet">Open Source iPhone Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-android-gui" target="_blank" title="Android Bitcoin Wallet">Open Source Android Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Library for Bitcoin Wallets">Open Source Airbitz Core Library</a> (ABC Bitcoin Wallet Library)</li>
          </ul>
        </div>

        <div class="feature-media-right col-sm-4">
          <img src="{{ STATIC_URL }}img/bitcoin-wallet/open-source-software.jpg" alt="Open Source via Github" class="img-responsive" />
        </div>
      </div>

    </div>
  </div>
