
  <div class="row">
    <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">
          <br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/>
        </div><!-- /.row -->

      </div>
    </div><!-- /.landing-module -->
  </div>


<div id="section-bitcoin-wallet-platform-details" class="container">

  <div class="row">
    <div class="col-md-3"></div>
    <h1 class="col-md-9 hidden-xs">
      <img src="{{ STATIC_URL }}img/icons/airbitz-platform-icon_64px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Airbitz Edge Security Developer API
    </h1>

    <h1 class="col-xs-offset-3 visible-xs-block">
      <img src="{{ STATIC_URL }}img/icons/genius_32px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;Developer API
    </h1>
  </div>

  <div class="row">

    <div class="col-md-3" style="margin-bottom: 40px">
      {% include 'sidebars/bitcoin-platform.html' %}
    </div>

    <div class="col-md-9">

      <div class="row">
        <div class="col-sm-12">
          <p>The <a href="{{ ABSOLUTE_ROOT_URL }}bitcoin-wallet/" title="Airbitz Mobile Bitcoin App">Airbitz Mobile Bitcoin App</a> is built on a platform that provides edge security for digital assets in a mobile-friendly, cross-platform SDK. Available as a powerful, open source software library, the Airbitz Core (ABC) provides all the security functionality and ease-of-use of the Airbitz mobile application including:</p>
          <ul>
            <li>Automatic client-side data encryption using users' credentials</li>
            <li>Automatic backup to P2P server nodes</li>
            <li>Automatic synchronization between users’ devices</li>
            <li>One-Touch 2 factor authentication</li>
            <li>Password recovery</li>
            <li>Data revision history and rollback</li>
            <li>Blockchain operations such as private key generation, transaction signing, and blockchain queries</li>
          </ul>
          <p>ABC gives developers the ability to build software such as ATMs, POS solutions, games, and payroll services that are fully integrated with accounts from the Airbitz mobile app. The Airbitz mobile app is the first product utilizing this platform, and the potential for future integrations with other applications is vast. Any developer that wishes to secure sensitive user data in a private, zero-knowledge, zero-trust infrastructure will find Airbitz a powerful solution to their data security.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/cloud_32px.png" alt="Decentralized"/> Decentralized</h3>
          <p>With our deep roots in decentralized technologies such as the blockchain and digital currencies, we immediately see the benefits in decentralizing the majority of our security infrastructure. Our level of decentralization allows users to still access their data and even execute blockchain operations even if Airbitz servers are down. This focus provides the type of resilience and fault tolerance unmatched by other data security platforms.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/circle-compass_32px.png" alt="Ease of Use"/> Private by Design</h3>
          <p>Security and privacy go hand in hand, and ABC provides incredibly high privacy to promote a fundamental disincentive to attackers of the system. No part of ABC collects sensitive user data such as names, emails, addresses or phone numbers. This disassociates the users of our platform from the potentially highly valuable data they may be trying to protect.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/target_32px.png" alt="Use Cases"/> Use Cases</h3>
          <p>The ABC library is designed for blockchain and digital asset projects with the need to secure high value, user information.</p>
          <p>Potential Airbitz Platform Integrations:</p>
          <ul>
            <li>Financial management software (Quicken / Quickbooks)</li>
            <li>Health care record tracking</li>
            <li>Secure messaging applications</li>
            <li>Secure authentication</li>
            <li>Payroll software</li>
            <li>POS Solutions</li>
            <li>Internet of Things devices</li>
            <li>ATMs</li>
            <li>Games</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-8">
          <h3><img src="{{ STATIC_URL }}img/icons/layers_32px.png" alt="Security"/> Open Source Platform</h3>
          <p>Airbitz was released open source on Oct 31, 2014.</p>
          <p><a href="http://en.wikipedia.org/wiki/Open-source_software" target="_blank">Open source software</a> provides the transparency required to verify the promised functionality of security software. Airbitz strongly believes in the open source model and has contributed significantly to various open source projects, including our own.</p>
          <ul>
            <li><a href="https://github.com/Airbitz/airbitz-ios-gui" target="_blank" title="iPhone Bitcoin App">Open Source iPhone Bitcoin App</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-android-gui" target="_blank" title="Android Bitcoin App">Open Source Android Bitcoin App</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Library for Bitcoin Wallets">Open Source Airbitz Core Library</a> (ABC Developer API/Library)</li>
          </ul>
        </div>

        <div class="feature-media-right col-sm-4">
          <img src="{{ STATIC_URL }}img/bitcoin-wallet/open-source-software.jpg" alt="Open Source via Github" class="img-responsive" />
        </div>
      </div>

    </div>
  </div>
</div>
