{% load absolute %}

  <div class="row">
    <div id="section-bitcoin-wallet-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">

          <div class="slide-image col-sm-6">
            <img src="{{ STATIC_URL }}img/bitcoin-wallet/bitcoin-wallet-0.png" alt="Bitcoin Wallet" class="img-responsive center-block" />
          </div>

          <div class="slide-text col-sm-6">
            <h1><img src="{{ STATIC_URL }}img/airbitz-mobile-app-64x64.png" alt="Bitcoin Wallet" class="" />&nbsp;Bitcoin Wallet</h1>
            <hr/>
            <ul>
              <li><i class="fa fa-code"></i> Open Source Code</li>
              <li><i class="fa fa-key"></i> Client Side Encryption</li>
              <li><i class="fa fa-lock"></i> Automated & Encrypted Backups</li>
              <li><i class="fa fa-sitemap"></i> Decentralized Architecture</li>
              <li><i class="fa fa-eye-slash"></i> No Personal Info Required</li>
            </ul>

            <p>
              <a style="display: inline-block; margin-bottom: 10px;" href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" />
              </a>
              <a style="display: inline-block; margin-bottom: 10px;" href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store" />
              </a>
            </p>
          </div>

        </div><!-- /.row -->


      </div>
    </div><!-- /.landing-module -->
  </div>

{#  <div id="features-wallet" class="section-bitcoin-wallet row">#}
{#    <div class="col-sm-12 text-center">#}
{#      <h1><img src="{{ STATIC_URL }}img/airbitz-mobile-app-64x64.png" alt="Bitcoin Wallet" class="" />&nbsp;Bitcoin Wallet</h1>#}
{#      <img src="{{ STATIC_URL }}img/bitcoin-wallet/bitcoin-wallet-0.png" alt="Bitcoin Wallet" class="img-responsive center-block" />#}
{#    </div>#}
{#  </div>#}

  <div id="section-bitcoin-wallet-details" class="container">
    <div class="row">
      <h2 class="hidden-xs" style>
        <img src="{{ STATIC_URL }}img/icons/airbitz-app-icon_64px.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
      </h2>
      <h3 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/wallet_32px.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
      </h3>

      <p class="pull-left" style="margin-top: 8px;">
        <a class="video" href="https://www.youtube.com/watch?v=E3Z7-ya-h5Y">
          <img src="{{ STATIC_URL }}img/landing/app-video-thumbnail.jpg" alt="See Airbitz in Action" style="margin-right: 15px;" />
        </a>
      </p>
      <p>Setup a secure, encrypted, and backed up Bitcoin wallet in just minutes to send or receive bitcoin, anywhere in the world. The Airbitz bitcoin wallet provides the easiest interface to transact with bitcoin and also includes a beautifully curated map and directory of both local and web based bitcoin businesses.</p>
      <p>The Airbitz wallet has enhanced privacy & security, and features a user-first interface which solves many of the usability issues plaguing current bitcoin wallets.</p>
      <p>While Airbitz keeps usability simple for the beginner, it sacrifices nothing for the advanced bitcoin user. Airbitz is easy enough for introducing Bitcoin to friends and family in under 5 minutes, while maintaining the latest, most empowering features for advanced users.</p>

      <hr/>

      <div class="row">
        <div class="feature-major col-sm-8">
          <h3><img src="{{ STATIC_URL }}img/icons/tools_32px.png" alt="Ease of Use"/> Designed to Be Simple Yet Powerful</h3>
          <p>The Airbitz mobile app is as simple and familiar as mobile online banking while retaining Bitcoin’s powerful capabilities of financial privacy, financial autonomy, and frictionless transfer of value.</p>
          <ul>
            <li>Simple account creation requires just a login, password, and 4 digit PIN (<a class="video" href="https://www.youtube.com/watch?v=oGBFbvZFt00">How to create a bitcoin wallet</a> video)</li>
            <li>Automatic wallet encryption, backup, and recovery</li>
            <li><strong>Receive</strong> or <strong>Send</strong> bitcoin in seconds using:
              <ul>
                <li>QR Code</li>
                <li>Email or SMS</li>
                <li>NFC (Near Field Communication)</li>
                <li>BLE (Bluetooth Low Energy)</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="feature-media-right col-sm-4">
          <iframe width="560" height="315" src="//www.youtube.com/embed/dv0RvkxYOaA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row">
        <div class="feature-media-left col-sm-4">
          <iframe width="560" height="315" src="//www.youtube.com/embed/oGBFbvZFt00" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="feature-major col-sm-8">
          <h3><img src="{{ STATIC_URL }}img/icons/upload_32px.png" alt="Safe"/> Safety & Users First</h3>
          <p>Bitcoin wallets present unique risks to users, requiring unfamiliar processes such as encrypting and backing up private keys. When using Airbitz, wallets, keys, and transaction data are always encrypted and always backed up with no additional steps required of users.</p>
          <p>Airbitz takes the risk of mobile device loss, theft, or damage out of the equation. A user’s login & password on any iPhone or Android device instantly recovers access to all wallet information and funds.</p>
          <p><strong>"Bitcoin: Safe, Simple, and Secure"</strong> is the mantra of Airbitz. The Airbitz wallet presents a familiar experience from account creation, to the sending and requesting funds.</p>
          <ul>
            <li>Unencrypted data is never stored on the device or transmitted to the network</li>
            <li>Encrypted wallet data is automatically backed up to the cloud</li>
            <li>Multi-device synchronization with no additional configuration</li>
            <li>Wallet recovery requires just a login & password on any compatible Android or iPhone device</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet security</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/lock_32px.png" alt="Security"/> Secure Data Encryption</h3>
          <p>Security is paramount in the Airbitz wallet and is built into the cross-platform Airbitz Core.</p>
          <ul>
            <li>Native C/C++ code for extremely strong encryption and password hashing</li>
            <li>GPU resistant S-Crypt password hashing & AES256 encryption</li>
            <li>Local client-side encryption of all data using user generated login & password</li>
            <li>No unencrypted wallet or transaction data stored on device</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet security</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/key_32px.png" alt="Privacy"/> Private and Decentralized Architecture</h3>
          <p>The core values behind Airbitz have led to a server architecture of the most private and decentralized bitcoin wallets available.</p>
          <p>A decentralized architecture allows wallets to function even while Airbitz servers are unavailable. The Airbitz wallet directly accesses bitcoin network nodes to send and receive funds providing a fault-tolerant experience. Peer-to-peer cloud backups also provide an anti-fragile network environment to help ensure maximum functionality in times of network distress.</p>
          <ul>
            <li>Zero personal user information required to use wallet (no name, address, email, and phone number are required)</li>
            <li>Local client-side encryption (S-Crypt password hashing & AES256 encryption) of all user keys and data</li>
            <li>Hierarchical Deterministic wallets with changing addresses per transaction</li>
            <li>Server data model provides no correlation between transactions and user accounts</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet architecture</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/adjustments_32px.png" alt="Ease of Use"/> Advanced Features</h3>
          <p>Although simple for the beginner Bitcoin user, Airbitz provides enhanced features that surpass the expectations of a Bitcoin veteran.</p>
          <ul>
            <li>Supports Bluetooth Low Energy (BLE) and NFC to transfer funds instead of scanning QR codes</li>
            <li>Multiple wallets per account with simple user defined wallet names (ie. “Vacation Fund”)</li>
            <li>Integration with the Airbitz Business directory to auto-complete business meta data for transactions</li>
            <li>User editable transaction data (payee, category, fiat value, & notes)</li>
            <li>Built in transaction search by payee, category, or notes</li>
            <li>Quick UI to transfer funds between wallets in an account</li>
            <li>Multiple fiat currency support. Assign a fiat currency per wallet</li>
            <li>Supports archiving wallets when not in use</li>
            <li>Export transaction data or keys in multiple formats</li>
            <li>Send payment requests via email or SMS</li>
            <li>Scan QR code from photo albums</li>
          </ul>
        </div>
      </div>


      <div class="row">
        <div class="feature-major col-sm-8">
          <h3><img src="{{ STATIC_URL }}img/icons/layers_32px.png" alt="Security"/> Open Source Platform</h3>
          <p>Airbitz was released open source on Oct 31, 2014.</p>
          <p><a href="http://en.wikipedia.org/wiki/Open-source_software" target="_blank">Open source software</a> provides the transparency required to verify the promised functionality of Bitcoin software. Airbitz believes strongly in the open source model and has contributed significantly to various open source projects including our own.</p>
          <ul>
            <li><a href="https://github.com/Airbitz/airbitz-ios-gui" target="_blank" title="iPhone Bitcoin Wallet">Open Source iPhone Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Android Bitcoin Wallet">Open Source Android Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Library for Bitcoin Wallets">Open Source Airbitz Core (ABC) Library</a> (Bitcoin Wallet Library)</li>
          </ul>
          <p>Learn more about the Airbitz Core library which is available to all for review and use.</p>
          <p><a class="btn btn-success btn-lg" href="{{ ABSOLUTE_ROOT_URL }}bitcoin-wallet-library/"><i class="fa fa-github"></i> Airbitz Core Bitcoin Wallet Library</a></p>
        </div>

        <div class="feature-media-right col-sm-4">
          <img src="{{ STATIC_URL }}img/bitcoin-wallet/octocat.png" alt="Open Source Bitcoin Library" class="img-responsive" />
        </div>
      </div>

    </div>
  </div>