{% load absolute %}

  <div class="row">
    <div id="section-bitcoin-wallet-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">

          <div class="slide-image col-sm-6">
            <img src="{{ STATIC_URL }}img/bitcoin-wallet/bitcoin-wallet-0.png" alt="Bitcoin Wallet" class="img-responsive center-block" />
          </div>

          <div class="slide-text col-sm-6">
            <h1><img src="{{ STATIC_URL }}img/airbitz-mobile-app-64x64.png" alt="Bitcoin Wallet" class="" />&nbsp;Bitcoin Wallet</h1>
            <hr/>
            <ul>
              <li><i class="fa fa-code"></i> Open Source Code</li>
              <li><i class="fa fa-key"></i> Keys Encrypted Client Side</li>
              <li><i class="fa fa-lock"></i> Secure Encrypted Backups</li>
              <li><i class="fa fa-sitemap"></i> Decentralized Architecture</li>
              <li><i class="fa fa-eye-slash"></i> No Personal Info Required</li>
            </ul>

            <p>
              <a style="display: inline-block; margin-bottom: 10px;" href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" />
              </a>
              <a style="display: inline-block; margin-bottom: 10px;" href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store" />
              </a>
            </p>
          </div>

        </div><!-- /.row -->


      </div>
    </div><!-- /.landing-module -->
  </div>

{#  <div id="features-wallet" class="section-bitcoin-wallet row">#}
{#    <div class="col-sm-12 text-center">#}
{#      <h1><img src="{{ STATIC_URL }}img/airbitz-mobile-app-64x64.png" alt="Bitcoin Wallet" class="" />&nbsp;Bitcoin Wallet</h1>#}
{#      <img src="{{ STATIC_URL }}img/bitcoin-wallet/bitcoin-wallet-0.png" alt="Bitcoin Wallet" class="img-responsive center-block" />#}
{#    </div>#}
{#  </div>#}

  <div id="section-bitcoin-wallet-details" class="container">
    <div class="row">
      <h2 class="hidden-xs" style>
        <img src="{{ STATIC_URL }}img/icons/wallet_64px.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
      </h2>
      <h3 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/wallet_32px.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
      </h3>

      <p class="pull-left">
        <a class="video" href="https://www.youtube.com/watch?v=E3Z7-ya-h5Y">
          <img src="{{ STATIC_URL }}img/landing/app-video-thumbnail.jpg" alt="See Airbitz in Action" style="margin-right: 15px;" />
        </a>
      </p>

      No setup or configuration necessary to send or receive bitcoin, anywhere in the world, in just minutes.  The Airbitz bitcoin wallet is one of the easiest wallets to start receiving or sending bitcoin and also includes a curated map and directory of both local and web based bitcoin business.
      <br/><br/>
      Airbitz wallet has enhanced privacy, security, and features a user-first interface which solves many of the usability issues plaguing current bitcoin wallet solutions.
      <br/><br/>
      While Airbitz keeps things simple for the beginner it sacrifices nothing in terms of advanced bitcoin wallet features.  Airbitz truely is easy enough that you can introduce bitcoin to friends and family in 15 minutes or less while maintaining the latest most empowering features for advanced users.

      <hr/>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/upload_32px.png" alt="Safe"/> Safety First Architecture</h3>
          <p>Using bitcoin wallets can be a risky to users unless certain precautions are taken such as encrypting and backing up the private keys in their wallets.  When using Airbitz your wallets are backed up and encrypted along with all transaction meta data instantly and automatically when you create your account.</p>
          <p>Airbitz takes the risk (due to mobile device loss, theft, or damage) of losing your bitcoins out of the equation.  If you lose or damage your device with bitcoins on it you can use any Android or iOS device with Airbitz installed to access your Airbitz wallet without having to restore any backups or deal with any encryption, keys, or files.</p>
          <p>Safe, Simple, and secure</p>
          <ul>
            <li>Wallet keys and data always encrypted client side and never leave your device unencrypted</li>
            <li>Encrypted wallet data backed up to cloud automatically for you</li>
            <li>Wallet restoration is simple just log into Airbitz on any compatible Android or iOS device and your data will be restored</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet security</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-6">
          <h3><img src="{{ STATIC_URL }}img/icons/tools_32px.png" alt="Ease of Use"/> Simple User Interface</h3>
          <p>Airbitz mobile app has been designed with the intentions that anyone who has used online banking should easily be able to use bitcoin in under 15 minutes.</p>
          <ul>
            <li>Simple account creation requires just a login, password, and 4 digit PIN (<a class="video" href="https://www.youtube.com/watch?v=oGBFbvZFt00">How to create a bitcoin wallet</a> video)</li>
            <li>Automatic wallet encryption, backup, and multi-device synchronization with no configurations necessary</li>
            <li>Receive or Send bitcoin using:
              <ul>
                <li>Email</li>
                <li>SMS</li>
                <li>QR Code</li>
                <li>NFC (Near Field Communication)</li>
                <li>BLE (Bluetooth Low Energy)</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="feature-media-right col-sm-6">
          <iframe width="560" height="315" src="//www.youtube.com/embed/dv0RvkxYOaA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/lock_32px.png" alt="Security"/> Secure Data Encryption</h3>
          <p>Airbitz takes security very seriously and it is built into the core or Airbitz.  You can count on same level of security to be provided no matter what device or operating system Airbitz is running on.</p>
          <ul>
            <li>Native C/C++ code for extremely strong encryption and password hashing (S-Crypt password hashing & AES256 encryption)</li>
            <li>Local client-side encryption using user generated login & password of all data</li>
            <li>No unencrypted wallet or transaction data stored on device</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet security</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/key_32px.png" alt="Privacy"/> Private and Decentralized Architecture</h3>
          <p>The core principles behind Airbitz have led us to design the server software architecture to be one of the most private and decentralized bitcoin wallets available.</p>
          <p>If Airbitz were to cease to exist there is no risk to your bitcoin, the same cannot be said for many other wallets.  With Airbitz all wallet functionality to send and receive is built into the app and requires no server interaction.  The only functionality that requires Airbitz servers to be online is related to the business directory features and your automatic wallet backups.</p>
          <ul>
            <li>Zero personal user information required to use wallet (name, address, email, and phone number are not involved or used)</li>
            <li>Local client-side encryption (S-Crypt password hashing & AES256 encryption) of all user keys and data</li>
            <li>Hierarchical Deterministic wallets with changing addresses per transaction</li>
            <li>No identifying or correlatable information stored on any server</li>
          </ul>

          <p>Learn more about <a class="video" href="https://www.youtube.com/watch?v=kkTyxnhZ16w">bitcoin wallet architecture</a>.</p>
        </div>
      </div>

      <div class="row">
        <div class="feature-major col-sm-12">
          <h3><img src="{{ STATIC_URL }}img/icons/adjustments_32px.png" alt="Ease of Use"/> Advanced Features</h3>
          <p>Aside from being simple to use for the beginner bitcoin user Airbitz wallet does not lack any enhanced features that any bitcoin veteran would expect from a world class hot wallet.</p>
          <ul>
            <li>Supports Bluetooth Low Energy (BLE) to transfer funds instead of scanning QR codes</li>
            <li>Multiple wallets per account with simple user defined wallet names (ie. “Vacation Fund”)</li>
            <li>Integration with the Airbitz Business directory to auto-complete business meta data for transactions</li>
            <li>User editable transaction data (payee, category, fiat value, & notes)</li>
            <li>Built in transaction search by payee, category, or notes</li>
            <li>Quick UI to transfer funds between wallets in an account</li>
            <li>Multiple fiat currency support. Assign a fiat currency per wallet</li>
            <li>Archive wallets not in use</li>
            <li>Export transaction data or keys in multiple formats</li>
          </ul>
        </div>
      </div>


      <div class="row">
        <div class="feature-major col-sm-6">
          <h3><img src="{{ STATIC_URL }}img/icons/layers_32px.png" alt="Security"/> Open Source Platform</h3>
          <p>Airbitz had its open-source release on Oct 31, 2014.</p>
          <p>Open source code ensures that nothing can be hidden or not disclosed to the user and Airbitz has strong core values in being as transparent as possible.</p>
          <ul>
            <li><a href="https://github.com/Airbitz/airbitz-ios-gui" target="_blank" title="iPhone Bitcoin Wallet">Open Source iPhone Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Android Bitcoin Wallet">Open Source Android Bitcoin Wallet</a> (GUI)</li>
            <li><a href="https://github.com/Airbitz/airbitz-core" target="_blank" title="Library for Bitcoin Wallets">Open Source Bitcoin Wallet Core Library</a> (Library)</li>
          </ul>
          <p>Learn more about the Airbitz Core library which is available to all for review and use.</p>
          <p><a class="btn btn-primary" href="{{ ABSOLUTE_ROOT_URL }}bitcoin-wallet-library/">Airbitz Core Bitcoin Wallet Library</a></p>
        </div>

        <div class="feature-media-right col-sm-6">
          <img src="{{ STATIC_URL }}img/bitcoin-wallet/octocat.png" alt="Open Source via Github"/>
        </div>
      </div>

    </div>
  </div>