<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/abstract" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/people" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/nightlife" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/food" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/transport" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/city" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/nature" alt="...">
    </a>
</div>

<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
        <img src="http://lorempixel.com/200/200/technics" alt="...">
    </a>
</div>