
<div id="features-wallet" class="section-bitcoin-wallet container-fluid" style="margin-top: 20px;">
  <div class="container text-center">
    <h2>&nbsp;</h2>
  </div>
</div>

<div class="section-bitcoin-wallet-details container">
  <div class="row">
    <h2 class="hidden-xs">
      <img src="{{ STATIC_URL }}img/icons/wallet_64px.png" alt="Bitcoin Wallet" title="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
    </h2>
    <h3 class="visible-xs-block">
      <img src="{{ STATIC_URL }}img/icons/wallet_32px.png" alt="Bitcoin Wallet" title="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" />&nbsp;&nbsp;Airbitz Bitcoin Wallet
    </h3>
    <p>The Airbitz mobile digital wallet is a decentralized, secure, private, synchronized, and backed up Bitcoin wallet.  A clean, user-first interface solves many of the usability issues plaguing current wallet solutions, while adding features including:</p>

    {% include '_home-app-download-preview.html' %}

    <div class="row">
      <div class="col-sm-12">
        <h3><img src="{{ STATIC_URL }}img/icons/tools_32px.png" alt="Ease of Use" title="Easy to Use" /> Ease of Use</h3>
        <ul>
          <li>Easy to search Business Directory Map (Find out who takes bitcoin around you)</li>
          <li>Supports Bluetooth Low Energy (BLE) to transfer funds instead of scanning QR codes</li>
          <li>Simple account creation using just a login & password (no printing or emailing of PDFs, writing down passphrases or adding encryption settings)</li>
          <li>Automatic wallet encryption, backup, and multi-device synchronization</li>
          <li>Multiple wallets per account with simple user defined wallet names (ie. “Vacation Fund”)</li>
          <li>Integration with the Airbitz Business directory to auto-complete business meta data for transactions</li>
          <li>User editable transaction data (payee, category, fiat value, & notes)</li>
          <li>Built in transaction search by payee, category, or notes</li>
          <li>Quick UI to transfer funds between wallets in an account</li>
          <li>Multiple fiat currency support. Assign a fiat currency per wallet</li>
          <li>Decentralized server architecture. Wallets work even if Airbitz servers are down</li>
        </ul>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
        <h3><img src="{{ STATIC_URL }}img/icons/key_32px.png" alt="Privacy" title="Private Wallet" /> Privacy</h3>
        <ul>
          <li>Hierarchical Deterministic wallets with changing addresses per transaction</li>
          <li>Local client-side encryption (S-Crypt password hashing & AES256 encryption) of all user keys and data</li>
          <li>No user info required to use wallet (no name, address, email, or phone number)</li>
        </ul>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
        <h3><img src="{{ STATIC_URL }}img/icons/lock_32px.png" alt="Security" title="Secure Wallet" /> Security</h3>
        <ul>
          <li>Native C/C++ code for super strong encryption and password hashing (S-Crypt password hashing & AES256 encryption)</li>
          <li>Local client-side encryption using user generated login & password </li>
          <li>Open-source release on Oct 31, 2014</li>
        </ul>
      </div>
    </div>
  </div>
</div>