<div class="iphone-app-slider">

  <div class="button-centerer">
    <a class="video" href="https://www.youtube.com/watch?v=E3Z7-ya-h5Y">
      <img id="see-app-in-action" data-video-id="y-OjBQTDzPcmg" src="{{ STATIC_URL }}img/landing/play-overlay.png" alt="Play Video"/>
    </a>
  </div>

  <div class="iphone-slider">
    <ul id="app-demo-slides">
      <li class="slide" >
          <img src="{{ STATIC_URL }}img/landing/iphone-slider/iPhone6-01.png" alt="Bitcoin Wallet"/>
      </li>
      <li class="slide" >
          <img src="{{ STATIC_URL }}img/landing/iphone-slider/iPhone6-02.png" alt="Bitcoin Wallet"/>
      </li>
    </ul>
  </div>

</div>