<div class="ab-app-cta">
    <div class="app-slide ab-app-android">
        <a class="app-install" href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
            <img class="app-store" src="{{ STATIC_URL }}wp/assets/img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" />
            <img class="app-screenshot" src="{{ STATIC_URL }}wp/assets/img/android-bitcoin-wallet-directory.png" alt="Bitcoin Wallet for Android" />
        </a>
    </div>
    <div class="app-slide ab-app-iphone">
        <a class="app-install" href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
            <img class="app-store" src="{{ STATIC_URL }}wp/assets/img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store" />
            <img class="app-screenshot" src="{{ STATIC_URL }}wp/assets/img/iphone-bitcoin-wallet-directory.png" alt="Bitcoin Wallet for iPhone" />
        </a>
    </div>
</div>
