      <div id="features-app" class="et_pb_row">

        <div class="et_pb_column et_pb_column_1_4">
          <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/icons/wallet_64px.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" /></div>
              {#              <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/bitcoin-wallet.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" /></div>#}
              <h3>Intuitive &amp; Powerful Wallet</h3>

{#              <p>User-first wallet architecture streamlines and simplifies your transactions without sacrificing features.</p>#}

            </div> <!-- .et_pb_blurb_content -->
          </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/icons/upload_64px.png" alt="Bitcoin Cloud Backup" class="et-waypoint et_pb_animation_top" /></div>
            {#            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/clound-synced.png" alt="Bitcoin Cloud Backup" class="et-waypoint et_pb_animation_top" /></div>#}
            <h3>Protect Bitcoins Against Loss or Damage</h3>

{#            <p>Your wallet is synced to our cloud servers and your other devices &#8211; but first, we encrypt the data on your device.</p>#}

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/icons/shield_64px.png" alt="Bitcoin Privacy" class="et-waypoint et_pb_animation_top" /></div>
            {#            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/bitcoin-privacy.png" alt="Bitcoin Privacy" class="et-waypoint et_pb_animation_top" /></div>#}
            <h3>Enhanced Privacy</h3>

{#            <p>Client side encryption means ZERO access to user data by Airbitz servers or employees as well as anyone but the wallet user.</p>#}

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/icons/map_64px.png" alt="Bitcoin Business Directory" class="et-waypoint et_pb_animation_top" /></div>
            {#            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}img/local-bitcoin-directory.png" alt="Bitcoin Business Directory" class="et-waypoint et_pb_animation_top" /></div>#}
            <h3>Worldwide Directory of Web and Local Businesses</h3>

{#            <p>Find the best places accepting bitcoin using a powerful, fluid, and beautiful mobile and web interface.</p>#}

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column -->
      </div> <!-- .et_pb_row -->






