<div class="iphone-app-slider">

  <div class="button-centerer">
    <a class="video" href="https://www.youtube.com/watch?v=OjBQTDzPcmg">
      <img id="see-app-in-action" data-video-id="y-OjBQTDzPcmg" src="{{ STATIC_URL }}img/landing/play-overlay.png" alt="Play Video"/>
    </a>
  </div>

  <div class="iphone-slider">
    <ul id="app-demo-slides">
      <li class="slide" >
        <h3 class="slide-title">Privacy First Bitcoin Wallet</h3>
        <img src="{{ STATIC_URL }}img/landing/iphone-slider/slide1.jpg" alt="Bitcoin Business Directory App"/>
      </li>
      <li class="slide">
        <h3 class="slide-title">Privacy First Bitcoin Wallet</h3>
        <img src="{{ STATIC_URL }}img/landing/iphone-slider/slide2.jpg" alt="Bitcoin Business Directory App"/>
      </li>
      <li class="slide">
        <h3 class="slide-title">Privacy First Bitcoin Wallet</h3>
        <img src="{{ STATIC_URL }}img/landing/iphone-slider/slide3.jpg" alt="Bitcoin Business Directory App"/>
      </li>
      <li class="slide">
        <h3 class="slide-title">Privacy First Bitcoin Wallet</h3>
        <img src="{{ STATIC_URL }}img/landing/iphone-slider/slide4.jpg" alt="Bitcoin Business Directory App"/>
      </li>
      <li class="slide">
        <h3 class="slide-title">Privacy First Bitcoin Wallet</h3>
        <img src="{{ STATIC_URL }}img/landing/iphone-slider/slide5.jpg" alt="Bitcoin Business Directory App"/>
      </li>
    </ul>
  </div>

</div>