<div class="mobile-app-download">
  <button type="button" class="close btn btn-link" aria-hidden="true" title="Hide Download Bar">&#10006;</button>
  <img src="{{ STATIC_URL }}/img/airbitz-mobile-app-64x64.png" class="mobile-app-icon" />
  <h2 class="mobile-app-title">Bitcoin Wallet & Map</h2>
  <h3 class="mobile-app-company">Airbitz</h3>
  <div class="g-plusone" data-size="small" data-annotation="inline" data-width="120" data-href="https://play.google.com/store/apps/details?id=com.airbitz"></div>
  <a class="install-button btn btn-xs btn-success" href="https://airbitz.co/app/">INSTALL</a>
</div>