<script type="text/javascript">

    // SEARCH FILTER UI
    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
          results = regex.exec(location.search);
      return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }


    var $s_type = getParameterByName('s_type');
    var $searchFilterButton = $('.search-filters .search-filter-button button');
    var $searchForms = $('.navbar-form');


    function updateSearchTypeFormField(selected){
      if($('.s_type_filter').length) {
        $('.s_type_filter').val(selected);
      } else {
        $searchForms.append('<input class="s_type_filter" type="hidden" name="s_type" value="' + selected + '">');
      }
    }

    function checkSearchFilters(){
      var $selected = $('.search-filters input[name=s_type]:checked').val();

      updateSearchTypeFormField($selected);

      if($s_type !== $selected) {
        $searchFilterButton.show();
      } else {
        $searchFilterButton.hide();
      }
    }

    function searchFilterInit(){
      var $searchFilters = $('.search-filters');
      $searchFilterButton.hide();

      $('.search-filters input[name="s_type"]')
          .filter('[value="' + $s_type + '"]').prop('checked', true);

      updateSearchTypeFormField($s_type);

      $('.search-info .term').on('click', function(){

          $('#input-name-category').select();

      });

      $('.search-info .location').on('click', function(){
        $('#input-location').focus();
      });

      $searchFilters.on('change', function(){
        checkSearchFilters();
        return true;
      });

      $searchFilterButton.on('click', function(e){
        e.preventDefault();
        $('#search-button').click();
        return true;
      });

      $searchFilters.fadeIn(2000);
    }

    searchFilterInit();








  // for clickable panel headings http://bootsnipp.com/snippets/featured/full-clickable-panel-heading
  $(document).on('click', '.panel-heading span.clickable', function (e) {
      var $this = $(this);
      if (!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideUp();
          $this.addClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
      } else {
          $this.parents('.panel').find('.panel-body').slideDown();
          $this.removeClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
      }
  });
  $(document).on('click', '.panel div.clickable', function (e) {
      var $this = $(this);
      if (!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.panel-body').slideUp();
          $this.addClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
      } else {
          $this.parents('.panel').find('.panel-body').slideDown();
          $this.removeClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
      }
  });
  $(document).ready(function () {
      $('.panel-heading span.clickable').click();
      $('.panel div.clickable').click();
  });
</script>



<div class="search-filters panel panel-primary">

  <div class="panel-heading clickable">
    <h3 class="panel-title">Search Filters</h3>
    <span class="pull-right "><i class="fa fa-chevron-circle-down"></i></span>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <legend>Business Types</legend>
      <div class="s-type-filter form-group">
        <div class="radio pull-left">
          <label>
            <input type="radio" name="s_type" value="" checked> <i class="fa fa-asterisk"></i> All
          </label>
        </div>
        <div class="radio pull-left">
          <label>
            <input type="radio" name="s_type" value="local"> <i class="fa fa-map-marker"></i> Local
          </label>
        </div>
        <div class="radio pull-left">
          <label>
            <input type="radio" name="s_type" value="web"> <i class="fa fa-globe"></i> Web
          </label>
        </div>
      </div>
      <div class="search-filter-button form-group">
        <div class="col-sm-12">
          <button class="btn-danger btn">Filter Search</button>
        </div>
      </div>
    </form>
  </div>

</div>