<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airbitz</title>

    <script src="/static/2016-theme/js/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (navigator.userAgent.toLowerCase().includes("android")) {
          window.location.href = 'https://play.google.com/store/apps/details?id=com.airbitz'
        } else if (navigator.userAgent.toLowerCase().includes("iphone")) {
          window.location.href = 'https://itunes.apple.com/us/app/airbitz/id843536046'
        } else {
          window.location.href = 'https://www.airbitz.co/bitcoin-wallet'
        }
      })
    </script>
</head>
