{% extends 'base.html' %}
{% load imagekit %}
{% load humanize %}
{% load compressed %}
{% load absolute %}
{% load ab_custom_tags %}

{% block html_open_tag %}ng-app="addBiz"{% endblock html_open_tag %}{# angular initialization #}
{% block addthis_sharing %}{% endblock %}{# remove addthis #}

{% block head %}
  {{ block.super }}
  {% compressed_css 'business_add' %}
{% endblock %}

{% block title %}Create a Bitcoin Business Listing{% endblock title %}
{% block meta_description %}Easily create a business listing for a Bitcoin friendly business in just a couple middingminutes.{% endblock meta_description %}
{% block meta_news_keywords %}{{ biz.admin3_name }} Bitcoin Business, Accepts Bitcoin, Business Listing{% endblock meta_news_keywords %}

{% block og_title %}Create a Bitcoin Business Listing{% endblock og_title %}
{% block og_description %}Easily create a business listing for a Bitcoin friendly business in just a couple minutes.{% endblock og_description %}
{% block og_image %}{{ ABSOLUTE_ROOT_URL }}static/img/og-business.jpg{% endblock og_image %}

{% block twitter_title %}Create a Bitcoin Business Listing{% endblock twitter_title %}
{% block twitter_description %}Easily create a business listing for a Bitcoin friendly business in just a couple minutes.{% endblock twitter_description %}
{% block twitter_image_src %}{{ ABSOLUTE_ROOT_URL }}static/img/og-business.jpg{% endblock twitter_image_src %}



{% block top_bg %}
  <div class="top-bg-noblur" style="background: url('{{ STATIC_URL }}img/business-add/metro-city-bg.jpg'); height: 140%;">&nbsp;</div>
{% endblock %}

{% block admin_buttons %}
  {{ block.super }}
  {% if user.is_superuser %}{% endif %}
{% endblock admin_buttons %}

{% block body %}

  {% verbatim %}
  <div class="row">
    <div class="biz-info-header col-xs-12">
      <h1 class="biz-name text-center">
        <img class="alignnone" id="bitcoin-logo" alt="bitcoin" src="{% endverbatim %}{{ STATIC_URL }}{% verbatim %}wp/assets/img/bitcoin-icon-logo_white-bg.png" width="64" height="64">&nbsp;Add a Bitcoin Friendly Business
      </h1>
    </div>
  </div>

  <div class="row" style="margin: 50px 0;">
    <div class="col-sm-12 text-center">

      <div class="add-biz-steps">
        <button ui-sref-active="btn-primary" ui-sref="placeLookup" class="step btn btn-default btn-circle">1</button>
        <button ui-sref-active="btn-primary" ui-sref="collectAll" class="step btn btn-default btn-circle">2</button>
        <button ui-sref-active="btn-primary" ui-sref="imageGatherer" class="step btn btn-default btn-circle">3</button>
        <button ui-sref-active="btn-primary" ui-sref="bizPreview" class="step btn btn-default btn-circle">4</button>
      </div>


      <div class="add-biz-steps btn-group hide">
        <button ui-sref-active="btn-primary" ui-sref="placeLookup" class="step btn btn-default">1. Lookup</button>
        <button ui-sref-active="btn-primary" ui-sref="generalInfo" class="step btn btn-default">2. General</button>
        <button ui-sref-active="btn-primary" ui-sref="locationInfo" class="step btn btn-default">3 Location</button>
        <button ui-sref-active="btn-primary" ui-sref="socialInfo" class="step btn btn-default">4. Social</button>
        <button ui-sref-active="btn-primary" ui-sref="bizHours" class="step btn btn-default">5. Hours</button>
        <button ui-sref-active="btn-primary" ui-sref="imageGatherer" class="step btn btn-default">6. Images</button>
        <button ui-sref-active="btn-primary" ui-sref="bizPreview" class="step btn btn-default">7. Preview</button>
        <button ui-sref-active="btn-primary" ui-sref="collectAll" class="step btn btn-default">All</button>
      </div>
    </div>
  </div>

  <div ui-view class="main-view container"></div>

  {% endverbatim %}


{% endblock %}

{% block javascript_headers %}
  {{ block.super }}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3.exp&libraries=places"></script>
  {% compressed_js 'angularjs' %}
  {% compressed_js 'business_add' %}
{% endblock javascript_headers %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">


  </script>
{% endblock %}

