{% load compressed %}
{% load absolute %}



<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta charset="UTF-8" />

    {% block head_seo_social %}

        {% block seo_meta %}
            <title>{% block title %}Bitcoin Wallet, Map, and Business Directory{% endblock title %} | Airbitz</title>
            <meta name="description" content="{% block meta_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock meta_description %}">
            <meta name="news_keywords" content="{% block meta_news_keywords %}Local Bitcoin Business,Bitcoin Food,Bitcoin Friendly Business{% endblock meta_news_keywords %}">
        {% endblock seo_meta %}

        {% block og_meta %}
            <meta property="og:title" content="{% block og_title %}Airbitz Bitcoin Wallet and Directory{% endblock og_title %}">
            <meta property="og:description" content="{% block og_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock og_description %}">
            <meta property="og:type" content="{% block og_type %}Article{% endblock og_type %}">
            <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock og_url %}">
            <meta property="og:image" content="{% block og_image %}{{ ABSOLUTE_ROOT_URL }}static/img/og-home.jpg{% endblock og_image %}">
            <meta property="og:site_name" content="{% block og_site_name %}Airbitz{% endblock og_site_name %}">
    {#        <meta property="fb:admins" content="{% block og_fb_admins %}{% endblock og_fb_admins %}">#}
        {% endblock og_meta %}

        {% block twitter_meta %}
            <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock twitter_card %}">
            <meta name="twitter:site" content="{% block twitter_site %}@airbitz{% endblock twitter_site %}">
            <meta name="twitter:title" content="{% block twitter_title %}Airbitz Bitcoin Wallet and Directory{% endblock twitter_title %}">
            <meta name="twitter:description" content="{% block twitter_description %}Airbitz builds the easiest to use and easiest to secure mobile Bitcoin wallet alongside a comprehensive and quality Bitcoin business directory.{% endblock twitter_description %}">
            <meta name="twitter:creator" content="{% block twitter_creator %}@airbitz{% endblock twitter_creator %}">
            <meta name="twitter:image:src" content="{% block twitter_image_src %}{{ ABSOLUTE_ROOT_URL }}static/img/og-home.jpg{% endblock twitter_image_src %}">
            <meta name="twitter:domain" content="{% block twitter_domain %}{{ request.META.HTTP_HOST }}{% endblock twitter_domain %}">
            <meta name="twitter:url" content="{% block twitter_url %}{{ request.build_absolute_uri }}{% endblock twitter_url %}">
            <meta name="twitter:author" content="{% block twitter_author %}@airbitz{% endblock twitter_author %}">
        {% endblock twitter_meta %}

    {% endblock head_seo_social %}

    <!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}wp/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
	<![endif]-->

	<script type="text/javascript">
		document.documentElement.className = 'js';

        // FOR REGION MAP
        var activeRegions = {{ active_regions|safe }}
        var allRegions = {{ all_regions|safe }}
	</script>

    <script type="text/javascript">//<![CDATA[
    // Google Analytics for WordPress by Yoast v4.3.4 | http://yoast.com/wordpress/google-analytics/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47697034-1']);
                    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    //]]></script>

    <meta content="airBitz v.0.1" name="generator"/><link rel='stylesheet' id='custom-style-css'  href='{{ STATIC_URL }}wp/wp-content/themes/airbitz/css/custom-ver=3.8.1.css' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800%7CRaleway:400,200,100,500,700,800,900&subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='et-gf-source-sans-pro-css'  href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css'  href='{{ STATIC_URL }}wp/wp-content/themes/airbitz/style-ver=3.8.1.css' type='text/css' media='all' />

    <link rel='stylesheet' id='et-shortcodes-css-css'  href='{{ STATIC_URL }}wp/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes-ver=3.0.css' type='text/css' media='all' />
    <link rel='stylesheet' id='et-shortcodes-responsive-css-css'  href='{{ STATIC_URL }}wp/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive-ver=3.0.css' type='text/css' media='all' />

    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc-rsd.php.html" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{ STATIC_URL }}wp/wp-includes/wlwmanifest.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="mobile-web-app-capable" content="yes">

    <style>
        a { color: #2291cf; }
        body { color: #666666; }
        .et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_pb_pricing_table_button, .comment-reply-link, .form-submit input { background-color: #80c341; }
        .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background: #80c341 !important; }
        #et_search_icon:hover, .mobile_menu_bar:before, .footer-widget h4, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_overlay:before, .entry-summary p.price ins, .woocommerce div.product span.price, .woocommerce-page div.product span.price, .woocommerce #content div.product span.price, .woocommerce-page #content div.product span.price, .woocommerce div.product p.price, .woocommerce-page div.product p.price, .woocommerce #content div.product p.price, .woocommerce-page #content div.product p.price { color: #80c341 !important; }
        .woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before { color: #80c341 !important; }
        #main-footer { background-color: #2e2e2e; }
        #top-menu a { color: #666666; }
        #top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a { color: #2291cf; }
        h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif; }body, input, textarea, select { font-family: 'Source Sans Pro', Helvetica, Arial, Lucida, sans-serif; }
    </style>

    <style type="text/css">
        .recentcomments a { display:inline !important; padding:0 !important; margin:0 !important; }
    </style>

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.ico">

    {% block head %}
        {% compressed_css 'global' %}
        {% compressed_css 'home' %}
        {% compressed_js 'core' %}
        {% compressed_js 'home' %}
        {% compressed_js 'angularjs' %}
    {% endblock head %}


<script type="text/javascript">
  console.log('TRYING...');

  var app = angular.module('abHome', [
    'ui.router',
    'ngAnimate'
  ]);


  app.config(function($stateProvider, $urlRouterProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';   //http://django-angular.readthedocs.org/en/latest/integration.html#xmlhttprequest

    $urlRouterProvider.otherwise('/');

    $stateProvider
      // route for home
        .state('home', {
          url: '/',
          templateUrl: '../partials/region-list.html',
          controller: 'abRegCatSearch',
          resolve: {
            regionData: function($http){
              return $http.get('http://127.0.0.1:8000/mgmt/api/biz/regioncount').then(function(res){
                return res.data.results;
              });
            }
          }
        })
        .state('region', {
          url: "/region/:region",
          templateUrl: "../partials/region.html",
          controller: 'abRegShow',
          resolve: {
            {#            region: function($http, $stateParams){#}
            {#              return $http.get('http://127.0.0.1:8000/region/' + $stateParams.region).then(function(res){#}
            {#                return res.data.region;#}
            {#              });#}
            {#            }#}
            region: function(){ return {
              'California': 342,
              'Nevada': 242,
              'Pennsylvannia': 142,
              'Alaska': 32
            }}
          }
        })

  });

  app.controller('abRegCatSearch', ['$scope', '$http', 'regionData', function($scope, $http, regionData) {

    console.log('abRegCatSearch CONTROLLER LOADED');
    $scope.regionData = regionData;

  }]);

  app.controller('abRegShow', ['$scope', 'region', function($scope, region) {

    console.log('abRegShow controller loaded');
    $scope.region = region;

  }]);



</script>


</head>
<body {% verbatim %}ng-app="abHome"{% endverbatim %} class="home page page-id-145 page-template-default et_fixed_nav et_pb_pagebuilder_layout et_right_sidebar unknown et_includes_sidebar">

{% include '_top_navbar.html' %}

{% verbatim %}
<div class="landing-module container-fluid">

  <div class="container">

    <div class="row">


      <div class="column1 col-lg-4">

      <ui-view></ui-view>



      </div>

      <div class="column2 col-lg-4">
      {% endverbatim %}
        <img src="{{ STATIC_URL }}img/landing/iphone5s_1up.png" alt=""/>
      {% verbatim %}
      </div>

      <div class="column3 col-lg-4">
        {% endverbatim %}


        <img class="alignnone airbitz-slide-logo" alt="airbits logo" src="{{ STATIC_URL }}wp/assets/img/airbitz-slide-logo-fadeout.png">

        <div class="bitcoin-directory-wallet row">
          <div class="col-xs-12">
            <img class="alignnone" id="bitcoin-logo" alt="bitcoin" src="{{ STATIC_URL }}wp/assets/img/bitcoin-icon-logo_white-bg.png" width="128" height="128">
            <h2>Bitcoin Business Directory</h2>
            <h2>+ Bitcoin Wallet <em style="color: #777">(Avail Soon)</em></h2>

            <p class="slide-text">
              Bitcoin Made Safe, Simple, and Secure.<br>
              Bitcoin Businesses at Your Fingertips.
            </p>
          </div>
        </div>

        <div id="app-store-links" class="animated row">
          <div class="app-install col-sm-12 text-center animated">
            <a href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
              <img class="app-store animated" src="{{ STATIC_URL }}wp/assets/img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" />
            </a>
            <a href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
              <img class="app-store animated" src="{{ STATIC_URL }}wp/assets/img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store" />
            </a>
          </div>
        </div>

        <div class="signup-area row">
          <div class="col-sm-12">
            <form id="email-signup-form" class="form" role="form">
              <div class="form-group">
                <label for="inputEmailWallet" class="control-label"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp;Wallet Launch Email Sign Up</label>
                <input type="email" class="inputEmail form-control input-lg" id="inputEmailWallet" placeholder="Your Email">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success btn-block">Sign Up for Wallet Launch</button>
              </div>
            </form>
          </div>
        </div>


        {% verbatim %}
      </div><!-- /.column3 -->

    </div><!-- /.row -->

  </div>
</div>
{% endverbatim %}


<div id="main-content">

  <article id="post-145" class="post-145 page type-page status-publish hentry">
    <div class="entry-content">
      <div class="et_pb_section et_pb_fullwidth_section" style='background-color:#2291cf;'>

        <section id="main_tagline" class="et_pb_fullwidth_header et_pb_bg_layout_dark et_pb_text_align_center">
          <div class="et_pb_row">
            <h1>Connecting People and Businesses Through Bitcoin</h1>
          </div>
        </section><!-- /#main_tagline-->

      </div> <!-- .et_pb_section --><div class="et_pb_section" style='background-color:#ffffff;'>

      <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4">
          {% include '_home_app_install_cta.html' %}
        </div> <!-- .et_pb_column -->
      </div> <!-- .et_pb_row -->

      <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_1_4">
          <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}wp/assets/img/bitcoin-wallet.png" alt="Bitcoin Wallet" class="et-waypoint et_pb_animation_top" /></div>
              <h3>Intuitive &amp; Powerful Wallet</h3>

              <p>User-first wallet architecture streamlines and simplifies your transactions without sacrificing features.</p>

            </div> <!-- .et_pb_blurb_content -->
          </div> <!-- .et_pb_blurb -->
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}wp/assets/img/clound-synced.png" alt="Bitcoin Cloud Backup" class="et-waypoint et_pb_animation_top" /></div>
            <h3>Protect Bitcoins Against Loss or Damage</h3>

            <p>Your wallet is synced to our cloud servers and your other devices &#8211; but first, we encrypt the data on your device.</p>

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}wp/assets/img/bitcoin-privacy.png" alt="Bitcoin Privacy" class="et-waypoint et_pb_animation_top" /></div>
            <h3>Enhanced Privacy</h3>

            <p>Client side encryption means ZERO access to user data by Airbitz servers or employees as well as anyone but the wallet user.</p>

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_4">
        <div class="et_pb_blurb et_pb_bg_layout_light et_pb_text_align_center">
          <div class="et_pb_blurb_content">
            <div class="et_pb_main_blurb_image"><img src="{{ STATIC_URL }}wp/assets/img/local-bitcoin-directory.png" alt="Bitcoin Business Directory" class="et-waypoint et_pb_animation_top" /></div>
            <h3>Worldwide Directory of Web and Local Businesses</h3>

            <p>Find the best places accepting bitcoin using a powerful, fluid, and beautiful mobile and web interface.</p>

          </div> <!-- .et_pb_blurb_content -->
        </div> <!-- .et_pb_blurb -->
      </div> <!-- .et_pb_column -->
      </div> <!-- .et_pb_row -->

    </div> <!-- .et_pb_section --><div class="et_pb_section et_pb_fullwidth_section">
      <div id="bottom-slider" class="et_pb_slider">
        <div class="et_pb_slides">
          <div class="et_pb_slide et_pb_bg_layout_light et_pb_media_alignment_center" style='background-color:#ffffff;background-image:url({{ STATIC_URL }}wp/assets/img/btc-directory-map.jpg);'>
            <div class="et_pb_container clearfix">

              <div class="et_pb_slide_description">

                <div class="et_pb_slide_content">
                  <h2>Find Places That Are Bitcoin Friendly &amp;</h2>
                  <h2>Effortlessly Use Bitcoins With Your Mobile Device</h2>
                </div>

              </div> <!-- .et_pb_slide_description -->
            </div> <!-- .et_pb_container -->

          </div> <!-- .et_pb_slide -->

        </div> <!-- .et_pb_slides -->
      </div> <!-- .et_pb_slider -->


    </div> <!-- .et_pb_section --><div class="et_pb_section" style='background-color:#ffffff;'>
      <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4">
          <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">

            <h2>Bitcoin Wallet App <em style="color: #777">(Will be Available Soon)</em></h2>
            <p>The airBitz mobile digital wallet is a decentralized, secure, private, synchronized, and backed up Bitcoin wallet.  A clean, user-first interface solves many of the usability issues plaguing current wallet solutions, while adding features including:</p>

            <div id="wallet-icon" class="app-icon-image">
              <img class="alignnone" alt="airBits Mobile App" src="{{ STATIC_URL }}wp/assets/img/airbitz-app-256.png" width="175" height="175" />
            </div>
            <ul class="features-list">
              <li>Auto-synced wallets across multiple devices</li>
              <li>Cloud backups</li>
              <li>Financial tracking and reporting with exports to popular financial software</li>
              <li>Simplification of the wallet interface to use user-selected wallet names (vs. cryptic Bitcoin addresses)</li>
              <li>Local, client side encryption, providing ZERO access to user data by Airbitz servers, employees, or anyone but the wallet user</li>
              <li>Dynamic addresses change with every transaction to significantly increase wallet privacy</li>
              <li>Industry standard, incredibly strong, AES256 data encryption</li>
              <li>GPU resistant "password key stretching" to make brute force password hacking insanely difficult</li>
            </ul>
            <br style="clear: both;" />

            <h2>Bitcoin Business Directory</h2>
            <p>The airBitz wallet also includes a business directory to help consumers find merchants and websites that accept bitcoin as payment. Some of its powerful features include:</p>

            <div id="directory-icon" class="app-icon-image">
              <img class="alignnone" alt="airBitz Bitcoin Business Directory" src="{{ STATIC_URL }}wp/assets/img/bitcoin-directory-map.png" width="200" height="200" />
            </div>
            <ul class="features-list" style="">
              <li>Advanced search ability by proximity, business name, category, city, state, or country</li>
              <li>Inclusion of web based bitcoin businesses such as online merchants and exchange services</li>
              <li>Fluid interface with high resolution imagery for each business</li>
              <li>The most comprehensive listing of bitcoin businesses with businesses updated daily</li>
              <li>Alerts of new businesses in your area accepting bitcoin</li>
            </ul>
            <br style="clear: both;" />

          </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->
      </div> <!-- .et_pb_row -->

    </div> <!-- .et_pb_section -->
    </div> <!-- .entry-content -->


  </article> <!-- .et_pb_post -->



</div> <!-- #main-content -->

{% block footer %}
    {% include '_footer_main.html' %}
{% endblock footer %}

<script type='text/javascript' src='{{ STATIC_URL }}wp/wp-content/themes/Divi/js/jquery.fitvids.js?ver=1.0'></script>
<script type='text/javascript' src='{{ STATIC_URL }}wp/wp-content/themes/Divi/js/waypoints.min.js?ver=1.0'></script>

<script type='text/javascript' src='{{ STATIC_URL }}wp/wp-content/themes/Divi/js/custom.js?ver=1.0'></script>


    <script type="text/javascript">
    $(function() {
        AB.setup();
        AB.addLocationSearch($('input.location'));
        AB.addPlaceSearch($('input.term'));


        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/sf1HfQGz9aR6JlwkmTvKbQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

        //
        // UserVoice Javascript SDK developer documentation:
        // https://www.uservoice.com/o/javascript-sdk
        //

        // Set colors
        UserVoice.push(['set', {
          accent_color: '#448dd6',
          trigger_color: 'white',
          trigger_background_color: '#6aba2e'
        }]);

        // Identify the user and pass traits
        // To enable, replace sample data with actual user traits and uncomment the line
        UserVoice.push(['identify', {
          //email:      'john.doe@example.com', // User’s email address
          //name:       'John Doe', // User’s real name
          //created_at: 1364406966, // Unix timestamp for the date the user signed up
          //id:         123, // Optional: Unique id of the user (if set, this should not change)
          //type:       'Owner', // Optional: segment your users by type
          //account: {
          //  id:           123, // Optional: associate multiple users with a single account
          //  name:         'Acme, Co.', // Account name
          //  created_at:   1364406966, // Unix timestamp for the date the account was created
          //  monthly_rate: 9.99, // Decimal; monthly rate of the account
          //  ltv:          1495.00, // Decimal; lifetime value of the account
          //  plan:         'Enhanced' // Plan name for the account
          //}
        }]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

        // Or, use your own custom trigger:
        //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

        // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);


    });
    </script>



</body>
</html>
<!-- Localized -->
