{% extends 'base.html' %}
{% load imagekit %}
{% load compressed %}
{% load bootstrap_pagination %}

{% block title %}Search{% endblock title %}

{% block body %}

    {% if request.GET.location == 'On the Web' %}
    <div class="results-area">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="search-title hidden-xs hidden-sm">Bitcoin Businesses On the Web</h1>
                <h1 class="search-title visible-xs visible-sm">Search Results</h1>
                {% bootstrap_paginate page_obj range=15 %}
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-12"><strong>{{ results_info.total }}</strong> Total Results Found, <strong>{{ results_info.results_per_page }}</strong> Shown on Page</div>
                </div>
            </div>
        </div>

        <div class="results-grid list-group row">
            {% block result_grid_items %}
                {% for rbiz in results %}
                    {% include '_result_grid_item.html' %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            {% endblock result_grid_items %}
        </div>
    </div><!-- /.results-area -->

    <div class="row">
        <div class="col-sm-12">
            {% bootstrap_paginate page_obj range=15 %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm-12"><strong>{{ results_info.total }}</strong> Total Results Found, <strong>{{ results_info.results_per_page }}</strong> Shown on Page</div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="results-map-list row">
        <div class="col-sm-6">
            <h1 class="search-title hidden-xs hidden-sm row">Bitcoin Business Search Results</h1>
            <h1 class="search-title visible-xs visible-sm row">Search Results</h1>

            {% block results_list_items %}
                {% for biz in results %}
                    {% include '_result_list_item.html' %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            {% endblock results_list_items %}

        </div>
        <div class="location-search-info hidden-xs col-sm-6">
            <div class="map-container" data-spy="affix" data-offset-top="0">
                <div id="map"></div>
            </div>
            <div class="pagination-container" data-spy="affix" data-offset-top="0">
                <div class="row">
                    <div class="col-sm-12">
                    {% bootstrap_paginate page_obj range=10 %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><strong>{{ results_info.total }}</strong> Total Results Found, <strong>{{ results_info.results_per_page }}</strong> Shown on Map</div>
                </div>

            </div>
        </div>
    </div>

    {% endif %}


{% endblock %}

{% block javascript_headers %}
    {{ block.super }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ mapkey }}&sensor=false"> </script>
    {% compressed_js 'directory' %}
{% endblock javascript_headers %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">

        var markersJSON = [
        {% for biz in results %}
            {   lat: {{ biz.center.y }},
                lon: {{ biz.center.x }},
                name: "{{ biz.name }}",
                cats: '{% for c in biz.categories.all %}<span class="map-marker-cat label label-primary">{{c.name}}</span>{% empty %}<span class="label label-warning">Uncategorized</span>{% endfor %}',
                address: '{{ biz.address }}',
                img: '{% if biz.landing_image %}{% thumbnail "65x65" biz.landing_image.image -- class="marker-img" %}{% endif %}',
                url: '{% url 'business_info' biz.id %}'
            },
        {% endfor %}
        {} ];

        var json = markersJSON;

        $(function() {
        {% if searchLocation %}
            var polygon = [
            {% for l in searchLocation.bounding %}
                {% for p in l %}
                    { lat: {{ p.1 }}, lon: {{ p.0 }} },
                {% endfor %}
            {% endfor %}
            {} ];
            AB.addMap($('#map'), 5, {{ searchLocation.sortPoint.y }}, {{ searchLocation.sortPoint.x }}, json, polygon);
        {% elif userLocation %}
            AB.addMap($('#map'), 5, {{ userLocation.y }}, {{ userLocation.x }}, json);
        {% else %}
        if (json.length > 0) {
            AB.addMap($('#map'), 5, json[0].lat, json[0].lon, json);
        }
        {% endif %}
        });

    </script>
{% endblock %}
