{% verbatim %}

<!--{# TESTING GLOBAL DATA BETWEEN CONTROLLERS #}-->
<div class="row">

  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item text-success">
        <form class="form-horizontal">
          <label for="">QUERY BIZID</label>
          <input ng-model="query.bizId" type="text" class="form-control input-sm" />
          <button ng-click="query.getBiz(query.bizId)" class="btn btn-warning">getBiz({{ query.bizId }})</button>
          <p>storage_array: {{ storage_array.length }}</p>
        </form>
      </li>
    </ul>
  </div>

  <div class="col-sm-9">
    <div class="form-group">
      <textarea rows="7" class="form-control">{{ storage_array }}</textarea>
    </div>
  </div>

</div><!-- /.row -->
<!--{# /TESTING GLOBAL DATA BETWEEN CONTROLLERS #}-->

{% endverbatim %}