{% verbatim %}


<div class="general-info form-horizontal">
  <h4>Business Info</h4>

  <div class="form-group">
    <div class="col-sm-5 input-group-sm">
      <select ng-model="biz.status" id="status">
        <option value="ALL">Listing Status</option>
        <option value=""></option>
      </select>
    </div>

    <div class="checkbox col-sm-3">
      <label for="has_physical_business">
        <input ng-model="biz.has_physical_business" type="checkbox" id="has_physical_business" name="has_physical_business"> Physical
      </label>
    </div>

    <div class="checkbox col-sm-3 ">
      <label for="has_online_business">
        <input ng-model="biz.has_online_business" type="checkbox" id="has_online_business" name="has_online_business"> Online
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 input-group-lg">
      <input ng-model="biz.name" type="text" class="form-control" id="inputName" placeholder="Sunbucks" tooltip-trigger="focus" tooltip-placement="left" tooltip="Name of Business" />
    </div>
    <div class="col-sm-2 input-group-lg">
      <input ng-model="biz.discount" type="text" class="form-control" id="inputDiscount" placeholder="%" tooltip-trigger="focus" tooltip-placement="left" tooltip="Bitcoin Discount" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <textarea ng-model="biz.description" rows="4" class="form-control input-sm" placeholder="A short description about the business"  tooltip-trigger="focus" tooltip-placement="left" tooltip="Description" ></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <input ng-model="biz.categories" id="categories" value="{% for c in biz.categories.all %}{{c.id}},{% endfor %}" placeholder="Coffee & Tea" tooltip-trigger="focus" tooltip-placement="left" tooltip="Categories" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.website" type="text" class="form-control" id="inputWebsite" placeholder="https://sunbucks.com" tooltip-trigger="focus" tooltip-placement="left" tooltip="Website URL" />
    </div>
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.phone" type="text" class="form-control" id="inputPhone" placeholder="321-865-7309" tooltip-trigger="focus" tooltip-placement="left" tooltip="Phone Number" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.email" type="text" class="form-control input-sm" id="inputEmail" placeholder="jimmy@sunbucks.com" tooltip-trigger="focus" tooltip-placement="left" tooltip="Email" />
    </div>
  </div>
</div>


{% endverbatim %}