{% verbatim %}

<div class="row">

  <div class="location-lookup form-group col-sm-6">
    <label for="autocomplete"><i class="fa fa-map-marker"></i> Lookup via Google Places
    </label>
    <input ng-autocomplete ng-model="autocomplete" options="options" details="details" type="text" class="form-control" />
  </div>

  <div class="col-sm-6">
    <h2 style="margin-top: 0;">Lets Find the Business</h2>
    <div list-group>
      <div class="list-group-item">One</div>
      <div class="list-group-item">Two</div>
      <div class="list-group-item">Three</div>
      <div class="list-group-item">Four</div>
      <div class="list-group-item">Five</div>
    </div>
  </div>

</div>

{% endverbatim %}