{% verbatim %}

<div class="social-info form-horizontal">
  <h4>Social</h4>

  <div class="form-group">
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.google_plus_url" type="text" class="form-control input-sm" id="inputGooglePlusUrl" placeholder="plus.google.com/39392929291" />
    </div>
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.yelp_url" type="text" class="form-control input-sm" id="inputYelpUrl" placeholder="yelp.com/biz/sunbucks-tea-sandiego" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.facebook_url" type="text" class="form-control input-sm" id="inputFacebookUrl" placeholder="facebook.com/sunbucks" />
    </div>
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.twitter_url" type="text" class="form-control input-sm" id="inputTwitterUrl" placeholder="twitter.com/sunbucks" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 input-group-sm">
      <input ng-model="biz.foursquare_url" type="text" class="form-control input-sm" id="inputFoursquareUrl" placeholder="foursquare.com/v/sunbucks--coffe-shop/519fac01498e4aa727182ebd" />
    </div>
  </div>
</div>

{% endverbatim %}