<ul id="sidebar" class="nav nav-stacked navbar-left">
  <li><a class="active" href="{% url 'page_bitcoin_wallet_api_library' %}">API Library Overview</a></li>
  <li><a href="{% url 'page_bitcoin_wallet_client_server_architecture' %}">Client Server Architecture</a></li>
  <li><a href="{% url 'page_bitcoin_wallet_core_white_paper' %}">Core White Paper</a></li>
{#  <li><a href="{% url 'page_bitcoin_wallet_data_model' %}">Data Model</a></li>#}
  <li><a href="{% url 'page_bitcoin_wallet_data_sync_architecture' %}">Data Sync Architecture</a></li>
{#  <li><a href="{% url 'page_bitcoin_wallet_server_api' %}">Server API</a></li>#}
</ul>