// VARIABLES

$ab-blue: #2291cf;
$ab-blue-dark: #002E48;

$ab-green: #80c342;
$ab-green-dark: #55af00;


@import 'mixins';
@import 'bootstrap-scss/variables';



html {
    // utility classes
    .hl-blue {
        color: #00aaff;
    }

    #header {}

    .home-intro {
        margin-bottom: 100px;
        background: #333;

        h3 {
            color: white;
            margin-bottom: 10px;
            text-transform: none;
            line-height: 1em;
        }
        p {
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            color: #999;

            span {
                display: inline-block;
                padding-top: 0;
                font-size: 1em;

            }
            em {
                font-family: "Open Sans";
                font-size: 1.5em;
            }
            .outline {
                display: inline-block;
                padding: 0px 5px;
                border: 1px solid #999;
                border-radius: 3px;
                text-transform: capitalize;
            }
        }
    }
    .lead {
        font-size: 1.8em;
        strong {
            color: $ab-blue;
            //white-space:nowrap;
        }
    }
    .alternative-font {
        font-family: "Open Sans";
        font-size: 1.5em;
        font-style: italic;
    }

    .slider-container {

        .main-label {
            font-size: 42px;
            text-shadow: 0 2px 2px #000;
        }
        .bottom-label {
            font-weight: 500;
            text-shadow: 0 2px 2px #000;
        }
        .tp-caption {
            .fa-check {
                color: $ab-green;
            }
        }
    }

    section {
        &.section {
            background-color: white;
            border: none;

            &.section-text-light {
                .heading {
                    h1, h2, h3, h4, h5, h6 {
                        text-shadow: 0 1px 1px #777;
                    }
                }
            }
            &.section-text-dark {
                .heading {
                    h1, h2, h3, h4, h5, h6 {
                        text-shadow: 0 1px 1px #ddd;
                    }
                }
            }
            &.section-tall {
                margin: 100px 0 !important;
                padding: 100px;
            }
        }

        &.airbitz-app {
            margin: 100px 0;

            .airbitz-app-icon {
                height: 100px;
                margin-bottom: 20px;
            }
        }
    }

    ul > ul {
        margin-left: 25px;
    }

    .key-tech {
        margin-bottom: 15px;
        font-size: 1.4em;
        color: black;

        @media (max-width: $screen-sm) {
            font-size: 1em;
        }
    }

    .airbitz-team {
        margin-bottom: 0;

        .owl-controls {
            margin-top: 0;
        }
        .owl-nav {
                display: none;
            @media (min-width: $screen-md) {
            }
        }
        .thumb-info {

            &.thumb-info-bottom-info {
                .thumb-info-title {
                    background: rgba(0,0,0,0.7);
                    left: 0;
                    width: 100%;
                    max-width: 100%;
                    @include transition (all 0.3s ease);
                    top: auto;
                    bottom: 0;
                    filter: alpha(opacity = 0);
                    opacity: 0;
                    padding: 15px;
                    text-shadow: none;
                    color: white;
                }
                .thumb-info-type {
                    float: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                }
                &:hover {
                    .thumb-info-title {
                        filter: alpha(opacity = 100);
                        opacity: 1;
                        bottom: 0;
                    }
                    img {
                        @include transform(translateY(0px));
                    }
                }
            }
        }
    }

    .app-info {
        margin-bottom: 20px;

        h3 {
            line-height: 1.3em;
        }
        .app-install {
            img { margin-bottom: 10px}
        }
    }
    .app-screenshots {
        .img-thumbnail {
            border-radius: 0;
            border: none;
        }
    }


    body {
        &.home {
            font-size: 1.8em;

            p {
                line-height: 1.8em;
            }
        }
        &.api-sdk {

            h3 {
                text-transform: none;
            }
            .section {
                padding: 25px 0;
                border-radius: 5px;

                &.gradient-blue {
                    @include gradient-blue-transparent();
                }
                &.gradient-green {
                    @include gradient-green-transparent();
                }
                h3 {
                    font-weight: 200;
                    margin-bottom: 0;
                    margin-left: 30px;
                }
            }
        }
    }

}


// TEAM MODALS
.modal.team-profile {

    .modal-content {
        padding: 20px;

        @media(max-width: $screen-md) {
            zoom: .8;
        }
        @media(max-width: $screen-sm) {
            zoom: .65;
        }
    }
    .modal-header {
        border: none;
        h2 {
            margin-bottom: 10px;

            em {
                font-size: 90%;
            }
        }
        h3 {
            color: $ab-blue;
            margin-bottom: 0;
            font-weight: 700;
            letter-spacing: -1.5px;
        }
    }
    .modal-body {

        .skills-title {
            margin-top: 15px;
            font-weight: bold;
            color: $ab-blue;
        }
        .skills {
            padding-left: 0;

            .skill {
                list-style: none;
                padding-left: 15px;
                border-left: 3px solid $ab-green;
                margin-bottom: 10px;
            }
        }
        p {
            line-height: 1.6em;
        }
    }
    .modal-footer {
        border: none;

        .btn-inverse {
            color: white;
        }
    }
}


// CENTER MODALS
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#footer {
    background: $ab-blue-dark;
    border: none;

    p {
        color: #ddd;
    }
    .footer-copyright {
        background: $ab-blue-dark;
        border: none;
        font-size: 14px;

        p {
            color: #ddd;
        }
    }
    label {
        &.valid {
            color: $ab-green;
            text-indent: 0;
        }
        &.error {
            color: #FF1C1C;
        }
    }
}



