
<div class="row">
  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-sitemap"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Blockchain Technology</h4>
        <p>Immutable data solutions for trustless applications.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-key"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Private Key Authentication</h4>
        <p>Easy authentication with private keys to eliminate cumbersome and insecure passwords.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-power-off"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Internet of Things (IoT)</h4>
        <p>Edge Security for devices operating at the edge of technology.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-bitcoin"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Bitcoin / Digital Currencies</h4>
        <p>The largest decentralized computing system is our home.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-bank"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Financial Applications</h4>
        <p>Financial security leads information security into the future.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-expeditedssl"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Password Management</h4>
        <p>Bringing sanity to unwieldy and cumbersome traditional authentication.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-eye-slash"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Information Management</h4>
        <p>Information that is private but always available from any device.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-comments-o"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Secure Messaging</h4>
        <p>Keeping conversations private no matter what medium they traverse.</p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="feature-box feature-box-style-2">
      <div class="feature-box-icon">
        <i class="fa fa-stethoscope"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="mb-xs">Healthcare</h4>
        <p>Security is paramount for medical record privacy.</p>
      </div>
    </div>
  </div>
</div>