<div class="sdk-signup container" style="margin: 45px auto">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h2>Register Today for an <strong>API Key</strong> and <strong>Early Access</strong></h2>
      <form method="post" action="" class="form form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="signup_type" value="mailchimp">
        <div class="form-group">
          <div class="col-sm-4"><label>First name</label><input name="first" type="text" class="form-control" placeholder="First"></div>
          <div class="col-sm-4"><label>Last name</label><input name="last" type="text" class="form-control" placeholder="Last"></div>
          <div class="col-sm-4"><label>Email</label><input name="email" type="text" class="form-control" placeholder="Email Address"></div>
        </div>
        <div class="row">
          <div class="col-sm-offset-8 col-xs-4">
            <button type="submit" class="btn btn-success pull-right">Register Now</button>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>