{#  LARGE  #}
<div class="visible-lg visible-md mt-xlg mb-xlg">
  <div class="airbitz-team  carousel-6 owl-carousel full-width">
    {% for info in team_info_lg_row_1 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team  carousel-6 owl-carousel full-width">
    {% for info in team_info_lg_row_2 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>
</div>

{#  SMALL  #}
<div class="visible-sm visible-xs mt-xlg mb-xlg">
  <div class="airbitz-team carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_1 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_2 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_3 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_4 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_5 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>

  <div class="airbitz-team  carousel-2 owl-carousel full-width">
    {% for info in team_info_sm_row_6 %}
      {% include 'landing/_team-profile-square.html' %}
    {% endfor %}
  </div>
</div>