
<div class="row">
  <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

    <div class="container">

      <div class="slides row">
        <br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/>
      </div><!-- /.row -->

    </div>
  </div><!-- /.landing-module -->
</div>


<div id="section-bitcoin-wallet-platform-details" class="container">

  <h1 class="hidden-xs">
{#    <img src="{{ STATIC_URL }}img/icons/map_64px.png" alt="Hiddenbits" class="" />&nbsp;&nbsp;{{ page_title|safe }}#}
    {{ page_title|safe }}
  </h1>
  <h1 class="visible-xs-block">
{#    <img src="{{ STATIC_URL }}img/icons/map_32px.png" alt="Hiddenbits" class="" />&nbsp;&nbsp;{{ page_title|safe }}#}
    {{ page_title|safe }}
  </h1>


  <style>
    hr {
      margin: 40px 0;}
  </style>
  <div class="row">

    <div class="col-xs-12">
      <p>Bitcoin gift cards are a great way to share bitcoin with friends and family quickly and easily.  Redemption only take a few seconds once you have an Airbitz wallet.  Follow the simple instructions below.</p>

      <h2><strong>Redemption Instructions</strong></h2>
      <hr/>

      <div class="row">
        <div class="col-sm-2">
          <div class="step">1</div>
        </div>
        <div class="col-sm-10">

          <div class="download-preview row">

            <h2 style="font-size: 20px; margin-top: 0;"><i class="fa fa-download"></i> Download Airbitz for Android or iOS</h2>

            <div class="pull-left" style="margin-right: 10px;">
              <a style="display: inline-block; margin-bottom: 10px;" href="https://play.google.com/store/apps/details?id=com.airbitz" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-android.png" alt="Download Bitcoin Wallet from Android Play Store" title="Link to Bitcoin Wallet for Android" />
              </a>
              <br/>
              <a style="display: inline-block; margin-bottom: 10px;" href="https://itunes.apple.com/us/app/airbitz/id843536046?mt=8" target="_blank">
                <img class="app-store animated" src="{{ STATIC_URL }}img/available-on-apple-app-store.png" alt="Download Bitcoin Wallet from App Store"  title="Link to Bitcoin Wallet for iOS" />
              </a>
            </div>
            <div class="pull-left">
              <a class="video" href="https://www.youtube.com/watch?v=E3Z7-ya-h5Y">
                <img src="{{ STATIC_URL }}img/landing/app-video-thumbnail.jpg" alt="See Airbitz in Action"/>
              </a>
            </div>
          </div>

        </div>
      </div>


      <hr/>

      <div class="row">
        <div class="col-sm-2">
          <div class="step">2</div>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-4">
              <p><strong>Login to the Airbitz Wallet mobile app or create an account tapping <code>Wallets</code> on the bottom bar.</strong></p>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-wallet-button.jpg" alt="Airbitz Wallet Button" />
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-create-account.jpg" alt="Airbitz Create Account" />
            </div>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2">
          <div class="step">3</div>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <p><strong>Tap <code>Request</code> on the bottom bar.</strong></p>
              <p><strong>Then tap <code>Import</code>.</strong></p>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-request-button.jpg" alt="Airbitz Bitcoin Request" />
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-import-button.jpg" alt="Airbitz Wallet Import" />
            </div>
          </div>

        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-sm-2">
          <div class="step">4</div>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-4">
              <p><strong>Scan the QR code on the Airbitz Bitcoin Gift Card</strong></p>
            </div>
            <div class="col-sm-4">
              <img class="img-thumbnail" src="{{ STATIC_URL }}img/card/airbitz-request-import.jpg" alt="Airbitz Scan QR Code" />
            </div>
          </div>

        </div>
      </div>

      <hr/>

    </div>

  </div>

</div>
