
  <div class="row">
    <div id="section-bitcoin-wallet-platform-header" class="landing-module container-fluid">

      <div class="container">

        <div class="slides row">
          <br/><br/><br/><br/><br/><br/>
          <br/><br/><br/><br/><br/><br/>
        </div><!-- /.row -->

      </div>
    </div><!-- /.landing-module -->
  </div>


  <div id="section-bitcoin-wallet-platform-details" class="container">
    <div class="row">
      <h1 class="hidden-xs">
        <img src="{{ STATIC_URL }}img/icons/airbitz-platform-icon_64px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;{{ page_title }}
      </h1>
      <h1 class="visible-xs-block">
        <img src="{{ STATIC_URL }}img/icons/genius_32px.png" alt="Airbitz Platform" class="" />&nbsp;&nbsp;{{ page_title }}
      </h1>
    </div>

    <div class="row">
      <ul>
        <li>Peer to peer Git servers in cloud accessible via https w/no built in authentication security.</li>
        <li>Client creates random 20 byte sync key (similar to Bittorrent Sync).</li>
        <li>Sync keys are sent from clients to SQL auth server.</li>
        <li>SQL Auth server creates repo w/name = sync key on all Git servers</li>
        <li>SQL Auth server connects to Git servers via private SSH keys</li>
        <li>One repo per sync key.</li>
        <li>Repos are only created by auth server</li>
        <li>Each repo is named after the sync key hashed into directories by first 2 bytes</li>
        <li>All users have access to all repos.</li>
        <li>Attacker can't access another user’s repo unless they know it's name which is hard to know (large, random value).</li>
        <li>Disallow mobile client user from creating their own repos</li>
        <li>Post commit Git-hooks (python script) on server which auto pushes changes to all other Git servers.</li>
        <li>Private repo only admin accessible holds list of Git servers.</li>
        <li>Client using libgit2. Polls for changes on server every 5-10 secs</li>
        <li>Client Wallet core pulls list of Git servers from auth server</li>
        <li>Client Wallet core randomly chooses a Git server and triggers Push to server on every file change.</li>
      </ul>
    </div>
  </div>
